<br>
<h5>{{datosEvent.tiev_nombre}} - {{datosEvent.ev_fecha}}</h5>
<br>
<div class="card">
  <div class="card-body fuente">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/eventos/{{datosEvent.ev_img?datosEvent.ev_img:datosEvent.tiev_img}}" class="img-fluid rounded"
             alt="feature-image">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <span> Fecha: </span>
          </div>
          <div class="col">
            {{datosEvent.ev_fecha}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span > Tipo: </span>
          </div>
          <div class="col">
            {{datosEvent.tiev_nombre}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span > Lugar: </span>
          </div>
          <div class="col">
            {{datosEvent.lugc_nombre}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span > Hora Inicio - Fin: </span>
          </div>
          <div class="col">
            {{datosEvent.ev_horainicio}} - {{datosEvent.ev_horafin}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span > Detalle: </span>
          </div>
          <div class="col">
            {{datosEvent.ev_nota}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col">
            <br>
            <button class="btn btn-outline-primary" (click)="registrarme()"> Registrarme </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">

    <a class="card-link btn btn-outline-primary" (click)="gotoListado()"> Listado Eventos </a>

    <a *ngIf="isLogged" class="card-link btn btn-outline-primary" (click)="anularEvento()"> Anular Evento </a>
    <!--
      <button class="btn btn-outline-primary" (click)="gotoListado()"> Listado Eventos </button>
    <button class="btn btn-outline-warning" (click)="anularEvento()"> Anular Evento </button>
    -->
  </div>
</div>

<div class="modal fade" id="modalRegistraForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <app-personaform [eventId]="eventId"></app-personaform>
</div>
