<div class="card border-success">
 <div class="card-body">
  <div class="text-center">
   <h1 class="display-4">Descubre el blog de la Fundación Salud y Vida Nueva</h1>
  </div>
  <p class="lead">
   Aquí podras encontrar todos los artículos escritos por nuestros colaboradoes sobre nuestro trabajo</p>
  <!--
  <hr class="my-4">
  -->
 </div>
</div>
<br>

<!--
<div class="row">
 <div class="col-lg-12 text-center">
  <p class="subtitle colorfusay tituloFusay">Servicios</p>
  <hr>
 </div>
 <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let item of blogs">
  <div class="text-center position-relative px-4 py-5 rounded-lg shadow">
   <img src="{{item.blg_img}}" class="img-fluid rounded"
        alt="feature-image" (click)="showBlog(item)">
   <h5 class="pt-5 pb-3 text-capitalize card-title font-italic">{{item.blg_titulo}}</h5>
   <p class="mb-4 ">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam deleniti et explicabo minima officiis sit voluptatem! Consequatur consequuntur eum eveniet labore, officiis porro reiciendis? Corporis delectus ea facere nulla.
   </p>
   <a class="btn btn-outline-success"  (click)="showBlog(item)">Leer </a>
  </div>
 </div>
</div>
-->

<!--

<div class="card-deck">
 <div class="card" *ngFor="let item of blogs">
  <img src="{{item.blg_img}}" class="card-img-top img-fluid rounded-sm" alt="...">
  <div class="card-body">
   <h5 class="card-title"> {{item.blg_titulo}} </h5>
   <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card-footer">
   <small class="text-muted"> {{item.blg_fechacrea}} </small>
  </div>
 </div>-->
 <!--
 <div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
   <h5 class="card-title">Card title</h5>
   <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
  </div>
  <div class="card-footer">
   <small class="text-muted">Last updated 3 mins ago</small>
  </div>
 </div>
 <div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
   <h5 class="card-title">Card title</h5>
   <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
  </div>
  <div class="card-footer">
   <small class="text-muted">Last updated 3 mins ago</small>
  </div>
 </div>
 -->


<div class="card-deck">
 <div class="card" *ngFor="let item of blogs">
  <img class="card-img-top" src="{{item.blg_img}}" alt="Card image cap" width="210px" height="200px">
  <div class="card-body">
   <h5 class="card-title">{{item.blg_titulo}}</h5>
   <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card-footer">
   <small class="text-muted">{{item.blg_fechacrea}}</small>
   <button class="btn btn-outline-success pull-right"> <span style="padding: 5px 10px">Ver</span> </button>
  </div>
 </div>
</div>

<!--
<div class="card-deck">
 <div class="card" *ngFor="let item of blogs">
  <img class="card-img-top" src="{{item.blg_img}}" alt="Card image cap" width="210px" height="200px">
  <div class="card-body">
   <h5 class="card-title">{{item.blg_titulo}}</h5>
   <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
   <p class="card-text"><small class="text-muted">{{item.blg_fechacrea}}</small></p>
  </div>
 </div>
</div>
-->
