<h1 class="bd-title">
    <i class="fa-solid fa-table-list"></i>
    {{ title }} </h1>

<div class="row my-2 d-flex filafiltros">
    <div class="fechas">
        <app-rangofechas [form]="form" (evFilterSel)="listar()" [showlabels]="false"></app-rangofechas>
    </div>
    <div class="p-fluid combo" *ngIf="tracodigo!==7">
        <p-dropdown [options]="transaccs" optionLabel="tra_nombre"
                    filter="false"
                    optionValue="tra_codigo"
                    placeholder="Seleccione el tipo de transacción"
                    [showClear]="false"
                    (onChange)="listar()"
                    [(ngModel)]="form.tracod"></p-dropdown>
    </div>
    <div class="filtro">
        <div class="input-group">
            <input type="text" class="form-control" id="buscaInput" (keyup)="doFilter($event)" [(ngModel)]="filtro"
                   autocomplete="off"
                   placeholder="Buscar comprobante por número o por referente">
            <button class="btn btn-outline-secondary" *ngIf="filtro" type="button" id="button-clear" (click)="limpiar()"
                    title="Limpiar filtro">
                <i class="fa-solid fa-times"></i>
            </button>
            <button class="btn btn-outline-secondary" type="button" id="buttonSearh" (click)="listar()"
                    title="Buscar comprobante">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
    <div class="botones">
        <div class="btn-group dropdown" *ngIf="tracodigo===1">
            <button type="button" class="btn btn-outline-primary dropdown-toggle"
                    title="Registrar nueva factura o nota de venta"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="px-4">Crear</span>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item" (click)="goToFormFact(1, $event)"> Factura </a>
                <a href="#" class="dropdown-item" (click)="goToFormFact(2, $event)"> Nota de venta </a>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary" (click)="goToForm()" *ngIf="tracodigo===7 || tracodigo===14"
                title="Registrar nueva factura de compra">
            <span class="px-2"> Crear <i class="fa-solid fa-plus"></i> </span>
        </button>
    </div>
</div>
<div class="mt-2">
    <p-table [value]="grid.data" [paginator]="true"
             paginatorPosition="top"
             [rows]="rows" selectionMode="single"
             [(first)]="page"
             [(selection)]="selectedItem"
             (onRowSelect)="onRowSelect($event)"
             [totalRecords]="totalRecord"
             [lazy]="true"
             #transaccTable
             [loading]="isLoading"
             [resizableColumns]="true"
             (onLazyLoad)="doLazyLoad($event)"
             responsiveLayout="scroll"
             scrollHeight="calc(100vh - 260px)"
             tableStyleClass="table table-hover table-striped table-bordered fusay-table"
             [(contextMenuSelection)]="selectedItem"
             (onRowUnselect)="onUnRowSelect($event)">
        <ng-template pTemplate="paginatorleft">
            Total de registros: {{ totalRecord }}
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <app-export-btn [totalRecord]="totalRecord" [isDownloading]="isDownloading" [type]="1"
                            (onClic)="exportToPdf()"></app-export-btn>
            <app-export-btn [totalRecord]="totalRecord" [isDownloading]="isDownloading" [type]="2"
                            (onClic)="exportToExcel()"></app-export-btn>
            <span>
                Página {{ totalRecord > 0 ? Math.floor(page / rows) + 1 : 0 }} de {{ Math.ceil(totalRecord / rows) }}
            </span>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th *ngFor="let item of grid.cols" [pSortableColumn]="item.field" [ngSwitch]="item.field"
                    [width]="item.width">
                    <span class="fontsizenr">{{ item.label }}</span>
                    <p-sortIcon [field]="item.field"></p-sortIcon>
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" (dblclick)="verRow(rowData)">
                <td>{{ rowIndex + 1 }}</td>
                <td *ngFor="let item of grid.cols">
                    <div class="fixcolwid">
                        <span class="fontsizesm">{{ rowData[item['field']] }}</span>
                    </div>
                </td>
                <td>
                    <button class="btn btn-sm btn-outline-dark" (click)="verRow(rowData)" title="Editar">
                        <i class="fas fa-eye"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
        <!--
        <ng-template pTemplate="footer">
            <tr>
                <th colspan="4">
                    <span class="fw-bold">TOTAL:</span>
                </th>
                <th>
                    <span> {{ totales.efectivo }}</span>
                </th>
                <th>
                    <span> {{ totales.credito }}</span>
                </th>
                <th>
                    <span> {{ totales.saldopend }}</span>
                </th>
                <th colspan="3">
                    <span> {{ totales.total }}</span>
                </th>
            </tr>
        </ng-template>-->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="grid.cols.length+2">
                    <div class="text-muted emptytablemessagebox">No hay registros</div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="totalRecord>0">
        <table class="footertotales">
            <tr>
                <td></td>
                <td *ngFor="let item of grid.cols" [width]="item.width">
                    <div class="celda-total">
                        <span *ngIf="item.field==='referente'" class="fw-bolder">TOTALES:</span>
                        <span *ngIf="item.field==='efectivo'"
                              class="fw-bold">{{ totales.efectivo }}</span>
                        <span *ngIf="item.field==='credito'"
                              class="fw-bold">{{ totales.credito }}</span>
                        <span *ngIf="item.field==='saldopend'"
                              class="fw-bold">{{ totales.saldopend }}</span>
                        <span *ngIf="item.field==='total'"
                              class="fw-bold">{{ totales.total }}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="isShowDetallesFactura">
    <p-dialog header="Detalles del documento" [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="10000"
              [(visible)]="isShowDetallesFactura">
        <app-facturaview [trncod]="codFacturaSel" (evBtnClosed)="closeDetFact()" (evAnulado)="listar()"
                         (evEditar)="onEditar($event)" [isPermAnul]="true" [isPermEdit]="true"
                         [isPermChangeSec]="true"></app-facturaview>
    </p-dialog>
</div>
