<h4>
    {{title}}
</h4>
<div class="row mt-1 mb-1">
    <div class="col-md-8">
        <div class="input-group">
            <input type="text" class="form-control" id="buscaInput" (keyup)="doFilter($event)" [(ngModel)]="filtro"
                   placeholder="Buscar comprobante por número o por referente">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" id="buttonSearh" (click)="listar()"
                        title="Buscar producto o servicio">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex flex-row-reverse">
        <button type="button" class="btn btn-outline-success" (click)="goToForm()"
                title="Registrar un nuevo producto o servicio">
            Crear <i class="fa fa-plus-circle"></i>
        </button>
    </div>
</div>
<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>

<div class="mt-2" *ngIf="!isLoading">
    <p-table [value]="grid.data" [paginator]="true" [rows]="50" selectionMode="single" [(selection)]="selectedItem"
             (onRowSelect)="onRowSelect($event)"
             [resizableColumns]="true"
             [(contextMenuSelection)]="selectedItem"
             (onRowUnselect)="onUnRowSelect($event)">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let item of grid.cols" [pSortableColumn]="item.field" [ngSwitch]="item.field">
                    {{item.label}}
                    <p-sortIcon [field]="item.field"></p-sortIcon>
                </th>
                <th style="width: 10%">
                    Acción
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                <td *ngFor="let item of grid.cols">
                    {{rowData[item['field']]}}
                </td>
                <td>
                    <button class="btn btn-sm btn-outline-dark mr-3" (click)="anularRow(rowData)"
                            title="Anular">
                        <i class="fas fa-trash"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-dark" (click)="verRow(rowData)" title="Editar">
                        <i class="fas fa-eye"></i>
                    </button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="grid.cols.length+1">
                    <span class="text-muted">No hay registros</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="border p-4" *ngIf="grid.data && grid.data.length===0">
        <div class="text-center d-flex">
            <h5 class="text-muted">No hay registros</h5>
        </div>
    </div>
</div>

<div *ngIf="isShowDetallesFactura">
    <p-dialog header="Detalles del documento" [modal]="true" [style]="{width: '90vw'}" [baseZIndex]="10000"
              [(visible)]="isShowDetallesFactura">
        <app-facturaview [trncod]="codFacturaSel"></app-facturaview>
    </p-dialog>
</div>
