<h4>
    {{title}}
</h4>
<div class="row mt-1 mb-1">
    <div class="col-md-3">
        <app-rangofechas [form]="form" (evFilterSel)="listar()" [showlabels]="false"></app-rangofechas>
    </div>
    <div class="col-md-3">
        <p-dropdown [options]="transaccs" optionLabel="tra_nombre"
                    filter="false"
                    optionValue="tra_codigo"
                    placeholder="Seleccione el tipo de transacción"
                    [showClear]="false"
                    (onChange)="listar()"
                    [(ngModel)]="form.tracod"></p-dropdown>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" id="buscaInput" (keyup)="doFilter($event)" [(ngModel)]="filtro"
                   autocomplete="false"
                   placeholder="Buscar comprobante por número o por referente">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="buttonSearh" (click)="listar()"
                        title="Buscar comprobante">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-2 d-flex flex-row-reverse">

        <div class="ml-1 btn-group btn-group-sm dropright" *ngIf="tracodigo!==7">
            <button type="button" class="btn btn-outline-primary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus-circle"></i> Crear
            </button>
            <div class="dropdown-menu" style="">
                <a href="#" class="dropdown-item" (click)="goToFormFact(1, $event)"> Factura </a>
                <a href="#" class="dropdown-item" (click)="goToFormFact(2, $event)"> Nota de venta </a>
            </div>
        </div>

        <button type="button" class="btn btn-outline-primary" (click)="goToForm()" *ngIf="tracodigo===7"
                title="Registrar un nuevo producto o servicio">
            Crear <i class="fa fa-plus-circle"></i>
        </button>
    </div>
</div>
<div class="mt-2 border">
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!isLoading">
        <p-table [value]="grid.data" [paginator]="true" [rows]="50" selectionMode="single" [(selection)]="selectedItem"
                 (onRowSelect)="onRowSelect($event)"
                 [resizableColumns]="true"
                 [(contextMenuSelection)]="selectedItem"
                 (onRowUnselect)="onUnRowSelect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let item of grid.cols" [pSortableColumn]="item.field" [ngSwitch]="item.field"
                        [width]="item.width">
                        {{item.label}}
                        <p-sortIcon [field]="item.field"></p-sortIcon>
                    </th>
                    <th style="width: 10%">
                        Acción
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" (dblclick)="verRow(rowData)">
                    <td *ngFor="let item of grid.cols">
                        <span class="fontsizesm">{{rowData[item['field']]}}</span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-dark mr-3" (click)="anularRow(rowData)"
                                title="Anular">
                            <i class="fas fa-trash"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-dark" (click)="verRow(rowData)" title="Editar">
                            <i class="fas fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>
                        <span class="font-weight-bold">TOTAL:</span>
                    </th>
                    <th>
                        <span> {{totales.efectivo}}</span>
                    </th>
                    <th>
                        <span> {{totales.credito}}</span>
                    </th>
                    <th>
                        <span> {{totales.saldopend}}</span>
                    </th>
                    <th>
                        <span> {{totales.total}}</span>
                    </th>
                    <th>

                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="grid.cols.length+1">
                        <span class="text-muted">No hay registros</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<div *ngIf="isShowDetallesFactura">
    <p-dialog header="Detalles del documento" [modal]="true" [style]="{width: '90vw'}" [baseZIndex]="10000"
              [(visible)]="isShowDetallesFactura">
        <app-facturaview [trncod]="codFacturaSel" (evBtnClosed)="closeDetFact()"></app-facturaview>
    </p-dialog>
</div>
