<div class="mt-2">
    <div *ngIf="!showfiltro" class="d-flex justify-content-end">
        <button class="btn btn-outline-primary" (click)="toggleShowFiltro()"><i class="fa fa-filter"></i>
        </button>
    </div>
    <div class="row border rounded my-2 mx-1 px-2 py-3 d-flex align-items-end" *ngIf="showfiltro">
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <div>
                    <p class="quitaPaddingMargin">Desde:</p>
                    <p-calendar [showIcon]="true"
                                [(ngModel)]="desde"
                                dateFormat="dd/mm/yy"></p-calendar>
                </div>
                <div>
                    <p class="quitaPaddingMargin">Hasta:</p>
                    <p-calendar [showIcon]="true"
                                [(ngModel)]="hasta"
                                [minDate]="desde"
                                dateFormat="dd/mm/yy"></p-calendar>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <input class="form-control form-rounded" id="buscaPacNomCiInput" type="text"
                   placeholder="Buscar por nombres o número de cédula" [(ngModel)]="filtro"
                   (keyup.enter)="onFiltroTyped()">
        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-around">
                <button class="btn btn-outline-primary" (click)="buscar()"><i class="fa-solid fa-magnifying-glass"></i> Buscar
                </button>
                <button class="btn btn-outline-dark" (click)="toggleShowFiltro()"><i class="fa-solid fa-xmark"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="atencionesArray.length>0" class="shadow rounded">
    <div class="list-group">
        <a *ngFor="let item of atencionesArray" class="list-group-item {{!item.tipo?'list-group-item-action hand':''}}"
           (click)="selectPaciente(item)">
            <span *ngIf="item.tipo" class="text-primary"> {{item.mes}} </span>
            <div class="row" *ngIf="!item.tipo">
                <div class="col-1 col-xs-1 d-flex align-items-center">
                    <i class="fa-solid fa-person avatar-ico" *ngIf="item.genero!==2"></i>
                    <i class="fa-solid fa-person-dress avatar-ico" *ngIf="item.genero===2"></i>
                </div>
                <div class="col-md-5">
                    <p class="quitaPaddingMargin text-muted"> {{item.horacreastr}} </p>
                    <h6 class="mb-0">{{item.paciente}}</h6>
                    <p class="mb-0 text-muted">
                        <h7>{{item.per_ciruc}}</h7>
                    </p>
                    <p class="mb-0">
                        <h7>{{item.lugresidencia}}</h7>
                    </p>
                </div>
                <div class="col-md-5">
                    <p class="quitaPaddingMargin text-muted">Motivo:</p>
                    <h7>{{item.cosm_motivo}}</h7>
                </div>
                <div class="col-1" title="Ver detalles de la consulta">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
        </a>
        <a class="list-group-item list-group-item-action" *ngIf="hasMore">
            <p class="text-center">
                <button class="btn btn-outline-primary" (click)="loadMore()"> Listar mas</button>
            </p>
        </a>
    </div>
</div>
<div *ngIf="!showAnim && atencionesArray.length==0" class="divpacientes rounded-lg">
    <div class="p-5">
        <h1 class="d-flex justify-content-center text-muted">
            <span>
            No hay registros
            </span>
        </h1>
    </div>
</div>
<div *ngIf="showAnim">
    <app-loading></app-loading>
</div>

<div *ngIf="showModalDet && tipocita===1">
    <p-dialog header="Detalles de la cita" [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="10000"
              [(visible)]="showModalDet">
        <app-citameddet [rowHistoriaSel]="rowHistoriaSel"
                        (closed)="onCerrarDetHistoria($event)" [showFichaCli]="true"></app-citameddet>
    </p-dialog>
</div>

<div *ngIf="showModalDet && tipocita===2">
    <p-dialog header="Detalles de la cita" [modal]="true" [style]="{width: '85vw'}" [baseZIndex]="10000"
              [(visible)]="showModalDet">
        <app-citaodontodet [codatencion]="rowHistoriaSel.ate_id" (evCerrar)="doCerrarModalOd()"
                           (evShowHistoria)="showHistoriaOd()"></app-citaodontodet>
    </p-dialog>
</div>
