<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <button class="btn btn-sm btn-outline-primary me-2" (click)="toggleSidebar()" title="Menú de opciones">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand d-flex" href="#"
           title="Mavil, registrado a nombre de {{empNombreComercial}}, sección actual: {{seccion.sec_nombre}}">
            <div class="d-flex justify-content-center align-items-center">
                <img src="/assets/imgs/logomavilsm.png">
            </div>
            <span class="ms-2">{{empNombreComercial}}</span>
            <div class="d-flex ms-1 align-items-end">
                <small>{{seccion.sec_nombre}}</small>
            </div>
        </a>
        <button class="btn btn-sm btn-outline-primary ms-2" (click)="goHome()" title="Ir al inicio">
            <span class="fa fa-home"></span>
        </button>
        <div class="w-100 d-flex flex-row-reverse">
            <div class="d-none d-md-inline d-lg-inline-block d-xl-inline-block" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item dropdown" *ngIf="ttpdvs.length>1">
                        <a class="nav-link text-primary dropdown-bs-toggle" href="#" id="dropdownPtoEmi"
                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" title="PtoEmision">
                            PtoEmi
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownPtoEmi">
                            <li *ngFor="let ttpdv of ttpdvs">
                                <button class="dropdown-item" type="button" (click)="cambiarTtpdv(ttpdv)">
                                    <i *ngIf="ttpdv.tdv_codigo === currTdvcod" class="fa fa-check"></i>
                                    {{ttpdv.tdv_numero}}- {{ttpdv.tdv_nombre}}
                                </button>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" *ngIf="secciones?.length>1">
                        <a class="nav-link text-primary dropdown-toggle" href="#" id="dropdownSeccion"
                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" title="Seccion">
                            Sección
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownSeccion">
                            <li *ngFor="let sec of secciones">
                                <button class="dropdown-item" type="button" (click)="cambiarSeccion(sec)">
                                    <i *ngIf="sec.sec_id === seccion.sec_id" class="fa fa-check"></i>
                                    {{sec.sec_nombre}}
                                </button>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-primary dropdown-toggle" href="#" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" title="{{userinfo?.per_nombres + ' ' + userinfo?.per_apellidos}}">
                            <i class="fas fa-user"></i>
                            {{userinfo?.per_nombres?.charAt(0) + userinfo?.per_apellidos?.charAt(0)}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <button class="dropdown-item"
                                        type="button">{{userinfo.per_nombres + ' ' + userinfo.per_apellidos}}</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="logout()">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Salir
                                </button>
                            </li>
                        </ul>
                    </li>

                </ul>

                <!--
                <ul class="navbar-nav d-none d-md-block d-lg-block d-xl-block">

                </ul>
                <ul class="navbar-nav d-none d-md-block d-lg-block d-xl-block">

                </ul>
                -->

            </div>
        </div>
    </div>

</nav>
<div>
    <p-sidebar [(visible)]="isSideVisible" styleClass="quitaPaddingMargin" [blockScroll]="true" position="left"
               [closeOnEscape]="true">
        <div class="mt-1 d-flex flex-column align-items-center">
            <span>
                <img src="/assets/imgs/logomavilsm.png">
            </span>
            <span class="fw-light fontsizesm">{{userinfo?.per_nombres + ' ' + userinfo?.per_apellidos}}</span>
            <div>
                <a class="dropdown-item fontsizexsm" href="#" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i> Salir
                </a>
            </div>
        </div>

        <div class="mt-2 d-flex flex-column">
            <div class="w-100">
                <p-panelMenu [model]="menuApp" [transitionOptions]="'0ms'" [style]="{'width':'100%'}"
                             [multiple]="false" styleClass="quitaPaddingMargin"></p-panelMenu>
            </div>
            <div class="mt-3 w-100 d-flex align-items-center justify-content-center">
                <span class="fontsizexsm text-muted"> Mavil V{{versionApp}} </span>
            </div>
        </div>
    </p-sidebar>
</div>

