<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="toggleSidebar()" title="Menú de opciones">
        <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand d-flex" href="#"
       title="Mavil, registrado a nombre de {{empNombreComercial}}, sección actual: {{seccion.sec_nombre}}">
        <div class="d-flex justify-content-center align-items-center">
            <img src="/assets/imgs/logomavilsm.png">
        </div>
        <span class="ml-2">{{empNombreComercial}}</span>
        <div class="d-flex ml-1 align-items-end">
            <small>{{seccion.sec_nombre}}</small>
        </div>
    </a>
    <button class="btn btn-sm btn-outline-primary ml-2" (click)="goHome()" title="Ir al inicio">
        <span class="fa fa-home"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
        <ul class="navbar-nav d-none d-md-block d-lg-block d-xl-block">
            <li class="nav-item">
                <a class="nav-link text-primary dropdown-toggle" href="#" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" title="{{userinfo?.per_nombres + ' ' + userinfo?.per_apellidos}}">
                    <i class="fas fa-user"></i>
                    {{userinfo?.per_nombres?.charAt(0) + userinfo?.per_apellidos?.charAt(0)}}
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <li>
                        <button class="dropdown-item"
                                type="button">{{userinfo.per_nombres + ' ' + userinfo.per_apellidos}}</button>
                    </li>
                    <li>
                        <button class="dropdown-item" type="button" (click)="logout()">
                            <i class="fas fa-sign-out-alt"></i>
                            Salir
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div>
    <p-sidebar [(visible)]="isSideVisible" styleClass="quitaPaddingMargin" [blockScroll]="true" position="left"
               [closeOnEscape]="true">
        <div class="mt-1 d-flex flex-column align-items-center">
            <span>
                <img src="/assets/imgs/logomavilsm.png">
            </span>
            <span class="font-weight-light fontsizesm">{{userinfo?.per_nombres + ' ' + userinfo?.per_apellidos}}</span>
            <div>
                <a class="dropdown-item fontsizexsm" href="#" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i> Salir
                </a>
            </div>
        </div>

        <div class="mt-2 leftpanel">
            <div>
                <p-panelMenu [model]="menuApp" [transitionOptions]="'0ms'" [style]="{'width':'100%'}"
                             [multiple]="false" styleClass="quitaPaddingMargin"></p-panelMenu>
            </div>
            <div class="mt-3 w-100 d-flex align-items-center justify-content-center">
                <span class="fontsizexsm text-muted"> Mavil V{{versionApp}} </span>
            </div>
        </div>
    </p-sidebar>
</div>

