<div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!isLoading">
        <div class="alert alert-info" *ngIf="isEdit">
            Editando ticket, puede editar el costo o los servicios del ticket
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Sección: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.sec_nombre}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Nro: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.tk_nro}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Dia: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.tk_dia}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Costo: </span>
                    </div>
                    <div class="col-md">
                        <div *ngIf="!isEdit">
                            <span class="fw-bold">{{datostk.tk_costo}} $</span>
                        </div>
                        <div *ngIf="isEdit">
                            <input type="text" class="form-control " id="costoInput" name="tk_costo"
                                   [(ngModel)]="form.tk_costo" placeholder="" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Estado: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.estado}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Referente: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.referente}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Ci/Ruc: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.per_ciruc}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Dirección: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.per_direccion}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Móvil: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.per_movil}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Email: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.per_email}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-light"> Residencia: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.residencia}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <span class="fw-light"> Fecha de creación: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{datostk.tk_fechahora}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="fw-light"> Creado por: </span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold fontsizesm">{{datostk.refuser}}</span>
                    </div>
                </div>
                <div class="card mt-3" *ngIf="!isEdit">
                    <div class="card-header quitaPaddingMargin px-3 py-1">
                        <span class="text-primary"> Servicios: </span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            *ngFor="let item of detalles">
                            <i class="far fa-check-circle"></i>
                            {{item.ic_nombre}} </li>
                    </ul>
                </div>

                <div class="card mt-3" *ngIf="isEdit">
                    <div class="card-header">
                        <span class="text-primary"> Servicios: </span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item hand list-group-item-action {{item.ic_marca?'list-group-item-primary':''}}"
                            *ngFor="let item of servicios" (click)="item.ic_marca = !item.ic_marca"><i
                                *ngIf="item.ic_marca" class="far fa-check-circle"></i>
                            {{item.ic_nombre}} </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="mt-3 d-flex justify-content-between">
            <div class="d-flex" *ngIf="!isLoading && !isEdit">
                <button class="btn btn-outline-primary me-md-1" (click)="doDelete()"><i class="fa fa-trash"></i> Anular
                </button>
                <button class="btn btn-outline-primary me-md-1" (click)="doPrint()"><i class="fa fa-print"></i> Imprimir
                </button>
                <button class="btn btn-outline-primary" (click)="editar()"><i class="fa fa-edit"></i> Editar
                </button>
            </div>
            <div class="d-flex" *ngIf="isEdit">
                <button class="btn btn-outline-primary me-md-1" (click)="actualizar()"><i class="fa fa-save"></i>
                    Actualizar
                </button>
                <button class="btn btn-outline-primary" *ngIf="isEdit" (click)="cancelEdit()">Cancelar
                </button>
            </div>

            <button class="btn btn-outline-primary" (click)="doCerrar()"><i class="fa fa-times"></i> Cerrar</button>
        </div>

    </div>
</div>
