<div class="justificado">

<div class="text-center">
<h1>LA COSMOVISIÓN ANDINA</h1>
</div>

<p>
  Cada pueblo, cada cultura ha elaborado su propia cosmovisión, es decir su manera de ver y entender el mundo. El continente americano, el llamado nuevo mundo o Abya Yala es la cuna de varias civilizaciones indígenas como los Aztecas, Mayas, Incas entre otras; cada una de ellas creó su cosmovisión y la transmitieron de generación en generación hasta nuestros días a través de los Taitas o Yachak.
</p>
<br/>
<p>
Entre los pueblos y las culturas andinas, pese a sus particulares formas de ver y entender el mundo, todas confluyen en una sola cosmovisión; de allí que muchos investigadores, antropólogos, filósofos hablan no solo de una Cosmovisión Andina sino incluso de una Filosofía Andina, pues aunque cambian los símbolos, el significado no varía.
</p>
 <br/>
  <br/>
<h2> La Pachamama y la Allpamama </h2>
<p>
El runa andino al igual que el runa saraguro es un sujeto colectivo que vive en comunidad y que está afectado por el microcosmos y macrocosmos; desde guagua aprende a vivir en medio de estas dos dimensiones y; por su vitalidad es el puente entre ellas.
 </p>
 <br/>
<p>
La Pachamama es la madre cósmica, la madre del macrocosmos mientras la Allpamama es la madre terrenal, la madre del microcosmos; las dos son dadores de vida en sus diferentes esferas.
</p>
 <br/>
 <p>
La Pachamama como madre cósmica es el lado femenino de Jatun Pachakamak, es la co-creadora con el Dador de Vida.
<br/>
Pachakamak y Pachamama son las dos fuerzas necesarias para la creación, dos fuerzas espirituales diferentes pero complementarias; sin embargo, fueron precisos varios elementos para la creación. Fue entonces cuando surgió el Inti, manifestación tangible de la corriente creadora de Pachakamak y Pachamama cuyas energías se vierten desde su centro. El Inti es el centro de la vida espiritual, energética y material; de él emana el Sinchi y el Sami.
 </p>
 <p>
 Podemos decir que hay una trilogía creadora: Pachakamak, Pachamama y el Inti.
 </p>
 <p>
 Para el indígena de Los Andes, la tierra tiene connotaciones materiales y espirituales; ella es la madre porque sostiene la vida de los seres vivos e inertes, sin la Allpamama la vida del runa, de los árboles, de los animales e incluso de los elementos inertes no podrá ser.
 </p>
<p>
Por eso es necesario cuidarla y llevarle ofrendas o pagos para que continuara el ciclo productivo; a través de este tipo de ceremonias el runa establece una relación vital entre él y la Allpamama. El runa desde que nace está en íntimo contacto con la Allpamama:
<br/><br/>
“Nuestro cuerpo sería totalmente incomprensible sin conexión con nuestra esfera planetaria. En la medida que tomamos conciencia que estamos en la naturaleza y ella está en nosotros, descubrimos un sinnúmero  de correspondencias entre el orden interno y externo, de que somos microcosmos dentro del macrocosmos”
</p>
<br/><br/>
<p>
Hay cuatro fuerzas activas en la Allpamama: el agua, la tierra, el aire y el fuego que están presentes en todo lo creado.
</p>
<p>
A través de una cruz simbolizan los cuatro espíritus que interactúan entre ello. Así en el centro de la ciencia y de la vida del ser humano está Jatun Pachakamak o Dios mientras la Allpamama es el centro de la vida y la muerte; de la vida porque es el soporte de todo lo que existe y de la muerte porque todo lo que está aquí degenera y muere para pasar a un nuevo estado o ciclo de existencia como es el mundo de los espíritus, que está aquí en la tierra misma.
</p>


</div>
