<div>
    <div *ngIf="showBuscaPaciente">
        <h1 class="bd-title">
            <i class="fa-solid fa-user-doctor"></i>
            <span class="ms-2">Atención Médica</span>
        </h1>
        <!--Ubicar tabs para navegacion -->
        <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#" [ngClass]="{'active':1===selectedSupTab}"
                   (click)="selectSupTab(1, $event)">Registrar
                    Historia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [ngClass]="{'active':2===selectedSupTab}"
                   (click)="selectSupTab(2, $event)">Atenciones
                    realizadas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [ngClass]="{'active':3===selectedSupTab}"
                   (click)="selectSupTab(3, $event)">Citas
                    planificadas</a>
            </li>
        </ul>

        <div id="RegistrarHistoria" *ngIf="selectedSupTab===1">
            <app-listadorefs (evCrearPaciente)="onCreaPaciente($event)" [tipo]="1"
                             (evSelPaciente)="selPacFromLista($event)"></app-listadorefs>
        </div>

        <div id="AtencionesHechas" *ngIf="selectedSupTab===2">
            <app-citashechas [tipocita]="tipoHistoria"></app-citashechas>
        </div>

        <div id="CitasPlanificadas" *ngIf="selectedSupTab===3">
            <div *ngIf="!isShowCalendar">
                <app-citasplaned [tipocita]="1"
                                 (registraAtencionEv)="onRegistrarAtencionEv($event)"
                                 (gotoCalendarEv)="doGotoCalendar($event)"></app-citasplaned>
            </div>
            <div *ngIf="isShowCalendar">
                <app-mvcalendar [tipoCita]="1" [showListado]="true"
                                (evListado)="showListado($event)"></app-mvcalendar>
            </div>
        </div>

    </div>
    <div *ngIf="!showBuscaPaciente" #mainDiv id="mainDiv">

        <h1 class="bd-title">
            <i class="fa-solid fa-book-medical"></i>
            <span class="ms-2">Ficha Médica</span>
        </h1>

        <div class="card border"
             *ngIf="form.paciente.per_id>0 && datosPacienteFull.per_id>0">
            <div class="card-body">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <div style="padding:1px 15px !important; width: 10%">
                        <i class="fa-solid fa-person avatar-ico" *ngIf="datosPacienteFull.per_genero!==2"></i>
                        <i class="fa-solid fa-person-dress avatar-ico" *ngIf="datosPacienteFull.per_genero===2"></i>
                    </div>
                    <div style="width: 90%">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>
                                    {{ datosPacienteFull.per_nombres + ' ' + datosPacienteFull.per_apellidos }}
                                </h5>
                                <h6>
                                    {{ datosPacienteFull.per_ciruc }}
                                </h6>
                                <h6 *ngIf="datosPacienteFull.per_fechanac">
                                    {{ datosPacienteFull.per_fechanac }} - <small>{{ datosPacienteFull.per_edad.years }}
                                    año(s), {{ datosPacienteFull.per_edad.months }}
                                    mes(es), {{ datosPacienteFull.per_edad.days }}
                                    dia(s)</small>
                                </h6>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="text-muted">Dirección:</span>
                                    </div>
                                    <div class="col-md">
                                        <span> {{ datosPacienteFull.residencia }} {{ datosPacienteFull.per_direccion ? ('-' + datosPacienteFull.per_direccion) : '' }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="text-muted">Celular:</span>
                                    </div>
                                    <div class="col-md">
                                        <span> {{ datosPacienteFull.per_movil }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="text-muted">Email:</span>
                                    </div>
                                    <div class="col-md">
                                        <span> {{ datosPacienteFull.per_email }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="text-muted">Estado Civil:</span>
                                    </div>
                                    <div class="col-md">
                                        <span> {{ datosPacienteFull.estadocivil }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer d-flex flex-row justify-content-between">
                <div>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="#" (click)="$event.preventDefault(); changeMainTab(1)"
                               [ngClass]="{'active':selectedMainTab==1}"
                               aria-current="page">Datos Personales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="$event.preventDefault();changeMainTab(2)" href="#"
                               [ngClass]="{'active':selectedMainTab==2}">Antecedentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="$event.preventDefault();changeMainTab(3)" href="#"
                               [ngClass]="{'active':selectedMainTab==3}">Exámenes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="$event.preventDefault();changeMainTab(4)" href="#"
                               [ngClass]="{'active':selectedMainTab==4}">Citas Anteriores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="$event.preventDefault();changeMainTab(5)" href="#"
                               [ngClass]="{'active':selectedMainTab==5}">Nueva Atención</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="#" (click)="$event.preventDefault();limpiar()">
                                <i class="fa-solid fa-xmark"></i>
                                Cerrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-2 mb-4">

            <div *ngIf="selectedMainTab===1">
                <div class="border rounded shadow p-2">
                    <app-datosref [codPaciente]="pacienteSelected.per_id"
                                  (pacienteLoaded)="onPacienteLoaded($event)"
                                  (pacienteSaved)="onPacienteSaved($event)"
                                  (datosIncompletosEv)="onDatosIncompletos($event)"
                                  (creacionCancelada)="limpiar()"></app-datosref>
                </div>
            </div>
            <div *ngIf="selectedMainTab===2">
                <div class="border rounded shadow p-2">
                    <div class="row">
                        <div class="col-md">

                            <div *ngIf="editAntper">
                                <div class="row">
                                    <div class="col-md">
                                        <div *ngFor="let it of antecedentes.slice(0,4);">
                                            <div *ngIf="showExamFisico(it)" class="my-1">
                                                <div>
                                                    <span>{{ it.cmtv_valor }}:</span>
                                                </div>
                                                <div>
                                                    <div *ngIf="it.cmtv_tinput===1">
                                                        <input type="text" class="form-control"
                                                               [disabled]="saved"
                                                               [(ngModel)]="it.valorreg"
                                                               id="inantecedentes_{{antecedentes.indexOf(it)}}">
                                                    </div>
                                                    <div *ngIf="it.cmtv_tinput===2">
                                                        <textarea class="form-control" [(ngModel)]="it.valorreg"
                                                                  [disabled]="saved"
                                                                  id="inantecedentes_{{antecedentes.indexOf(it)}}">
                                                        </textarea>
                                                    </div>
                                                    <div *ngIf="it.cmtv_tinput===3">
                                                        <p-inputMask mask="99/99/9999" [(ngModel)]="it.valorreg"
                                                                     [disabled]="saved"
                                                                     placeholder="dd/mm/aaaa"
                                                                     slotChar="dd/mm/aaaa"></p-inputMask>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md" *ngIf="datosPacienteFull.per_genero===2">
                                        <div *ngFor="let it of antecedentes.slice(4,10);">
                                            <div class="my-1">
                                                <div>
                                                    <span>{{ it.cmtv_valor }}:</span>
                                                </div>
                                                <div>
                                                    <input type="text" class="form-control" [disabled]="saved"
                                                           [(ngModel)]="it.valorreg"
                                                           id="inantecedentes_{{antecedentes.indexOf(it)}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div *ngFor="let it of antecedentes.slice(10,11);" class="my-1">
                                            <div>
                                                <span>{{ it.cmtv_valor }}:</span>
                                            </div>
                                            <div>
                                                <div *ngIf="it.cmtv_tinput===1">
                                                    <input type="text" class="form-control" [disabled]="saved"
                                                           [(ngModel)]="it.valorreg"
                                                           id="inantecedentes_{{antecedentes.indexOf(it)}}">
                                                </div>

                                                <div *ngIf="it.cmtv_tinput===2">
                                                    <textarea class="form-control" [(ngModel)]="it.valorreg"
                                                              [disabled]="saved"
                                                              id="inantecedentes_{{antecedentes.indexOf(it)}}">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!editAntper">
                                <div *ngIf="!hasAntencentes" class="empty-aten d-flex align-items-center p-3">
                                    <h4 class="text-muted">No tiene antecedentes registrados</h4>
                                </div>
                                <div *ngIf="hasAntencentes" class="p-3">
                                    <div *ngFor="let it of antecedentes.slice(0,4);">
                                        <div *ngIf="showExamFisico(it)" class="row my-1">
                                            <div class="col-md-4">
                                                <span class="text-muted">{{ it.cmtv_valor }}:</span>
                                            </div>
                                            <div class="col-md-8">
                                                <p>
                                                    {{ it.valorreg }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="datosPacienteFull.per_genero===2">
                                        <div *ngFor="let it of antecedentes.slice(4,10);" class="row my-1">
                                            <div class="col-md-4">
                                                <span class="text-muted">{{ it.cmtv_valor }}:</span>
                                            </div>
                                            <div class="col-md-8">
                                                <p>
                                                    {{ it.valorreg }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngFor="let it of antecedentes.slice(10,11);" class="my-1 row">
                                        <div class="col-md-4">
                                            <span class="text-muted">{{ it.cmtv_valor }}:</span>
                                        </div>
                                        <div class="col-md-8">
                                            <p>
                                                {{ it.valorreg }}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="bd-buttons">
                                <div class="d-grid mt-4 gap-2">
                                    <button class="btn btn-outline-primary" (click)="activateEditAntecedentes()"
                                            *ngIf="!editAntper">
                                        <span *ngIf="hasAntencentes">
                                            Editar
                                        </span>
                                        <span *ngIf="!hasAntencentes">
                                            Agregar
                                        </span>
                                        <i *ngIf="hasAntencentes" class="fa-solid fa-pen-to-square"></i>
                                        <i *ngIf="!hasAntencentes" class="fa-solid fa-plus"></i>
                                    </button>

                                    <button class="btn btn-outline-primary" *ngIf="editAntper"
                                            (click)="editAntper=false">
                                        Cancelar <i class="fa-regular fa-circle-xmark"></i>
                                    </button>

                                    <button class="btn btn-outline-primary" (click)="guardarAntecedentes()"
                                            *ngIf="editAntper">
                                        Guardar <i class="fa-solid fa-floppy-disk"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedMainTab===3">
                <div class="border rounded shadow p-2">
                    <app-rxdocs [codPaciente]="pacienteSelected.per_id" [tipo]="1"></app-rxdocs>
                </div>
            </div>
            <div *ngIf="selectedMainTab===4">
                <div class="border rounded shadow p-2">
                    <div *ngIf="historias && historias.length>0">
                        <div class="table-responsive">
                            <table class="table table-hover table-border table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" class="quitaPaddingTB">Día</th>
                                    <th scope="col" class="quitaPaddingTB">Motivo</th>
                                    <th scope="col" class="quitaPaddingTB">Próxima Cita</th>
                                    <th scope="col" class="quitaPaddingTB">

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let row of historias" (click)="selectHistoriaAnt(row)"
                                    class="hand ">
                                    <td>
                                        {{ row.cosm_fechacrea }}
                                    </td>
                                    <td>
                                        {{ row.cosm_motivo }}
                                    </td>
                                    <td>
                                        {{ row.cosm_fechaproxcita }}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-primary" title="Ver detalles"><i
                                                class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="!historias || historias.length===0"
                         class="empty-aten d-flex align-items-center p-3">
                        <h4 class="text-muted">No hay atenciones registradas</h4>
                    </div>
                </div>

            </div>
            <div *ngIf="selectedMainTab===5">
                <div class="border rounded shadow p-2">
                    <div class="my-3 pb-1 mx-1">
                        <h4><i class="fa-solid fa-notes-medical"></i> Registrar nueva atención</h4>
                    </div>

                    <div class="alert alert-warning" role="alert" *ngIf="editando">
                        Editando la historia Nro: {{ this.form.datosconsulta.cosm_id }}
                        <button class="btn btn-sm btn-outline-dark" style="margin-left: 30px"
                                (click)="limpiar()">
                            Cancelar
                        </button>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <ul class="nav flex-column nav-pills">
                                <li class="nav-item hand" (click)="changeTab(1)">
                                <span class="nav-link" [ngClass]="{'active':selectedTab==1}"
                                      aria-current="page">
                                    <span class="badge badge rounded-pill text-bg-light me-1">1</span>
                                    Motivo</span>
                                </li>
                                <li class="nav-item hand" (click)="changeTab(2)">
                                    <span class="nav-link" [ngClass]="{'active':selectedTab==2}">
                                        <span class="badge badge rounded-pill text-bg-light me-1">2</span>
                                        Examen Físico</span>
                                </li>
                                <li class="nav-item hand" (click)="changeTab(3)">
                                <span class="nav-link"
                                      [ngClass]="{'active':selectedTab==3}">
                                    <span class="badge badge rounded-pill text-bg-light me-1">3</span>
                                    Revisión sistemas</span>
                                </li>
                                <li class="nav-item hand" (click)="changeTab(4)">
                                    <span class="nav-link" [ngClass]="{'active':selectedTab==4}">
                                        <span class="badge badge rounded-pill text-bg-light me-1">4</span>
                                        Diagnóstico</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md">
                            <div *ngIf="selectedTab===1">
                                <div class="my-1">
                                    <div>
                                        <span class="required">*</span><span>Motivo Consulta:</span>
                                    </div>
                                    <div>
                                    <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_motivo"
                                              [disabled]="saved"
                                              maxlength="1500"
                                              appCharacterCount
                                              id="motivoConsultaTextArea">
                                    </textarea>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div>
                                        <span class="required">*</span><span>Enfermedad actual:</span>
                                    </div>
                                    <div>
                                    <textarea class="form-control" rows="5" [disabled]="saved"
                                              maxlength="1500"
                                              appCharacterCount
                                              [(ngModel)]="form.datosconsulta.cosm_enfermactual">
                                    </textarea>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="selectedTab===2">
                                <div class="row">
                                    <div class="col">
                                        <div class="row my-1 mx-md-3"
                                             *ngFor="let it of form.examsfisicos.slice(0,4)">
                                            <div class="col-12">
                                                <span>{{ it.cmtv_valor }}</span>
                                                <span *ngIf="it.cmtv_unidad">({{ it.cmtv_unidad }})</span>:
                                            </div>
                                            <div class="col-12">
                                                <div *ngIf="it.cmtv_tinput===1">
                                                    <input type="text" class="form-control" [disabled]="saved"
                                                           [(ngModel)]="it.valorreg" maxlength="30"
                                                           id="inexamfis_{{form.examsfisicos.indexOf(it)}}"
                                                           (focusout)="calcularIMC(it)">
                                                </div>
                                                <div *ngIf="it.cmtv_tinput===2">
                                        <textarea class="form-control" [(ngModel)]="it.valorreg" [disabled]="saved"
                                                  maxlength="1000" appCharacterCount
                                                  id="inexamfis_{{form.examsfisicos.indexOf(it)}}">
                                        </textarea>
                                                </div>
                                            </div>
                                            <div class="col-12"
                                                 *ngIf="it.cmtv_nombre === 'EXFIS_TA' && datosAlertaPresion.msg? datosAlertaPresion.msg.length>0:false ">
                                                <span style="color: {{datosAlertaPresion.color}}"> {{ datosAlertaPresion.msg }} </span>
                                                <br>
                                            </div>
                                            <div class="col-12"
                                                 *ngIf="it.cmtv_nombre === 'EXFIS_IMC' && datosAlertaImc.msg?datosAlertaImc.msg.length>0:false">
                                                <span style="color: {{datosAlertaImc.color}}"> {{ datosAlertaImc.msg }} </span>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row my-1 mx-md-3"
                                             *ngFor="let it of form.examsfisicos.slice(4,9)">
                                            <div class="col-12">
                                                <span>{{ it.cmtv_valor }}</span>
                                                <span class="badge text-bg-primary">{{ it.cmtv_unidad }}</span>:
                                            </div>
                                            <div class="col-12">
                                                <div *ngIf="it.cmtv_tinput===1">
                                                    <input type="text" class="form-control"
                                                           maxlength="30"
                                                           [(ngModel)]="it.valorreg" [disabled]="saved"
                                                           id="inexamfis_{{form.examsfisicos.indexOf(it)}}"
                                                           (focusout)="calcularIMC(it)">
                                                </div>
                                                <div *ngIf="it.cmtv_tinput===2">
                                                    <textarea class="form-control" [(ngModel)]="it.valorreg"s
                                                              maxlength="500" appCharacterCount
                                                              [disabled]="saved"
                                                              id="inexamfis_{{form.examsfisicos.indexOf(it)}}">
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="col-12"
                                                 *ngIf="it.cmtv_nombre === 'EXFIS_TA' && datosAlertaPresion.msg? datosAlertaPresion.msg.length>0:false ">
                                                <span style="color: {{datosAlertaPresion.color}}"> {{ datosAlertaPresion.msg }} </span>
                                                <br>
                                            </div>
                                            <div class="col-12"
                                                 *ngIf="it.cmtv_nombre === 'EXFIS_IMC' && datosAlertaImc.msg?datosAlertaImc.msg.length>0:false">
                                                <span style="color: {{datosAlertaImc.color}}"> {{ datosAlertaImc.msg }} </span>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-1 mx-md-3">
                                    <div class="col-12">
                                        <span>Descripción de Hallazgos:</span>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control" [disabled]="saved"
                                                  maxlength="1000" appCharacterCount
                                                  [(ngModel)]="form.datosconsulta.cosm_hallazgoexamfis">
                                        </textarea>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="selectedTab===3">
                                <div class="row">
                                    <div class="col">
                                        <div class="row my-1 mx-md-3"
                                             *ngFor="let it of form.revxsistemas.slice(0,5)">
                                            <div class="col-12">
                                                <span>{{ it.cmtv_valor }}:</span>
                                            </div>
                                            <div class="col">
                                                <div *ngIf="it.cmtv_tinput===1">
                                                    <input type="text" class="form-control" [disabled]="saved"
                                                           [(ngModel)]="it.valorreg"
                                                           [maxlength]="500"
                                                           id="inrevxsis_{{form.revxsistemas.indexOf(it)}}">
                                                </div>
                                                <div *ngIf="it.cmtv_tinput===2">
                                                    <textarea class="form-control" [(ngModel)]="it.valorreg"
                                                              maxlength="500" appCharacterCount
                                                              [disabled]="saved"
                                                              id="inrevxsis_{{form.revxsistemas.indexOf(it)}}">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row my-1 mx-md-3"
                                             *ngFor="let it of form.revxsistemas.slice(5,9)">
                                            <div class="col-12">
                                                <span>{{ it.cmtv_valor }}:</span>
                                            </div>
                                            <div class="col">
                                                <div *ngIf="it.cmtv_tinput===1">
                                                    <input type="text" class="form-control" [disabled]="saved"
                                                           [(ngModel)]="it.valorreg"
                                                           [maxlength]="500"
                                                           id="inrevxsis_{{form.revxsistemas.indexOf(it)}}">
                                                </div>
                                                <div *ngIf="it.cmtv_tinput===2">
                                                    <textarea class="form-control" [(ngModel)]="it.valorreg"
                                                              maxlength="500" appCharacterCount
                                                              [disabled]="saved"
                                                              id="inrevxsis_{{form.revxsistemas.indexOf(it)}}">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="selectedTab===4">
                                <div #diagnosticoDiv id="diagnosticoDiv">
                                    <div>
                                        <span class="required">*</span><span>Diagnóstico:</span>
                                    </div>
                                    <div class="mt-1">
                                        <div class="d-flex w-100"
                                             *ngFor="let sdiag of selectedDiags; let i=index">
                                            <div style="width: 90%">
                                                <p-dropdown [options]="ciedataArray" id="diagnostico_id_{{i}}"
                                                            [(ngModel)]="selectedDiags[i]"
                                                            [virtualScroll]="true"
                                                            [virtualScrollItemSize]="50"
                                                            placeholder="Seleccione o busque la enfermedad diagnosticada"
                                                            [showClear]="true"
                                                            appendTo="body"
                                                            [style]="{width:'100%', overflow:'visible'}"
                                                            [disabled]="saved"
                                                            filter="true"
                                                            optionLabel="ciekeyval"
                                                            styleClass="p-fluid"
                                                            inputId="diagnostico_id_{{i}}"></p-dropdown>
                                            </div>
                                            <div class="d-flex">
                                                <button class="btn btn-sm btn-outline-primary py-2"
                                                        (click)="addDiagnostico()" [disabled]="saved"
                                                        *ngIf="i===selectedDiags.length-1 && sdiag"
                                                        title="Agregar otro diagnóstico"><span
                                                        class="fa-solid fa-plus"></span></button>
                                                <button class="btn btn-sm btn-outline-dark py-2"
                                                        (click)="removeDiagnostico(sdiag)"
                                                        *ngIf="i>0" [disabled]="saved"
                                                        title="Quitar este diagnóstico"><span
                                                        class="fa fa-minus-circle"></span></button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <span>Diagnóstico Alternativo:</span>
                                    </div>
                                    <div class="mt-1">
                                        <textarea class="form-control"
                                                  maxlength="2000"
                                                  appCharacterCount
                                                  [disabled]="saved"
                                                  [(ngModel)]="form.datosconsulta.cosm_diagnosticoal">
                                        </textarea>
                                    </div>

                                    <div *ngIf="tipoHistoria === 1">
                                        <div class="mt-2">
                                            <span class="required">*</span><span>Tratamiento:</span>
                                        </div>
                                        <div class="mt-1">
                                            <textarea class="form-control" [disabled]="saved"
                                                      maxlength="1000"
                                                      appCharacterCount
                                                      [(ngModel)]="form.datosconsulta.cosm_tratamiento">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <div>
                                            <span class="required">*</span><span>Receta:</span>
                                        </div>
                                        <div class="mt-1">
                                            <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_receta"
                                                      maxlength="2000"
                                                      appCharacterCount
                                                      rows="8" [disabled]="saved">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <div>
                                            <span class="required">*</span><span>Indicaciones de la receta:</span>
                                        </div>
                                        <div class="mt-1">
                                            <textarea class="form-control" [disabled]="saved"
                                                      maxlength="2000"
                                                      appCharacterCount
                                                      [(ngModel)]="form.datosconsulta.cosm_indicsreceta" rows="8">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <div>
                                            <span>Recomendaciones:</span>
                                        </div>
                                        <div class="mt-1">
                                            <textarea class="form-control" [disabled]="saved"
                                                      maxlength="2000"
                                                      appCharacterCount
                                                      [(ngModel)]="form.datosconsulta.cosm_recomendaciones">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="d-flex mt-2" #proxcitaDiv id="proxcitaDiv">
                                        <div>
                                            <span>Próxima cita:</span>
                                        </div>
                                        <div class="ms-3">
                                            <span *ngIf="lastCita.ct_id>0">
                                                {{ lastCita.texto }}
                                            </span>
                                            <button class="ms-3 btn btn-sm btn-outline-warning"
                                                    *ngIf="lastCita.ct_id>0"
                                                    (click)="anularCita()" [disabled]="saved">
                                                <i class="fa-solid fa-trash-can"></i> Anular
                                            </button>
                                            <button class="ms-3 btn btn-sm btn-outline-primary"
                                                    *ngIf="!lastCita.ct_id"
                                                    (click)="showModalCalendar()" [disabled]="saved">
                                                <i class="fa-solid fa-calendar-days"></i>
                                                Agendar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="bd-buttons">
                                <div class="d-grid mt-4 gap-2">
                                    <button type="button" class="btn btn-outline-primary"
                                            *ngIf="this.selectedTab<4"
                                            (click)="siguiente()">
                                        <i class="fa-solid fa-chevron-down"></i> <span
                                            class="ms-2">Siguiente</span>
                                    </button>

                                    <button class="btn btn-outline-primary"
                                            *ngIf="this.selectedTab===4 && saved"
                                            (click)="imprimirReceta()"><i class="fa fa-print"></i>
                                        Imprimir Receta
                                    </button>

                                    <button class="btn btn-outline-primary" [disabled]="saved"
                                            *ngIf="this.selectedTab===4"
                                            (click)="guardarDiagnostico()"><i
                                            class="fa-solid fa-floppy-disk"></i>
                                        Guardar
                                    </button>

                                    <button class="btn btn-dark"
                                            *ngIf="(this.selectedTab===4 && saved) || saved"
                                            (click)="limpiar()"><i class="fa-solid fa-xmark"></i> Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isHistoriaAntSel">
                <p-dialog header="Detalles de la cita" [modal]="true" [style]="{width: '70vw'}"
                          [baseZIndex]="10000"
                          [(visible)]="isHistoriaAntSel">
                    <app-citameddet [rowHistoriaSel]="rowHistoriaSel"
                                    (closed)="onCerrarDetHistoria($event)"></app-citameddet>
                </p-dialog>
            </div>

            <div *ngIf="showCalendar">
                <p-dialog header="Agendar cita" [modal]="true" [style]="{width: '85vw'}" [baseZIndex]="10000"
                          [(visible)]="showCalendar" (onHide)="clearInfoPacLocStorage()">
                    <app-mvcalendar [tipoCita]="1" (evCreated)="onCitaCreated($event)"
                                    (evCancelar)="closeModalCalendar()"
                                    [showCancelar]="true"></app-mvcalendar>
                </p-dialog>
            </div>

        </div>
    </div>
</div>

