<div>
    <h4 class="pt-3 pb-2">Registrar lectura de medidor</h4>

    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>

    <div *ngIf="!isLoading">
        <div class="row g-2">
            <div class="col-md-5">
                <div class="border p-3">
                    <div>
                        <label class="form-label fw-normal">Num. Medidor:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="mdg_num" (focusin)=$event.target.select()
                                   [(ngModel)]="form.mdg_num"
                                   (keyup.enter)="buscarMedidor()">
                            <button class="btn btn-outline-primary" title="Buscar medidor por número"
                                    (click)="buscarMedidor()"><i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md">
                            <div><span class="fw-normal">Año:</span></div>
                            <div>
                                <p-dropdown [options]="anios" [(ngModel)]="form.lmd_anio" optionValue="value"
                                            optionLabel="label"></p-dropdown>
                            </div>

                        </div>
                        <div class="col-md">
                            <div><span class="fw-normal">Mes:</span></div>
                            <div>
                                <p-dropdown [options]="meses" [(ngModel)]="form.lmd_mes" optionValue="mes_id"
                                            optionLabel="mes_nombre"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md">
                            <div>
                                <label class="form-label fw-normal">Lectura Anterior m<sup>3</sup>:</label>
                                <input type="text" class="form-control" id="lmd_valorant"
                                       (focusin)=$event.target.select()
                                       [disabled]="lastlectomed!==null"
                                       [min]="0.0"
                                       [(ngModel)]="form.lmd_valorant">
                            </div>
                        </div>
                        <div class="col-md">
                            <div>
                                <label class="form-label fw-normal">Lectura Actual m<sup>3</sup>:</label>
                                <input type="text" class="form-control" id="lmd_valor"
                                       (focusin)=$event.target.select()
                                       (keyup)="calculaConsumo()"
                                       [(ngModel)]="form.lmd_valor"
                                       [min]="0.0">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <span class="fw-normal">Consumo Generado m<sup>3</sup>:</span>
                        </div>
                        <div class="col-md">
                            <input type="text" class="form-control" disabled [(ngModel)]="form.lmd_consumo">
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-normal">Observación:</label>
                        <textarea class="form-control" [(ngModel)]="form.lmd_obs" maxlength="800" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div *ngIf="!datosmedidor" class="p-5 border h-100 d-flex justify-content-center align-items-center">
                    <span class="text-muted">Busque los datos del  medidor por su número</span>
                </div>
                <div *ngIf="datosmedidor" class="border p-3 shadow-sm">
                    <app-basicdatosref [datosref]="datosmedidor"></app-basicdatosref>
                    <app-datosmedidor [datosmedidor]="datosmedidor"></app-datosmedidor>
                </div>
                <div class="mt-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            Última Lectura realizada
                        </div>
                        <div class="card-body">
                            <div *ngIf="!lastlectomed">
                                <div class="text-muted d-flex justify-content-center">
                                    <span>No hay registro de lectura anterior</span>
                                </div>
                            </div>
                            <div *ngIf="lastlectomed">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="fw-normal fontsizenr"> Fecha de registro: </span>
                                    </div>
                                    <div class="col-md">
                                        <span class="fw-bold fontsizenr"> {{lastlectomed.lmd_fechacrea}} </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="fw-normal fontsizenr"> Registrado por: </span>
                                    </div>
                                    <div class="col-md">
                                        <span class="fw-bold fontsizenr"> {{lastlectomed.usercrea}} </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="fw-normal fontsizenr"> Mes: </span>
                                    </div>
                                    <div class="col-md">
                                        <span class="fw-bold fontsizenr"> {{lastlectomed.mes_nombre}} </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="fw-normal fontsizenr"> Lectura: </span>
                                    </div>
                                    <div class="col-md">
                                        <span class="fw-bold fontsizenr"> {{lastlectomed.lmd_valor}}
                                            m<sup>3</sup></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="d-grid gap-2">
                    <buttton class="btn btn-outline-primary" (click)="doSave()"><i class="fa fa-save"></i> Guardar
                    </buttton>
                    <buttton class="btn btn-outline-secondary" (click)="doCancel()"> Cancelar</buttton>
                </div>
            </div>
        </div>

    </div>
</div>
