<div>
    <h4 class="pt-3 pb-2">Registrar lectura de medidor</h4>

    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>

    <div>
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <p-steps [model]="steps" [readonly]="false" [activeIndex]="currentStep"></p-steps>
            </div>
        </div>

        <div *ngIf="!isLoading" style="background-color: rgba(201,201,201,0.43)">
            <div class="row">
                <div class="{{currentStep===2?'offset-md-1 col-md-10':'offset-md-3 col-md-6'}}">

                    <div class="my-4 py-4 px-3 shadow-sm rounded bg-white">
                        <div *ngIf="currentStep===0">
                            <div class="row g-0">
                                <div class="p-fluid {{form.referente?.per_id>0?'col-sm-11':'col-sm-12'}}">
                                    <p-autoComplete [(ngModel)]="form.referente"
                                                    [suggestions]="personFiltered"
                                                    (completeMethod)="findRefs($event)" field="nomapel"
                                                    inputId="refAutoCom"
                                                    autofocus="true"
                                                    inputStyleClass="form-control {{form.referente?.per_id?'is-valid':'is-invalid'}}"
                                                    [delay]="200"
                                                    (keyup.enter)="onEnterRef()"
                                                    [forceSelection]="true"
                                                    placeholder="Digite los nombres o el número de cédula del referente"
                                                    (onSelect)="onRefSelect()">
                                        <ng-template let-ref pTemplate="item">
                                            <div>
                                                <div class="d-flex justify-content-between">
                                                    <span>{{ref.nomapel}}</span>
                                                    <span>{{ref.per_ciruc}}</span>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                </div>
                                <div class="col-sm d-flex" *ngIf="form.referente?.per_id>0">
                                    <button title="Limpiar búsqueda" class="btn btn-outline-secondary" type="button"
                                            (click)="limpiarRef()">
                                        <i class="fa fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="w-100 mt-4 d-flex justify-content-center">
                                <button class="btn btn-outline-secondary" (click)="doCancel()"> Cancelar <i
                                        class="fa fa-times"></i></button>
                                <button class="ms-2 btn btn-outline-primary" id="btnNextS1"
                                        *ngIf="form.referente?.per_id>0" (click)="doNext(1)">
                                    Siguiente <i
                                        class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                        <div *ngIf="currentStep===1">
                            <div *ngIf="medidores.length==0" class="mt-2 alert alert-warning">
                                    <span>
                                        <i class="fa fa-exclamation-triangle me-2"></i>
                                        No tiene medidores registrados
                                    </span>
                            </div>

                            <div class="my-2">
                                <div class="p-3 border shadow-sm">
                                    <app-basicdatosref [datosref]="this.form.referente"></app-basicdatosref>
                                </div>
                            </div>
                            <div class="w-100" *ngIf="medidores.length>1">
                                <div class="alert alert-primary">
                                    <i class="fa fa-info me-2"></i> El referente tiene mas de un medidor registrado, por
                                    favor elija uno de la siguiente lista:
                                </div>
                                <app-tblmedidores [medidores]="medidores" [isForSelect]="true"
                                                  (evSelectFila)="onSelectMed($event)"></app-tblmedidores>
                            </div>
                            <div *ngIf="medidores.length===1">
                                <div class="p-3 border shadow-sm">
                                    <app-datosmedidor [datosmedidor]="medidores[0]"></app-datosmedidor>
                                </div>
                            </div>
                            <div class="w-100 mt-4 d-flex justify-content-center">
                                <button class="btn btn-outline-secondary" (click)="doBack(0)">
                                    <i class="fa fa-chevron-left"></i> Anterior
                                </button>
                                <button class="ms-2 btn btn-outline-primary" id="btnNextS2" *ngIf="medidores.length===1"
                                        (click)="doNext(2)">
                                    Siguiente <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>

                        <div *ngIf="currentStep===2">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="p-2 border shadow-sm">
                                        <div class="my-2">
                                            <app-basicdatosref [datosref]="this.form.referente"></app-basicdatosref>
                                        </div>
                                        <div class="mt-2">
                                            <app-datosmedidor [datosmedidor]="medsel"></app-datosmedidor>
                                        </div>
                                    </div>


                                    <div class="mt-3">
                                        <div class="card shadow-sm">
                                            <div class="card-header">
                                                <span class="fontsizesm">Última Lectura realizada</span>
                                            </div>
                                            <div class="card-body">
                                                <div *ngIf="!lastlectomed">
                                                    <div class="text-muted d-flex justify-content-center">
                                                        <span class="fontsizenr">No hay registro de lectura anterior</span>
                                                    </div>
                                                </div>

                                                <div class="row" *ngIf="lastlectomed">
                                                    <div class="col-md">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <span class="fw-normal fontsizenr"> Fecha de registro: </span>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <span class="fw-bold fontsizenr"> {{lastlectomed.lmd_fechacrea}} </span>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col-md-12">
                                                                <span class="fw-normal fontsizenr"> Registrado por: </span>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <span class="fw-bold fontsizenr"> {{lastlectomed.usercrea}} </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <span class="fw-normal fontsizenr"> Mes: </span>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <span class="fw-bold fontsizenr"> {{lastlectomed.mes_nombre}} </span>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col-md-12">
                                                                <span class="fw-normal fontsizenr"> Lectura: </span>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <span class="fw-bold fontsizenr"> {{lastlectomed.lmd_valor}}
                                                                    m<sup>3</sup>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row mt-1">
                                        <div class="col-md">
                                            <div><span class="fw-bold fontsizenr">Año:</span></div>
                                            <div>
                                                <p-dropdown [options]="anios" [(ngModel)]="form.lmd_anio"
                                                            optionValue="value"
                                                            optionLabel="label"></p-dropdown>
                                            </div>

                                        </div>
                                        <div class="col-md">
                                            <div><span class="fw-bold fontsizenr">Mes:</span></div>
                                            <div>
                                                <p-dropdown [options]="meses" [(ngModel)]="form.lmd_mes"
                                                            optionValue="mes_id"
                                                            optionLabel="mes_nombre"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div>
                                                <label class="form-label fw-bold fontsizenr">Lectura Anterior
                                                    m<sup>3</sup>:</label>
                                                <input type="text" class="form-control" id="lmd_valorant"
                                                       (focusin)=$event.target.select()
                                                       [disabled]="lastlectomed!==null"
                                                       [min]="0.0"
                                                       [(ngModel)]="form.lmd_valorant">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <label class="form-label fw-bold fontsizenr">Lectura Actual
                                                    m<sup>3</sup>:</label>
                                                <input type="text" class="form-control" id="lmd_valor"
                                                       (focusin)=$event.target.select()
                                                       (keyup)="calculaConsumo()"
                                                       [(ngModel)]="form.lmd_valor"
                                                       [min]="0.0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <span class="fw-bold fontsizenr">Consumo Generado m<sup>3</sup>:</span>
                                        </div>
                                        <div class="col-md">
                                            <input type="text" class="form-control" disabled
                                                   [(ngModel)]="form.lmd_consumo">
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <label class="form-label fw-bold fontsizenr">Observación:</label>
                                        <textarea class="form-control" [(ngModel)]="form.lmd_obs" maxlength="800"
                                                  rows="3"></textarea>
                                    </div>

                                </div>
                            </div>
                            <div class="w-100 mt-4 d-flex justify-content-center">
                                <button class="btn btn-outline-secondary" (click)="doBack(1)">
                                    <i class="fa fa-chevron-left"></i> Anterior
                                </button>
                                <button class="ms-2 btn btn-outline-primary"
                                        id="btnNextS3" (click)="doSave()"> Guardar
                                    <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
