<div>
    <div class="d-md-flex justify-content-between align-items-end m-1">
        <div>
            <h4 class="quitaPaddingMargin">Libro Diario</h4>
        </div>
        <div>
            <app-rangofechas [form]="formfiltros"
                             [showlabels]="false"
                             (evDesdeChange)="onDesdeChange($event)"
                             (evHastaChange)="onHastaChange($event)"
                             (evFilterSel)="onTipoFechaSel()">
            </app-rangofechas>
        </div>
        <div>
            <div class="btn-group">
                <button class="btn btn-outline-primary" (click)="loadLibroDiario()"><i
                        class="fas fa-search"></i>
                </button>
                <button class="btn btn-outline-primary" (click)="gotoFormAsiento()"><i
                        class="fa fa-plus-circle"></i>
                    Nuevo Asiento
                </button>
            </div>
        </div>
    </div>

    <div class="mt-2">
        <div *ngIf="isLoading">
            <app-loading></app-loading>
        </div>

        <div *ngIf="!isLoading">
            <div *ngIf="librodiario.length===0" class="p-4">
                <h3 class="text-muted">No hay registros</h3>
            </div>

            <div class="table-responsive" *ngIf="librodiario.length>0">
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col" width="10%">
                            <div class="fontsizesm">Fecha</div>
                        </th>
                        <th scope="col" width="10%">
                            <div class="fontsizesm text-center">
                                Código
                            </div>
                        </th>
                        <th scope="col" width="50%">
                            <div class="fontsizesm text-center">
                                Cuenta Contable
                            </div>
                        </th>
                        <th scope="col" width="15%">
                            <div class="fontsizesm text-center">Debe</div>
                        </th>
                        <th scope="col" width="15%">
                            <div class="fontsizesm text-center">Haber</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let fila of librodiario">
                        <tr *ngIf="fila.tr===0">
                            <td class="border-bottom-0">
                                {{fila.trn_fecreg}}
                            </td>
                            <td colspan="3">
                                <div title="Click para ver detalles del asiento"
                                     style="border-top: 1px dashed rgba(0,0,0,1); "
                                     class="d-flex flex-row-reverse fontsizesm hand" (click)="verDetalles(fila)">
                                    <div>
                                        <span class="fw-bold">#{{fila.ic_nombre}}</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-row-reverse">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-primary"
                                                *ngIf="fila.tra_codigo===13 && fila.bmo_id===0"
                                                title="Anular"
                                                (click)="anular(fila)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-primary"
                                                *ngIf="fila.tra_codigo===13 && fila.bmo_id===0"
                                                title="Editar"
                                                (click)="gotoEditAsiento(fila)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-primary"
                                                title="Ver Detalles"
                                                (click)="verDetalles(fila)">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="fila.tr===1">
                            <td class="border-top-0 border-bottom-0">

                            </td>
                            <td>
                                <span class="fontsizesm"
                                      [ngClass]="{'haberl':fila.dt_debito===-1}">{{fila.ic_code}}</span>
                            </td>
                            <td>
                                <span class="fontsizesm" [ngClass]="{'haberl':fila.dt_debito===-1}">
                                {{fila.ic_nombre}}
                                </span>
                            </td>
                            <td>
                                <div class="d-flex flex-row-reverse fontsizesm">{{fila.debe}}</div>
                            </td>
                            <td>
                                <div class="d-flex flex-row-reverse fontsizesm">{{fila.haber}}</div>
                            </td>
                        </tr>

                        <tr *ngIf="fila.tr===2">
                            <td class="border-top-0">

                            </td>
                            <td>

                            </td>
                            <td colspan="3">
                                <p class="fontsizesm" style="white-space: pre-line">
                                    {{fila.ic_nombre}}
                                </p>
                            </td>
                        </tr>
                    </ng-container>
                    <tr>
                        <td colspan="3">
                            <div class="d-flex flex-row-reverse fw-bold">TOTAL:</div>
                        </td>
                        <td>
                            <div class="d-flex flex-row-reverse fw-bold"> {{totales.debe}} </div>
                        </td>
                        <td>
                            <div class="d-flex flex-row-reverse fw-bold"> {{totales.haber}} </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShowDetAsi">
    <p-dialog header="Detalles del asiento" [style]="{width: '95vw'}" [autoZIndex]="false"
              [modal]="true"
              [closeOnEscape]="true"
              [(visible)]="isShowDetAsi">
        <app-asientoview [trncod]="asisel.trn_codigo" (evCerrar)="hideDetAsi()"></app-asientoview>
    </p-dialog>
</div>
