<div>
    <div class="d-flex justify-content-between align-items-end m-1">
        <div>
            <h4 class="quitaPaddingMargin">Libro Diario</h4>
        </div>
        <div>
            <button class="btn btn-outline-primary" (click)="loadLibroDiario()"><i
                    class="fas fa-sync-alt"></i>
            </button>
            <button class="btn btn-outline-primary" (click)="gotoFormAsiento()"><i
                    class="fa fa-plus-circle"></i>
                Nuevo Asiento
            </button>
        </div>
    </div>

    <div class="mt-2">
        <div *ngIf="isLoading">
            <app-loading></app-loading>
        </div>

        <div *ngIf="!isLoading" class="border shadow-sm">
            <div *ngIf="librodiario.length===0" class="p-4">
                <h3 class="text-muted">No hay registros</h3>
            </div>

            <div class="table-responsive" *ngIf="librodiario.length>0">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col" width="10%" class="border-right">
                            <div class="font-weight-light text-center">Fecha</div>
                        </th>
                        <th scope="col" width="10%" class="border-right">
                            <div class="font-weight-light text-center">
                                Código
                            </div>
                        </th>
                        <th scope="col" width="50%" class="border-right">
                            <div class="font-weight-light text-center">
                                Cuenta Contable
                            </div>
                        </th>
                        <th scope="col" width="15%" class="border-right">
                            <div class="font-weight-light text-center">Debe</div>
                        </th>
                        <th scope="col" width="15%">
                            <div class="font-weight-light text-center">Haber</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let fila of librodiario">
                        <tr *ngIf="fila.tr===0">
                            <td>
                                {{fila.trn_fecreg}}
                            </td>
                            <td colspan="2" class="border">
                                <div class="text-center text-muted fontsizesm">
                                    {{fila.ic_nombre}}
                                </div>
                            </td>
                            <td class="border">

                            </td>
                            <td class="border">

                            </td>
                        </tr>
                        <tr *ngIf="fila.tr===1">
                            <td class="border-0">

                            </td>
                            <td class="border">
                                <span class="text-muted fontsizesm"
                                      [ngClass]="{'haberl':fila.dt_debito===-1}">{{fila.ic_code}}</span>
                            </td>
                            <td class="border">
                                <span class="fontsizesm" [ngClass]="{'haberl':fila.dt_debito===-1}">
                                {{fila.ic_nombre}}
                                </span>
                            </td>
                            <td class="border">
                                <div class="d-flex flex-row-reverse fontsizesm">{{fila.debe}}</div>
                            </td>
                            <td class="border">
                                <div class="d-flex flex-row-reverse fontsizesm">{{fila.haber}}</div>
                            </td>
                        </tr>

                        <tr *ngIf="fila.tr===2">
                            <td class="border-0 h-100">
                                <div class="h-100 d-flex">
                                    <button class="btn btn-sm btn-outline-secondary" title="Anular"
                                            (click)="anular(fila)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button class="btn btn-sm btn-outline-secondary" title="Editar"
                                            (click)="gotoEditAsiento(fila)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="border">

                            </td>
                            <td class="border">
                                <p class="fontsizesm" style="white-space: pre-line">
                                    {{fila.ic_nombre}}
                                </p>
                            </td>
                            <td class="border">

                            </td>
                            <td class="border">

                            </td>
                        </tr>
                    </ng-container>
                    <tr>
                        <td colspan="3">
                            <div class="d-flex flex-row-reverse font-weight-bold">TOTAL:</div>
                        </td>
                        <td>
                            <div class="d-flex flex-row-reverse font-weight-bold"> {{totales.debe}} </div>
                        </td>
                        <td>
                            <div class="d-flex flex-row-reverse font-weight-bold"> {{totales.haber}} </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
