<div class="row">
    <div class="col">
        <h4>Mis Citas <span *ngIf="citas.length>0"> ({{citas?citas.length:0}}) </span></h4>
    </div>
    <div class="col">
        <div class="pull-right">
            <span> Citas médicas para {{this.datosUserLogged.per_nombres + ' ' + this.datosUserLogged.per_apellidos}} </span>
        </div>
    </div>
</div>
<hr>
<div class="row" *ngIf="citaSelected===null">
    <div class="col-md-12">
        <span>Día:  </span>
        <p-calendar id="dia_input"
                    [showIcon]="true" [(ngModel)]="dia"
                    [locale]="es" inputId="dia_input"
                    (onSelect)="loadCitas()"
                    [monthNavigator]="true" [yearNavigator]="true" [minDate]="minimumDate"
                    yearRange="2020:2050"
                    dateFormat="dd/mm/yy"></p-calendar>
        <button class="btn btn-outline-primary" style="margin: 0px 20px" (click)="showAllCitas()"> Todas las citas
        </button>
    </div>
</div>
<div class="row" style="padding-top: 20px">
    <div class="col" *ngIf="citaSelected===null">
        <div class="card border-primary">
            <table class="table table-hover" *ngIf="citas.length>0">
                <thead>
                <tr>
                    <th scope="col"> Nro</th>
                    <th scope="col"> Día</th>
                    <th scope="col"> Hora</th>
                    <th scope="col"> Paciente</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of citas" class="{{row===citaSelected?'table-active':''}}"
                    (click)="selectCita(row)">
                    <td>
                        {{row.cita_id}}
                    </td>
                    <td>
                        {{row.cita_fecha_str}}
                        <span class="badge " [ngClass]="{'badge-warning':row.cita_estado===0,
                    'badge-success':row.cita_estado===1, 'badge-secondary':row.cita_estado===2} ">
                            {{row.estado}}</span>
                    </td>
                    <td>
                        {{row.cita_hora_str}}
                    </td>
                    <td>
                        {{row.up_nombres}}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="card-body" *ngIf="citas.length==0">
                <h3 class="text-muted"> No tiene citas pendietes en esta fecha </h3>
            </div>
        </div>
    </div>
    <div class="col" *ngIf="citaSelected!=null">
        <div class="card border-primary">
            <div class="card-header">
                Detalles de la cita Nro {{citaSelected.cita_id}}  <span class="badge " [ngClass]="{'badge-warning':citaSelected.cita_estado===0,
                    'badge-success':citaSelected.cita_estado===1, 'badge-secondary':citaSelected.cita_estado===2} ">
                        {{citaSelected.estado}}
                    </span>
                <div class="btn-group pull-right" role="group" aria-label="Default button group">
                    <button type="button" class="btn btn-outline-success" (click)="retornaCitas()"
                            title="Retornar a listado de citas">
                        <i class="fa fa-arrow-left"></i>
                    </button>

                    <button type="button" class="btn btn-outline-success" (click)="citaAnterior()" [disabled]="currentCitaIndex==0"
                            title="Retornar a listado de citas">
                        <i class="fa fa-arrow-up"></i>
                    </button>

                    <button type="button" class="btn btn-outline-success" (click)="citaSiguiente()" [disabled]="currentCitaIndex==citas.length-1"
                            title="Retornar a listado de citas">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class=" row">
                    <div class="col-md-9">
                        <div class="row">
                            <label for="staticId" class="col-sm-3 col-form-label text-muted">
                                <i class="fa fa-hashtag"></i> Nro Cita:
                            </label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="staticId"
                                       value="{{citaSelected.cita_id}}">
                            </div>
                        </div>

                        <div class="row">
                            <label for="staticEstado" class="col-sm-3 col-form-label text-muted">
                                Estado:
                            </label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="staticEstado"
                                       value="{{citaSelected.estado}}">
                            </div>
                        </div>

                        <div class=" row">
                            <label for="fechaReg" class="col-sm-3 col-form-label text-muted">
                                <i class="fa fa-calendar"></i>
                                Fecha:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="fechaReg"
                                       value="{{citaSelected.cita_fecha_str}}">
                            </div>
                        </div>

                        <div class=" row">
                            <label for="horaCita" class="col-sm-3 col-form-label text-muted">
                                <i class="fa fa-clock-o"></i>
                                Hora:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="horaCita"
                                       value="{{citaSelected.cita_hora_str}} - {{citaSelected.cita_hora_fin_str}}">
                            </div>
                        </div>
                        <!--
                        <div class=" row">
                            <label for="horaFinalCita" class="col-sm-3 col-form-label">
                                <i class="fa fa-clock-o"></i>
                                Hora Fin:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="horaFinalCita"
                                       value="{{citaSelected.cita_hora_fin_str}}">
                            </div>
                        </div>
                        -->
                        <div class=" row">
                            <label for="pacienteCita" class="col-sm-3 col-form-label text-muted">
                                <i class="fa fa-user"></i> Paciente:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="pacienteCita"
                                       value="{{citaSelected.up_nombres}}">
                            </div>
                        </div>
                        <div class=" row">
                            <label for="emailPaciente" class="col-sm-3 col-form-label text-muted">
                                <i class="fa fa-envelope"></i> Email:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="emailPaciente"
                                       value="{{citaSelected.up_email}}">
                            </div>
                        </div>
                        <div class=" row">
                            <label for="movilPaciente" class="col-sm-3 col-form-label text-muted">
                                <i class="fa fa-phone"></i>
                                Nro Teléfono:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="movilPaciente"
                                       value="{{citaSelected.up_celular}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-left">
                            <img src="{{citaSelected.up_photourl}}" width="80" height="80" class="d-inline-block align-top"
                                 alt="">
                        </div>
                    </div>
                </div>

                <div class=" row">
                    <label for="pacienteCita" class="col-sm-3 col-form-label text-muted">
                        <i class="fa fa-sticky-note"></i> Agregar Observación:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="observacion" name="observacion" cols="40" rows="5"
                                  [(ngModel)]="observacion"></textarea>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="btn-group pull-right" role="group" aria-label="Default button group">
                    <button type="button" class="btn btn-outline-success" (click)="retornaCitas()"
                            title="Retornar a listado de citas">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                    <button type="button" class="btn btn-outline-success"  (click)="cambiarEstado(1)"
                            [disabled]="citaSelected.cita_estado!==0"
                            title="Marcar esta cita como atendida">
                        <span class="fa fa-check"></span>Marcar como atendida
                    </button>
                    <button type="button" class="btn btn-outline-success"  (click)="cambiarEstado(2)"
                            [disabled]="citaSelected.cita_estado!==0"
                            title="Marcar esta cita como anulada">
                        <span class="fa fa-times"></span>Anular esta cita
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>