<div class="row align-items-end">
  <div class="col-md-8">
    <h4>Productos y Servicios</h4>
  </div>
  <div class="col">

  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control" id="buscaInput" (keyup)="doFilter($event)" [(ngModel)]="filtro"  placeholder="Buscar artículo por codigo de barra o por nombre">
      <div class="input-group-append">
        <button class="btn btn-outline-success" type="button" id="buttonSearh" (click)="listar()" title="Buscar producto o servicio">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="btn-group pull-right" role="group" aria-label="Default button group">
      <button type="button" class="btn btn-outline-success" (click)="listar()" title="Actualiza listado de productos y servicios">
        <i class="fa fa-search"></i>
        Listar</button>
      <button type="button" class="btn btn-outline-success" [disabled]="!enableBtns" (click)="editar()" title="Muestra el detalle completo del producto o servicio">
        Detalles</button>
      <button type="button" class="btn btn-outline-success" (click)="goToForm()" title="Registrar un nuevo producto o servicio">
        <i class="fa fa-plus-circle"></i>
        Crear</button>
    </div>
  </div>
</div>
<br>
<p-table [value]="items" [paginator]="true" [rows]="50" selectionMode="single" [(selection)]="selectedItem"
         (onRowSelect)="onRowSelect($event)"
         (onRowUnselect)="onUnRowSelect($event)">
  <ng-template pTemplate="caption">
    Listado de productos y servicios ({{items.length}})
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let item of cols" [pSortableColumn]="item.field" [ngSwitch]="item.field">
        {{item.label}}
        <p-sortIcon [field]="item.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let item of cols">
        {{rowData[item['field']]}}
      </td>
      <!--
      <td>
        <button class="btn btn-sm btn-outline-dark" (click)="selectArt(rowData)">
          <i class="pi pi-pencil"></i>
        </button>
      </td>
      -->
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="cols.length+1">
        <span  class="text-muted">No hay registros</span>
      </td>
    </tr>
  </ng-template>
</p-table>
