.fstbpadtit{
    padding: 0.5em 0.5em 0 0.5em !important;
}

.fstbpadtitnumber{
    padding: 0 0.5em !important;
}


.fstbpaddet{
    padding: 0 0.5em 0.5em 0.5em !important;
}

.fstbsmall{
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}
