<h1 class="bd-title">
    <i class="fa-solid fa-boxes-stacked"></i>
    Productos y Servicios <span class="badge rounded-pill text-bg-primary">{{items.length}}</span></h1>

<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" id="buscaInput" (keyup)="doFilter($event)" [(ngModel)]="filtro"
                   placeholder="Buscar artículo por codigo de barra o por nombre">
            <button class="btn btn-outline-primary" type="button" id="buttonSearh" (click)="listar()"
                    title="Buscar producto o servicio">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
    <div class="col">
        <p-dropdown [options]="sections" optionLabel="sec_nombre" [(ngModel)]="selectedSection"
                    (onChange)="listar()"></p-dropdown>
    </div>
    <div class="col">
        <p-dropdown [options]="categorias" id="catic_id"
                    [(ngModel)]="selectedCat"
                    filter="true"
                    optionLabel="catic_nombre"
                    optionValue="catic_id"
                    (onChange)="listar()"
                    inputId="catic_id"></p-dropdown>
    </div>
    <div class="col d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Default button group">
            <button type="button" class="btn btn-outline-primary" (click)="goToForm()"
                    title="Registrar un nuevo producto o servicio">
                Crear <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<div *ngIf="loadingArts">
    <app-loading></app-loading>
</div>
<div *ngIf="!loadingArts" class="mt-2">
    <p-table [value]="items" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedItem"
             [(contextMenuSelection)]="selectedItem"
             [resizableColumns]="true"
             (onRowSelect)="onRowSelect($event)"
             (onRowUnselect)="onUnRowSelect($event)"
             [contextMenu]="cm" tableStyleClass="table table-hover table-striped table-bordered fusay-table">
        <ng-template pTemplate="header">
            <tr class="table-light">
                <th *ngFor="let item of cols" [pSortableColumn]="item.field" [ngSwitch]="item.field">
                    {{item.label}}
                    <p-sortIcon [field]="item.field"></p-sortIcon>
                </th>
                <th class="colaction"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr [pContextMenuRow]="rowData" (dblclick)="onDobleClick(rowData)">
                <td *ngFor="let item of cols" class="fstbpaddet">
                    {{ rowData[item['field']] }}
                </td>
                <td class="fstbpadtit">
                    <button (click)="viewItem(rowData)" class="btn btn-outline-primary btn-sm"
                            title="Ver detalles del producto o servicio"><i class="fa fa-eye"></i></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <th>

                </th>
                <th>
                    <span class="fw-bold">TOTAL:</span>
                </th>
                <th>
                    <span> {{totales.tpciva}} </span>
                </th>
                <th>
                    <span> {{totales.tpviva}}</span>
                </th>
                <th>

                </th>
                <th>
                    <span> {{totales.toti}}</span>
                </th>
                <th width="4%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="cols.length+1">
                    <span class="text-muted">No hay registros</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-contextMenu #cm [model]="itemsCtxMenu"></p-contextMenu>
