<div>
    <div class="mt-4">
        <div class="row">
            <div class="col-md-6" style="position: relative">
                <div class="row d-flex" style="justify-content: center">
                    <div style="width: 60%; height: 100%;">
                        <img src="assets/imgs/Mavil.png" class="img-fluid"
                             alt="Sistema de facturación, contable, citas médicas y citas odontológicas">
                    </div>
                </div>

                <div style="position: absolute; bottom: 0px; width: 100%">
                    <ul class="mt-5 list-group">
                        <li class="list-group-item hand list-group-item-action d-flex"
                            *ngFor="let item of secciones" (click)="cambiarSeccion(item)">
                            <i class="fa  {{item.sec_id==seccion.sec_id?'fa-check':''}}"></i>
                            <span class="ml-3">{{item.sec_nombre}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5">
                <p-panelMenu [model]="menuApp" [transitionOptions]="'0ms'" [style]="{'width':'100%'}"
                             [multiple]="false"></p-panelMenu>
            </div>
        </div>
    </div>
</div>

<div style="position: fixed; bottom: 0px; width: 100%;">
    <app-appfooter></app-appfooter>
</div>
