<div>
    <div class="py-3">
        <div>
            <h3>Módulo de cobros de agua</h3>
        </div>
        <div class="d-flex" *ngIf="!isShowDetails">
            <input [(ngModel)]="filtro" id="filtropag" type="text" class="form-control" autofocus (keyup)="doFilter()"
                placeholder="Buscar por número de medidor, nombres o apellidos">
            <button class="ms-2 btn btn-primary" (click)="loadContratos()">Buscar</button>
        </div>
    </div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!isLoading &&!isShowDetails">
        <h5>Contratos registrados <span class="fs-5">({{gridcontratos.data.length}})</span></h5>
        <p-table [value]="gridcontratos.data" [paginator]="true" [rows]="50" selectionMode="single" [responsive]="true"
            [resizableColumns]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let item of gridcontratos.cols" [pSortableColumn]="item.field" [ngSwitch]="item.field"
                        [width]="item.width">
                        <span class="fontsizesm">{{item.label}}</span>
                        <p-sortIcon [field]="item.field"></p-sortIcon>
                    </th>
                    <th>

                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" (dblclick)="onrowdblclick(rowData)"
                    styleClass="p-0" (mouseover)="setRowOver(gridcontratos.data.indexOf(rowData))">
                    <td *ngFor="let item of gridcontratos.cols" [width]="item.width">
                        <span class="p-column-title">{{item.label}}</span>
                        <span class="fontsizesm">{{rowData[item.field]}}</span>
                    </td>
                    <td>
                        <button class="btn btn-sm hand"
                            [ngClass]="gridcontratos.data.indexOf(rowData)===currentRowOver?'btn-primary':'btn-outline-dark'"
                            (click)="onrowdblclick(rowData)">
                            <span class="px-2 fa fa-chevron-right"></span></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="gridcontratos.cols?.length+1">
                        <span class="text-muted">No hay registros</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="isShowDetails">
        <app-aguadash [datosmedidor]="filasel" (evClosed)="onClosedDetails()"></app-aguadash>
    </div>
</div>