<div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!isLoading">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr"> Número: </span>
                    </div>
                    <div class="col-md-8">
                        <span class="fw-bold fontsizenr"> {{datosasi.cabecera.trn_compro}} </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr"> Tipo: </span>
                    </div>
                    <div class="col-md-8">
                        <span class="fw-bold fontsizenr"> {{datosasi.cabecera.tra_nombre}} </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr"> Fecha: </span>
                    </div>
                    <div class="col-md-8">
                        <span class="fw-bold fontsizenr"> {{datosasi.cabecera.trn_fecreg}} </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr"> Estado: </span>
                    </div>
                    <div class="col-md-8">
                        <span class="fw-bold fontsizenr"> {{datosasi.cabecera.estado}} </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr"> Registrado por: </span>
                    </div>
                    <div class="col-md-8">
                        <span class="fw-bold fontsizenr"> {{datosasi.cabecera.refusercrea}} </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr"> Fecha de registro: </span>
                    </div>
                    <div class="col-md-8">
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold fontsizenr"> {{datosasi.cabecera.trn_fecha}} </span>
                            <div class="d-flex flex-row-reverse" *ngIf="datosfactrel?.trn_codigo&&!isShowDocRel">
                                <button class="btn btn-sm btn-outline-info" (click)="toggleShowDocRel()"
                                        title="Muestra la factura o el asiento contable relacionado con este abono">
                                    <i class="fa fa-eye"></i>
                                    Ver Doc Relacionado
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="fw-normal fontsizenr"> Observación: </span>
            </div>
            <div class="col-md">
                <p style="white-space: pre-line" class="fontsizenr"> {{datosasi.cabecera.trn_observ}} </p>
            </div>
        </div>

        <div *ngIf="isShowDocRel" class="border border-info shadow-sm p-1 mb-3">
            <div *ngIf="isFactura">
                <app-facturaview [trncod]="trncodrel" (evBtnClosed)="hideDocRel()"></app-facturaview>
            </div>

            <div *ngIf="!isFactura">
                <app-asientoview [trncod]="trncodrel" (evCerrar)="hideDocRel()"></app-asientoview>
            </div>
        </div>


        <div class="table-responsive mt-2">
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th scope="col" width="10%" class="border-end">
                        <span class="fontsizesm">Código</span>
                    </th>
                    <th scope="col" width="50%" class="border-end">
                        <div class="fontsizesm text-center">
                            Cuenta Contable
                        </div>
                    </th>
                    <th scope="col" width="15%" class="border-end">
                        <div class="fontsizesm d-flex flex-row-reverse">Debe</div>
                    </th>
                    <th scope="col" width="15%">
                        <div class="fontsizesm d-flex flex-row-reverse">Haber</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let fila of detalles">
                    <tr>
                        <td class="border">
                                <span class="fontsizesm"
                                      [ngClass]="{'haberl':fila.dt_debito===-1}">{{fila.ic_code}}</span>
                        </td>
                        <td class="border">
                                <span class="fontsizesm" [ngClass]="{'haberl':fila.dt_debito===-1}">
                                {{fila.ic_nombre}}
                                </span>
                        </td>
                        <td class="border">
                            <div *ngIf="fila.dt_debito===1"
                                 class="d-flex flex-row-reverse fontsizesm">{{fila.dt_valor|number:'.2'}}</div>
                        </td>
                        <td class="border">
                            <div *ngIf="fila.dt_debito===-1"
                                 class="d-flex flex-row-reverse fontsizesm">{{fila.dt_valor|number:'.2'}}</div>
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <td colspan="2">
                        <div class="d-flex flex-row-reverse fw-bold">TOTAL:</div>
                    </td>
                    <td>
                        <div class="d-flex flex-row-reverse fw-bold"> {{totales.debe|number:'.2'}} </div>
                    </td>
                    <td>
                        <div class="d-flex flex-row-reverse fw-bold"> {{totales.haber|number:'.2'}} </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row" *ngIf="showBtns">
            <div class="col-md">
                <button class="btn btn-sm btn-outline-primary ms-md-1" [disabled]="isLoading"
                        (click)="changeSec()">
                    <i class="fas fa-exchange-alt" title="Cambiar Sección"></i>
                </button>
            </div>
            <div class="col-md">
                <div class="mt-2 d-flex flex-row-reverse">
                    <button class="btn btn-outline-primary ms-1" (click)="onCerraBtn()"><i
                            class="fa fa-times"></i>
                        Cerrar
                    </button>
                    <!--
                    <button class="btn btn-outline-primary" (click)="onAnularBtn()"
                            *ngIf="datosasi.cabecera.trn_valido===0">
                        <i class="fa fa-trash"></i>
                        Anular
                    </button>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShowChangeSec">
    <p-dialog header="Cambio de sección" [modal]="true" [style]="{width: '50vw'}" [autoZIndex]="true"
              [(visible)]="isShowChangeSec">
        <app-changesecdoc [trncod]="trncod" (evDoed)="onChangeSecDoed()" (evHide)="onChangeSecHide()"></app-changesecdoc>
    </p-dialog>
</div>
