<div class="row align-items-end">
    <div class="col-md-4">
        <h4>Lista de usuarios</h4>
    </div>
    <div class="col d-flex flex-row-reverse">
        <div class="btn-group" role="group" aria-label="Default button group">
            <button type="button" class="btn btn-outline-primary" (click)="loadGrid()">
                <i class="fas fa-sync"></i>
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="nuevo()">
                <i class="fa fa-plus-circle"></i>
                Crear
            </button>
        </div>
    </div>
</div>
<hr>

<p-table [value]="grid.data" [paginator]="true" [rows]="50" selectionMode="single" [(selection)]="selectedItem"
    [autoLayout]="true" [resizableColumns]="true" [(contextMenuSelection)]="selectedItem">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let item of grid.cols" [pSortableColumn]="item.field" [ngSwitch]="item.field">
                {{item.label}}
                <p-sortIcon [field]="item.field"></p-sortIcon>
            </th>
            <th>
                Acción
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
            <td *ngFor="let item of grid.cols">
                {{rowData[item['field']]}}
            </td>
            <td>
                <button class="btn btn-sm btn-outline-dark" style="margin-right: 5px" (click)="cambiarEstado(rowData)"
                    title="{{rowData.us_estado===0?'Desactivar':'Activar'}}">
                    <i class="fas {{rowData.us_estado===0?'fa-trash':'fa-toggle-on'}}"></i>
                </button>
                <button class="btn btn-sm btn-outline-dark" (click)="editarRow(rowData)"
                    title="Editar Roles del sistema">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-outline-dark" title="Cambiar clave" (click)="cambiarClave(rowData)">
                    <i class="fas fa-key"></i>
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="grid?.cols?.length+1">
                <span class="text-muted">No hay registros</span>
            </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="isShowModal">
    <p-dialog header="Realizar cambio de clave" [modal]="true" [style]="{width: '50vw'}" [closeOnEscape]="true"
        [autoZIndex]="false" [(visible)]="isShowModal">
        <div class="m-3">
            <div class="mb-3">
                <label for="numCelInput">
                    <span class="required">*</span>
                    Nueva Clave:</label>
                <input type="password" class="form-control " id="usClaveInput" maxlength="15" name="us_clave"
                    [(ngModel)]="formCambioClave.us_clave" placeholder="" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="numCelInput">
                    <span class="required">*</span>
                    Confirma clave:</label>
                <input type="password" class="form-control " id="usConfirmClaveInput" maxlength="15"
                    name="us_confirmclave" [(ngModel)]="formCambioClave.us_confirmclave" placeholder=""
                    autocomplete="off">
            </div>

            <div class="mt-2 d-flex justify-content-around">
                <button class="btn btn-outline-primary" (click)="guardarCambioClave()">
                    <span class="fa fa-save"></span> Guardar </button>
                <button class="btn btn-outline-secondary" (click)="cancelarCambioClave()"> <span
                        class="fa fa-times"></span> Cancelar </button>
            </div>
        </div>
    </p-dialog>
</div>