<div>
    <div class="d-flex justify-content-center">
        <h4 class="pt-3 pb-2">Registrar pago por consumo de agua</h4>
    </div>

    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>

    <div>
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <p-steps [model]="steps" [readonly]="false" [activeIndex]="currentStep"></p-steps>
            </div>
        </div>

        <div *ngIf="!isLoading" style="background-color: rgba(201,201,201,0.43)">
            <div class="row">
                <div class="{{currentStep===2&&hasLecturas?'offset-md-1 col-md-10':'offset-md-3 col-md-6'}}">
                    <div class="my-4 py-4 px-3 shadow-sm rounded bg-white">
                        <div *ngIf="currentStep===0">
                            <app-buscaref [form]="form" (evOnEnterRef)="onEnterRef()"
                                          (evOnSelectRef)="onRefSelect()"></app-buscaref>
                            <div class="w-100 mt-4 d-flex justify-content-center">
                                <button class="btn btn-outline-secondary" (click)="doCancel()"> Cancelar <i
                                        class="fa fa-times"></i></button>
                                <button class="ms-2 btn btn-outline-primary" id="btnNextS1"
                                        *ngIf="form.referente?.per_id>0" (click)="doNext(1)">
                                    Siguiente <i
                                        class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                        <div *ngIf="currentStep===1">
                            <div *ngIf="medidores.length==0" class="mt-2 alert alert-warning">
                                    <span>
                                        <i class="fa fa-exclamation-triangle me-2"></i>
                                        No tiene medidores registrados
                                    </span>
                            </div>

                            <div class="my-2">
                                <div class="p-3 border shadow-sm">
                                    <app-basicdatosref [datosref]="this.form.referente"></app-basicdatosref>
                                </div>
                            </div>
                            <div class="w-100" *ngIf="medidores.length>1">
                                <div class="alert alert-primary">
                                    <i class="fa fa-info me-2"></i> El referente tiene mas de un medidor registrado, por
                                    favor elija uno:
                                </div>
                                <app-tblmedidores [medidores]="medidores" [isForSelect]="true"
                                                  (evSelectFila)="onSelectMed($event)"></app-tblmedidores>
                            </div>
                            <div *ngIf="medidores.length===1">
                                <div class="p-3 border shadow-sm">
                                    <app-datosmedidor [datosmedidor]="medidores[0]"></app-datosmedidor>
                                </div>
                            </div>
                            <div class="w-100 mt-4 d-flex justify-content-center">
                                <button class="btn btn-outline-secondary" (click)="doBack(0)">
                                    <i class="fa fa-chevron-left"></i> Anterior
                                </button>
                                <button class="ms-2 btn btn-outline-primary" id="btnNextS2" *ngIf="medidores.length===1"
                                        (click)="doNext(2)">
                                    Siguiente <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                        <div *ngIf="currentStep===2" [ngClass]="{'row g-3':hasLecturas}">
                            <div [ngClass]="{'col-md-7':hasLecturas}">
                                <div class="mt-2 alert {{hasLecturas?(hasPagosPend?'alert-warning':'alert-success'):'alert-warning'}}">
                                    <span>
                                        <i class="fa fa-info me-2" *ngIf="!hasLecturas"></i>
                                        <i class="fa fa-check me-2" *ngIf="hasLecturas&&!hasPagosPend"></i>
                                        <i class="fa fa-exclamation-triangle me-2"
                                           *ngIf="hasLecturas&&hasPagosPend"></i>
                                        {{msgEstadoPago}}
                                    </span>
                                </div>
                                <div class="p-3 border shadow-sm">
                                    <div class="my-2">
                                        <app-basicdatosref [datosref]="this.form.referente"></app-basicdatosref>
                                    </div>

                                    <div class="mt-2">
                                        <app-datosmedidor [datosmedidor]="medsel"
                                                          [isshowtercedad]="hasPagosPend"></app-datosmedidor>
                                    </div>
                                </div>
                                <div class="table-responsive mt-2">
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="fontsizesm">Fecha Registro</div>
                                            </th>
                                            <th scope="col">
                                                <div class="fontsizesm">Año</div>
                                            </th>
                                            <th scope="col">
                                                <div class="fontsizesm">Mes</div>
                                            </th>
                                            <th scope="col">
                                                <div class="fontsizesm">Lectura</div>
                                            </th>
                                            <th scope="col">
                                                <div class="fontsizesm">Anterior</div>
                                            </th>
                                            <th scope="col">
                                                <div class="fontsizesm">Consumo</div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <ng-container *ngFor="let fila of consumos">
                                            <tr>
                                                <td>
                                                    <div class="fontsizenr">{{fila.lmd_fechacrea}}</div>
                                                </td>
                                                <td>
                                                    <div class="fontsizenr">{{fila.lmd_anio}}</div>
                                                </td>
                                                <td>
                                                    <div class="fontsizenr">{{fila.mes_nombre}}</div>
                                                </td>
                                                <td>
                                                    <div class="fontsizenr">{{fila.lmd_valor}} m<sup>3</sup></div>
                                                </td>
                                                <td>
                                                    <div class="fontsizenr">{{fila.lmd_valorant}} m<sup>3</sup></div>
                                                </td>
                                                <td>
                                                    <div class="fontsizenr">{{fila.lmd_consumo}} m<sup>3</sup></div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div [ngClass]="{'col-md-5 d-flex flex-column':hasLecturas}"
                                 *ngIf="hasLecturas && form.montos.formcab">

                                <div *ngIf="!hasPagosPend" class="border p-2">
                                    <span>La última factura cancelada es:</span>
                                    <div class="row mt-2">
                                        <div class="col-md-3">
                                            <span class="fw-bold fontsizesm">Año:</span>
                                        </div>
                                        <div class="col-md">
                                            <span class="fontsizesm">{{lastPago.lmd_anio}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <span class="fw-bold fontsizesm">Mes:</span>
                                        </div>
                                        <div class="col-md">
                                            <span class="fontsizesm">{{lastPago.mes_nombre}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <span class="fw-bold fontsizesm">Consumo:</span>
                                        </div>
                                        <div class="col-md">
                                            <span class="fontsizesm">{{lastPago.lmd_consumo}} m<sup>3</sup></span>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span class="fw-bold fontsizesm">Nro Recibo:</span>
                                            </div>
                                            <div class="col-md">
                                                <span class="fontsizesm">{{facturaPago.tasiento?.trn_compro}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="fw-bold fontsizesm">Fecha de registro:</span>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="fontsizesm">{{facturaPago.tasiento?.trn_fecha}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="fw-bold fontsizesm">Registrado por:</span>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="fontsizesm">{{facturaPago.tasiento?.refusercrea}}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="fw-bold fontsizesm">Monto Total:</span>
                                            </div>
                                            <div class="col-md">
                                                <span class="fontsizesm">{{facturaPago.pagosobj?.total}}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="fw-bold fontsizesm">Observación:</span>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="fontsizesm"
                                                   style="white-space: pre-line">{{facturaPago.tasiento?.trn_observ}}</p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row-reverse justify-content-center">
                                            <button class="btn btn-sm btn-outline-secondary" (click)="verFactura()">
                                                <i class="fa fa-eye"></i>Ver Factura
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="hasPagosPend">
                                    <div class="d-flex flex-column mt-2">
                                        <div class="fontsizenr">Fecha máxima de pago: <span
                                                class="ms-2 fw-bold">{{form.montos?.fecha_max_pago}}</span></div>
                                    </div>
                                    <div class="d-flex flex-column mt-2">
                                        <div class="fontsizenr">Fecha de cobro: <span
                                                class="ms-2 fw-bold">{{form.montos?.fecha_actual}}</span></div>
                                    </div>
                                    <div class="d-flex flex-column mt-2">
                                        <div class="fontsizenr">Nro Recibo:</div>
                                        <div>
                                            <input type="text" class="form-control form-control-sm"
                                                   [(ngModel)]="form.montos.formcab.secuencia" [disabled]="true">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column mt-2">
                                        <div class="fontsizenr fw-bold">Observación:</div>
                                        <textarea class="form-control" [(ngModel)]="form.obs" rows="4"
                                                  autocomplete="off" placeholder="Ingrese una observación sobre el pago"
                                                  id="trn_observ"></textarea>

                                    </div>
                                    <div class="mt-2 p-3 bg-success bg-gradient shadow-sm">
                                        <div class="row">
                                            <div class="col-md-8">
                                            <span class="fw-normal text-white">Consumo Base ({{form.montos?.consumo_base}}
                                                m<sup>3</sup>):</span>
                                            </div>
                                            <div class="col-md">
                                                <span class="fw-bold text-white"> +${{form.montos?.costobase|number:'.2'}} </span>
                                            </div>
                                        </div>

                                        <div class="row mt-1">
                                            <div class="col-md-8">
                                            <span class="fw-normal text-white">Exceso ({{form.montos?.consumo_exceso}}
                                                m<sup>3</sup>):</span>
                                            </div>
                                            <div class="col-md">
                                                <span class="fw-bold text-white"> +${{form.montos?.costoexceso|number:'.2'}} </span>
                                            </div>
                                        </div>

                                        <div class="row mt-1">
                                            <div class="col-md-8">
                                                <span class="fw-normal text-white">Multa:</span>
                                            </div>
                                            <div class="col-md">
                                                <span class="fw-bold text-white"> +${{form.montos?.multa|number:'.2'}}</span>
                                            </div>
                                        </div>

                                        <div class="row mt-1">
                                            <div class="col-md-8">
                                                <span class="fw-normal text-white" title="Descuento por tercera edad">Comisión Mavil:</span>
                                            </div>
                                            <div class="col-md">
                                                <span class="fw-bold text-white"> +${{form.montos?.comision_mavil|number:'.2'}}</span>
                                            </div>
                                        </div>

                                        <div class="row mt-1">
                                            <div class="col-md-8">
                                                <span class="fw-normal text-white" title="Descuento por tercera edad">Descuento:</span>
                                            </div>
                                            <div class="col-md">
                                                <span class="fw-bold text-white"> -${{form.montos?.descuento|number:'.2'}}</span>
                                            </div>
                                        </div>


                                        <div class="row mt-1">
                                            <div class="col-md-8">
                                                <span class="fw-bold text-white fs-5">TOTAL:</span>
                                            </div>
                                            <div class="col-md">
                                                <span class="fw-bold text-white fs-5"> ${{form.montos?.total|number:'.2'}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="w-100 mt-4 d-flex justify-content-center">
                                <button class="btn btn-outline-secondary" (click)="doBack(1)">
                                    <i class="fa fa-chevron-left"></i> Anterior
                                </button>
                                <button class="ms-2 btn btn-outline-primary" *ngIf="hasPagosPend"
                                        id="btnNextS3" (click)="doSave()"> Guardar
                                    <i class="fa fa-save"></i></button>
                                <button class="ms-2 btn btn-outline-secondary"
                                        *ngIf="!hasLecturas||lastPago?.trn_codigo>0"
                                        id="btnNextS4" (click)="doFinish()"> Terminar
                                    <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShowFact">
    <p-dialog header="Detalles del documento" [modal]="true" [style]="{width: '90vw'}" [baseZIndex]="10000"
              [(visible)]="isShowFact">
        <app-facturaview [trncod]="lastPago.trn_codigo" (evBtnClosed)="closeDetFact()"></app-facturaview>
    </p-dialog>
</div>
