<div class="container">
    <div class="row">
        <div class="col-9">
            <h4> {{artFromDb.ic_nombre}} </h4>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Default button group">
                <button type="button" class="btn btn-outline-success" (click)="retornar()"
                        title="Actualiza listado de productos y servicios">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button type="button" class="btn btn-outline-success" (click)="editar()"
                        title="Editar la información de este producto o servicio">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-outline-success" (click)="elminar()"
                        title="Borrar este producto o servicio">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card border-success">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/imgs/producto.png" alt="Imagen del producto o servicio"
                                 class="img-thumbnail">
                        </div>
                        <div class="col">
                            <div class="card border-secondary">
                                <div class="card-header">
                                    Datos del producto o servicio
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="font-weight-lighter">Tipo:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.tipic_nombre}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="font-weight-lighter">Nombre:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.ic_nombre}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="font-weight-lighter">Código:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.ic_code}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="font-weight-lighter">Fecha de ingreso:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.ic_fechacrea}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="font-weight-lighter">Graba Iva:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.icdp_grabaiva ? 'Si' : 'No'}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="font-weight-lighter">Categoría:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.catic_nombre}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="font-weight-lighter">Proveedor:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.proveedor}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="font-weight-lighter">Nota:</span>
                                        </div>
                                        <div class="col">
                                            <p class="text-justify"> {{artFromDb.ic_nota}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card border-secondary">
                                <div class="card-header">
                                    Precios
                                </div>
                                <div class="card-body">

                                    <div class="row" *ngIf="artFromDb.tipic_id===1">
                                        <div class="col-6">
                                            <span class="font-weight-lighter">Precio de compra <span
                                                    class="badge badge-light"> (Sin Iva) </span>:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.icdp_preciocompra}} $
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="artFromDb.tipic_id===1">
                                        <div class="col-6">
                                            <span class="font-weight-lighter">Precio de compra <span
                                                    class="badge badge-light"> (Con Iva) </span>:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.icdp_preciocompra_iva}} $
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="font-weight-lighter">Precio de venta<span
                                                    class="badge badge-light"> (Con Iva) </span>:</span>
                                        </div>
                                        <div class="col">
                                            {{artFromDb.icdp_precioventa}} $
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card border-secondary" *ngIf="artFromDb.tipic_id===1">
                                <div class="card-header">
                                    Stock
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" *ngFor="let item of stock">
                                            <div class="row">
                                                <div class="col">
                                                    {{item.sec_nombre}}
                                                </div>
                                                <div class="col">
                                                    <span> {{item.ice_stock}}  </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
