<div class="container">
    <div class="row mb-2">
        <div class="col-9">
            <h4> {{datosart?.ic_nombre}} </h4>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Default button group">
                <button type="button" class="btn btn-outline-primary" (click)="retornar()"
                        title="Actualiza listado de productos y servicios">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button type="button" class="btn btn-outline-primary" (click)="editar()"
                        title="Editar la información de este producto o servicio">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-outline-primary" (click)="elminar()"
                        title="Borrar este producto o servicio">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>

    <app-artview [codart]="artId" (evDatosArtLoaded)="onDatosArtLoaded($event)"></app-artview>

    <div class="mt-2">
        <button class="btn btn-outline-success" (click)="verKardex()">Ver Kardex</button>
    </div>
    <div class="mt-2 card border-secondary" *ngIf="isShowKardex">
        <div class="card-header">
            Kardex
        </div>
        <div class="table table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th>
                        <span class="fontsizesm">Fecha</span>
                    </th>
                    <th>
                        <span class="fontsizesm">Evento</span>
                    </th>
                    <th>
                        <span class="fontsizesm">Valor Antes</span>
                    </th>
                    <th>
                        <span class="fontsizesm">Valor Despues</span>
                    </th>
                    <th>
                        <span class="fontsizesm">Referencia</span>
                    </th>
                    <th>
                        <span class="fontsizesm">Observación</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fila of kardex">
                    <td>
                        <span class="fontsizexsm">{{fila.fecha_crea}}</span>
                    </td>
                    <td>
                        <span class="fontsizexsm">{{fila.evento}}</span>
                    </td>
                    <td>
                        <span class="fontsizexsm">{{fila.ica_valantes}}</span>
                    </td>
                    <td>
                        <span class="fontsizexsm">{{fila.ica_valdespues}}</span>
                    </td>
                    <td>
                        <span class="fontsizexsm">{{fila.referente}}</span>
                    </td>
                    <td>
                        <span class="fontsizexsm">{{fila.ica_obs}}</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
