<div class="row align-items-end">
    <div class="col-md-4">
        <h1 class="bd-title">
            <i class="fa-solid fa-users-gear"></i>
            Lista de roles</h1>
    </div>
    <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary" (click)="nuevo()">
            <i class="fa-solid fa-plus"></i>
            Crear
        </button>
    </div>
</div>

<div class="mt-2">
    <p-table [value]="items" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedItem"
             (onRowSelect)="onRowSelect($event)"
             tableStyleClass="table table-hover table-striped table-bordered fusay-table"
             [autoLayout]="false"
             [resizableColumns]="true"
             [(contextMenuSelection)]="selectedItem"
             (onRowUnselect)="onUnRowSelect($event)">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let item of cols" [pSortableColumn]="item.field" [ngSwitch]="item.field">
                    {{ item.label }}
                    <p-sortIcon [field]="item.field"></p-sortIcon>
                </th>
                <th>
                    Acción
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                <td *ngFor="let item of cols">
                    {{ rowData[item['field']] }}
                </td>
                <td>
                    <button class="btn btn-sm btn-outline-dark" style="margin-right: 5px" (click)="anularRow(rowData)"
                            title="Anular">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-dark" (click)="editarRow(rowData)" title="Editar">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="cols.length+1">
                    <span class="text-muted">No hay registros</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

