<div>
    <div>
        <button class="btn btn-outline-primary " (click)="loadFacturas()">
            <span class="fa fa-sync"></span>
        </button>
    </div>

    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>

    <div *ngIf="!isLoading">

        <p-table [value]="grid.data" [paginator]="true" [rows]="50" selectionMode="single" [(selection)]="selectedItem"
            [resizableColumns]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let item of grid.cols" [pSortableColumn]="item.field" [ngSwitch]="item.field"
                        [width]="item.width">
                        <span class="fontsizenr">{{item.label}}</span>
                        <p-sortIcon [field]="item.field"></p-sortIcon>
                    </th>
                    <th>

                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td *ngFor="let item of grid.cols">
                        <span class="fontsizesm">{{rowData[item['field']]}}</span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-dark me-3" (click)="imprime(1,rowData.cmp_claveaccesso)"
                            title="Ride">
                            PDF
                        </button>
                        <button class="btn btn-sm btn-outline-dark" (click)="imprime(2, rowData.cmp_claveaccesso)"
                            title="Ride XML">
                            XML
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="grid.cols.length+1">
                        <span class="text-muted">No hay registros</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>


    </div>


</div>