.dato-fila {
    margin: 15px 5px;
}

.datosadc {
    margin-top: 10px;
}

.dato-adc-fila {
    margin: 6px 1px;
}

.diagdropdown {
    width: 1000px !important;
}

.flex-center-columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnTextLeft{
    text-align: left !important;
    padding: 8px 20px;
    background-color: #F7F7F7 !important;
    color: #212529 !important;
    border-color: transparent !important;
}

.btnTextLeft:active,
.btnTextLeft:focus,
.btnTextLeft.focus,
.btnTextLeft.active{
    outline: none !important;
}

.btn.btn-secondary.focus,
.btn.btn-secondary:focus{
    outline: none !important;
}


.quitaPadding{
    padding: 0px !important;
}

.padding15{
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 15px;
}

.padflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

