.dato-fila {
    margin: 15px 5px;
}

.dato-fila-diag {
    margin: 0 5px !important;
}

.dato-adc-fila {
    margin: 6px 2px;
}

.padding15 {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 15px;
}
