<div class="container">
    <div class="row justify-content-md-center" *ngIf="showBuscaPaciente">
        <div class="col-md-6">

            <h1 class="text-muted">
                <span class="fa fa-history"></span> Historias Clínicas
            </h1>

            <div class="buscapanel">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="form.paciente.per_ciruc"
                           placeholder="Ingrese el número de cédula del paciente" id="initBuscaPacInput"
                           (keydown.enter)="initBuscaPaciente()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" (click)="initBuscaPaciente()">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!showBuscaPaciente">
        <div class="row">
            <div class="col-9">
                <h4>Historia
                    Clínica {{ form.paciente.per_nombres ? (' - ' + form.paciente.per_nombres + ' ' + form.paciente.per_apellidos + ' - ' + form.paciente.per_ciruc) : '' }} </h4>
            </div>
            <div class="col-3">
                <div class="btn-group pull-right" role="group" aria-label="Default button group">
                    <button type="button" class="btn btn-outline-success" (click)="limpiar()"
                            title="Cerrar esta historia y buscar otra">
                        <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="btn btn-outline-success" (click)="registrarCita()"
                            title="Guarda los detalles de la cita  médica">
                        <i class="fa fa-save"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr>

        <div class="accordion" id="accordionExample">


            <div class="card" *ngIf="historias.length>0">
                <!--
                <div class="card-header">-->
                <div class="row">
                    <div class="col">
                        <button class="btn btn-block btn-secondary btnTextLeft" (click)="toggleAcordion('collapseOne')">
                            Citas Anteriores <span class="badge badge-primary">{{historias.length}}</span>
                            <span class="fa fa-chevron-down"></span>
                        </button>
                    </div>
                </div>
                <!--</div>-->

                <!--
                <div class="card-header hand" id="headingOne" (click)="toggleAcordion('collapseOne')">
                    Citas Anteriores <span class="badge badge-primary">{{historias.length}}</span>
                    <span class="fa fa-chevron-down"></span>
                </div>
                -->

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

                        <table class="table table-hover" *ngIf="historias.length>0">
                            <thead>
                            <tr>
                                <th scope="col"> Día</th>
                                <th scope="col"> Motivo</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let row of historias">
                                <td>
                                    {{row.fecha_crea_largo}}
                                </td>
                                <td>
                                    {{row.cosm_motivo}}
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <div class="card">
                <!--
                <div class="card-header" id="headingTwo" (click)="toggleAcordion('collapseTwo')">
                    Datos de Filiación <span class="fa fa-chevron-down"></span>
                </div>
                -->
                <div class="row">
                    <div class="col">
                        <button class="btn btn-block btn-secondary btnTextLeft" (click)="toggleAcordion('collapseTwo')">
                            Datos de Filiación <span class="fa fa-chevron-down"></span>
                        </button>
                    </div>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row dato-fila">
                                    <div class="col-12">
                                        <span class="required">*</span><span>Ci/RUC/Pasaporte:</span>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control"
                                                   [(ngModel)]="form.paciente.per_ciruc"
                                                   (blur)="verificaPacienteRegistrado()"
                                                   (keydown.enter)="buscarPaciente(false)">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                        (click)="buscarPaciente(false)"
                                                        title="Presiona este botón para buscar el paciente por numero de cédula, ruc o pasaporte ">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row dato-fila">
                                    <div class="col-12">
                                        <span class="required">*</span><span>Nombres:</span>
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" [(ngModel)]="form.paciente.per_nombres"
                                               [autocomplete]="false">
                                    </div>
                                </div>
                                <div class="row dato-fila">
                                    <div class="col-12">
                                        <span>Apellidos:</span>
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="form.paciente.per_apellidos"
                                               [autocomplete]="false">
                                    </div>
                                </div>
                                <div class="row dato-fila">
                                    <div class="col-12">
                                        <span class="required">*</span><span>Fecha de nacimiento (dd/mm/aaaa):</span>
                                    </div>
                                    <div class="col-12">
                                        <p-calendar id="per_fechanac"
                                                    [(ngModel)]="form.paciente.per_fechanac"
                                                    [showIcon]="true"
                                                    [locale]="es" inputId="per_fechanac"
                                                    [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate"
                                                    yearRange="1900:2100"
                                                    dateFormat="dd/mm/yy"></p-calendar>
                                    </div>
                                </div>
                                <div class="row dato-fila">
                                    <div class="col-md-3">
                                        <span class="required">*</span><span>Sexo:</span>
                                    </div>
                                    <div class="col-md-9">
                                        <p-radioButton name="sexo" *ngFor="let it of generosList"
                                                       value="{{it.lval_valor}}"
                                                       label="{{it.lval_nombre}}"
                                                       [(ngModel)]="form.paciente.per_genero"></p-radioButton>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row dato-fila">
                                    <div class="col-12">
                                        <span>Estado Civil:</span>
                                    </div>
                                    <div class="col-12">
                                        <p-dropdown [options]="estadoCivilList" optionLabel="lval_nombre"
                                                    placeholder="Seleccione el estado civil"
                                                    [showClear]="true"
                                                    [(ngModel)]="form.paciente.per_estadocivil"></p-dropdown>
                                    </div>
                                </div>
                                <div class="row dato-fila">
                                    <div class="col-12">
                                        <span>Lugar de residencia:</span>
                                    </div>
                                    <div class="col-12">
                                        <p-dropdown [options]="lugares" id="catic_id"
                                                    [(ngModel)]="form.paciente.per_lugresidencia"
                                                    [virtualScroll]="true"
                                                    placeholder="Seleccione el lugar de residencia"
                                                    [showClear]="true"
                                                    [style]="{width:'100%', overflow:'visible'}"
                                                    [filterMatchMode]="'startsWith'"
                                                    filter="true"
                                                    itemSize="50"
                                                    optionLabel="lug_nombre"
                                                    inputId="per_lugresidencia"></p-dropdown>
                                    </div>
                                </div>
                                <div class="row dato-fila">
                                    <div class="col-12">
                                        <span class="required">*</span><span>Correo Electrónico:</span>
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" [(ngModel)]="form.paciente.per_email"
                                               autocomplete="false">
                                    </div>
                                </div>
                                <div class="row dato-fila">
                                    <div class="col-12">
                                        <span>Teléfono Convencial:</span>
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" [(ngModel)]="form.paciente.per_telf"
                                               [autocomplete]="false">
                                    </div>
                                </div>
                                <div class="row dato-fila">
                                    <div class="col-12">
                                        <span class="required">*</span><span>Celular:</span>
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" [autocomplete]="false"
                                               [(ngModel)]="form.paciente.per_movil">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--
        <div class="card" *ngIf="historias && historias.length>0">
            <div class="card-header">
                Citas anteriores
            </div>

            <table class="table table-hover" *ngIf="historias.length>0">
                <thead>
                <tr>
                    <th scope="col"> Día</th>
                    <th scope="col"> Motivo</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of historias">
                    <td>
                        {{row.fecha_crea_largo}}
                    </td>
                    <td>
                        {{row.cosm_motivo}}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        -->
        <!--
        <div class="card">
            <div class="card-header">
                Datos de filiación:
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row dato-fila">
                            <div class="col-12">
                                <span class="required">*</span><span>Ci/RUC/Pasaporte:</span>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" [(ngModel)]="form.paciente.per_ciruc"
                                           (blur)="verificaPacienteRegistrado()"
                                           (keydown.enter)="buscarPaciente(false)">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                (click)="buscarPaciente(false)"
                                                title="Presiona este botón para buscar el paciente por numero de cédula, ruc o pasaporte ">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row dato-fila">
                            <div class="col-12">
                                <span class="required">*</span><span>Nombres:</span>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" [(ngModel)]="form.paciente.per_nombres"
                                       [autocomplete]="false">
                            </div>
                        </div>
                        <div class="row dato-fila">
                            <div class="col-12">
                                <span>Apellidos:</span>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" [(ngModel)]="form.paciente.per_apellidos"
                                       [autocomplete]="false">
                            </div>
                        </div>
                        <div class="row dato-fila">
                            <div class="col-12">
                                <span class="required">*</span><span>Fecha de nacimiento (dd/mm/aaaa):</span>
                            </div>
                            <div class="col-12">
                                <p-calendar id="per_fechanac"
                                            [(ngModel)]="form.paciente.per_fechanac"
                                            [showIcon]="true"
                                            [locale]="es" inputId="per_fechanac"
                                            [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate"
                                            yearRange="1900:2100"
                                            dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="row dato-fila">
                            <div class="col-md-3">
                                <span class="required">*</span><span>Sexo:</span>
                            </div>
                            <div class="col-md-9">
                                <p-radioButton name="sexo" *ngFor="let it of generosList" value="{{it.lval_valor}}"
                                               label="{{it.lval_nombre}}"
                                               [(ngModel)]="form.paciente.per_genero"></p-radioButton>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row dato-fila">
                            <div class="col-12">
                                <span>Estado Civil:</span>
                            </div>
                            <div class="col-12">
                                <p-dropdown [options]="estadoCivilList" optionLabel="lval_nombre"
                                            placeholder="Seleccione el estado civil"
                                            [showClear]="true"
                                            [(ngModel)]="form.paciente.per_estadocivil"></p-dropdown>
                            </div>
                        </div>
                        <div class="row dato-fila">
                            <div class="col-12">
                                <span>Lugar de residencia:</span>
                            </div>
                            <div class="col-12">
                                <p-dropdown [options]="lugares" id="catic_id"
                                            [(ngModel)]="form.paciente.per_lugresidencia"
                                            [virtualScroll]="true"
                                            placeholder="Seleccione el lugar de residencia"
                                            [showClear]="true"
                                            [style]="{width:'100%', overflow:'visible'}"
                                            [filterMatchMode]="'startsWith'"
                                            filter="true"
                                            itemSize="50"
                                            optionLabel="lug_nombre"
                                            inputId="per_lugresidencia"></p-dropdown>
                            </div>
                        </div>
                        <div class="row dato-fila">
                            <div class="col-12">
                                <span class="required">*</span><span>Correo Electrónico:</span>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" [(ngModel)]="form.paciente.per_email"
                                       autocomplete="false">
                            </div>
                        </div>
                        <div class="row dato-fila">
                            <div class="col-12">
                                <span>Teléfono Convencial:</span>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" [(ngModel)]="form.paciente.per_telf"
                                       [autocomplete]="false">
                            </div>
                        </div>
                        <div class="row dato-fila">
                            <div class="col-12">
                                <span class="required">*</span><span>Celular:</span>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" [autocomplete]="false"
                                       [(ngModel)]="form.paciente.per_movil">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <div class="card datosadc">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        Datos de la consulta
                    </div>
                    <div class="col">
                        {{form.datosconsulta.cosm_fechacita}}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!--
                <div class="row dato-fila">
                    <div class="col-md-4">
                        <span class="required">*</span><span>Fecha cita médica (dd/mm/aaaa):</span>
                    </div>
                    <div class="col-md-8">
                        <span>{{form.datosconsulta.cosm_fechacita}}</span>
                    </div>
                </div>
                -->

                <div class="row dato-adc-fila">
                    <div class="col-12">
                        <span class="required">*</span><span>Motivo Consulta:</span>
                    </div>
                    <div class="col-12">
                <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_motivo">
                </textarea>
                    </div>
                </div>
                <div class="row dato-adc-fila">
                    <div class="col-12">
                        <span class="required">*</span><span>Enfermedad actual:</span>
                    </div>
                    <div class="col-12">
                <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_enfermactual">
                </textarea>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#nav-antecedentes">Antecedentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#nav-revxsistema">Revisión por sistemas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#nav-revxsistema">Examen Físico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#nav-revxsistema">Exms. Complementarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#nav-revxsistema">Diagnóstico</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-antecedentes" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <h1>nav antecedentes</h1>
                    </div>
                    <div class="tab-pane fade" id="nav-revxsistema" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <h1>nav revxsistema</h1>
                    </div>
                </div>


            </div>
        </div>




        <!--Creamos tabs para el registro de los datos adicionales-->

        <!--
        <div class="datosadc">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-antecedentes-tab" data-toggle="tab"
                       href="#nav-antecedentes"
                       role="tab" aria-controls="nav-home" aria-selected="true">Antecedentes</a>
                    <a class="nav-item nav-link" id="nav-revxsistema-tab" data-toggle="tab" href="#nav-revxsistema"
                       role="tab"
                       aria-controls="nav-contact" aria-selected="false">Revisión por Sistemas</a>
                    <a class="nav-item nav-link" id="nav-examfisico-tab" data-toggle="tab" href="#nav-examfisico"
                       role="tab"
                       aria-controls="nav-profile" aria-selected="false">Exámen Físico</a>
                    <a class="nav-item nav-link" id="nav-examcomplem-tab" data-toggle="tab" href="#nav-examcomplem"
                       role="tab"
                       aria-controls="nav-profile" aria-selected="false">Exs. Complementarios</a>
                    <a class="nav-item nav-link" id="nav-diagnostico-tab" data-toggle="tab" href="#nav-diagnostico"
                       role="tab"
                       aria-controls="nav-contact" aria-selected="false">Diagnóstico</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-antecedentes" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="row dato-adc-fila" *ngFor="let it of form.antecedentes">
                                <div class="col-md-3">
                                    <span>{{it.cmtv_valor}}:</span>
                                </div>
                                <div class="col">
                            <textarea class="form-control" [(ngModel)]="it.valorreg">

                            </textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-examfisico" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="row dato-adc-fila" *ngFor="let it of form.examsfisicos">
                                <div class="col-md-3">
                                    <span>{{it.cmtv_valor}}:</span>
                                </div>
                                <div class="col">
                                    <div *ngIf="it.cmtv_tinput===1">
                                        <input type="text" class="form-control" [(ngModel)]="it.valorreg">
                                    </div>
                                    <div *ngIf="it.cmtv_tinput===2">
                                <textarea class="form-control" [(ngModel)]="it.valorreg">
                                </textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row dato-fila">
                                <div class="col-12">
                                    <span>Descripción de hallazgos:</span>
                                </div>
                                <div class="col-12">
                            <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_hallazgoexamfis">
                            </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-revxsistema" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="row dato-adc-fila" *ngFor="let it of form.revxsistemas">
                                <div class="col-md-3">
                                    <span>{{it.cmtv_valor}}:</span>
                                </div>
                                <div class="col">
                                    <div *ngIf="it.cmtv_tinput===1">
                                        <input type="text" class="form-control" [(ngModel)]="it.valorreg">
                                    </div>
                                    <div *ngIf="it.cmtv_tinput===2">
                                <textarea class="form-control" [(ngModel)]="it.valorreg">
                                </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-examcomplem" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="row dato-fila">
                                <div class="col-12">
                                    <span>Exámenes Complementarios:</span>
                                </div>
                                <div class="col-12">
                            <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_exmscompl">
                            </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-diagnostico" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="row dato-fila">
                                <div class="col-12">
                                    <span class="required">*</span><span>Diagnóstico:</span>
                                </div>
                                <div class="col-12">
                                    <p-dropdown [options]="ciedataArray" id="diagnostico_id"
                                                [(ngModel)]="form.datosconsulta.cosm_diagnostico"
                                                [virtualScroll]="true"
                                                placeholder="Seleccione o busque la enfermedad diagnosticada"
                                                [showClear]="true"
                                                [style]="{width:'100%', overflow:'visible'}"
                                                itemSize="50"
                                                filter="true"
                                                optionLabel="ciekeyval"
                                                inputId="diagnostico_id"></p-dropdown>
                                </div>
                            </div>

                            <div class="row dato-fila">
                                <div class="col-12">
                                    <span class="required">*</span><span>Tratamiento:</span>
                                </div>
                                <div class="col-12">
                            <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_tratamiento">
                            </textarea>
                                </div>
                            </div>
                            <div class="row dato-fila">
                                <div class="col-12">
                                    <span class="required">*</span><span>Receta:</span>
                                </div>
                                <div class="col-12">
                            <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_receta">
                            </textarea>
                                </div>
                            </div>
                            <div class="row dato-fila">
                                <div class="col-12">
                                    <span class="required">*</span><span>Indicaciones Receta:</span>
                                </div>
                                <div class="col-12">
                            <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_indicsreceta">
                            </textarea>
                                </div>
                            </div>
                            <div class="row dato-fila">
                                <div class="col-12">
                                    <span>Recomendaciones:</span>
                                </div>
                                <div class="col-12">
                            <textarea class="form-control" [(ngModel)]="form.datosconsulta.cosm_recomendaciones">
                            </textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>