<div class="text-center">
    <img src="assets/imgs/MavilCuadro.png" alt="Sistema de facturación, contable, citas médicas y citas odontológicas"
         class="img-fluid">
    <p class="lead" style="margin-top: 30px">Sistema de facturación, contable, citas médicas y citas odontológicas.</p>
</div>
<br>

<div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm border-primary">
            <div class="card-header">
                <div class="my-0 font-weight-normal">
                    <h6 class="quitaPaddingMargin">Mavil</h6>
                    <h2 class="quitaPaddingMargin">Standar</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="row quitaPaddingMargin">
                    <div class="col-8"></div>
                    <div class="col-4"><h3 class="card-title pricing-card-title"> &nbsp; </h3></div>
                </div>
                <h3 class="card-title pricing-card-title">Registro: $30</h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>1 - 500 Pacientes</li>
                    <li>1 Usuario</li>
                    <li><h1>$25,00</h1></li>
                    <li>Pago Mensual</li>
                </ul>
                <!--
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Registrarme</button>
                -->
            </div>
        </div>
        <div class="card mb-4 shadow-sm azulmavil text-white">
            <div class="card-header">
                <div class="my-0 font-weight-normal">
                    <h6 class="quitaPaddingMargin">Mavil</h6>
                    <h2 class="quitaPaddingMargin">Pro</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="row quitaPaddingMargin">
                    <div class="col-8"></div>
                    <div class="col-4 quitaPaddingMargin"><h3 class="card-title pricing-card-title quitaPaddingMargin">
                        $30 </h3></div>
                </div>
                <div class="row quitaPaddingMargin">
                    <div class="col-8 d-flex flex-row-reverse quitaPaddingMargin"><h3
                            class="card-title pricing-card-title">Registro: </h3></div>
                    <div class="col-4 quitaPaddingMargin"><h3 class="card-title pricing-card-title quitaPaddingMargin">
                        <span style="text-decoration: line-through;" class="text-secondary"> $40 </span></h3></div>
                </div>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>500 - 5k Pacientes</li>
                    <li>1 Usuario</li>
                    <li><h1>$30,00</h1></li>
                    <li>Pago Mensual</li>
                </ul>
                <!--
                <button type="button" class="btn btn-lg btn-block btn-outline-light">Empezemos</button>
                -->
            </div>
        </div>
        <div class="card mb-4 shadow-sm border-primary">
            <div class="card-header">
                <div class="my-0 font-weight-normal">
                    <h6 class="quitaPaddingMargin">Mavil</h6>
                    <h2 class="quitaPaddingMargin">Enterprise</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="row quitaPaddingMargin">
                    <div class="col-8"></div>
                    <div class="col-4 quitaPaddingMargin"><h3
                            class="card-title pricing-card-title quitaPaddingMargin"></h3></div>
                </div>
                <div class="row quitaPaddingMargin">
                    <div class="col-8 d-flex flex-row-reverse quitaPaddingMargin"><h3
                            class="card-title pricing-card-title">Registro: </h3></div>
                    <div class="col-4 quitaPaddingMargin"><h3 class="card-title pricing-card-title quitaPaddingMargin">
                        $$ </h3></div>
                </div>
                <ul class="list-unstyled mt-3 mb-4">
                    <li> Nro pacientes sin límite</li>
                    <li> Múltiples usuarios</li>
                    <li> Múltiples módulos</li>
                    <li><h1> $$$ </h1></li>
                    <li> Pago Mensual</li>
                </ul>
                <!--
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Contáctanos</button>
                -->
            </div>
        </div>
    </div>
</div>
