<div>
    <div *ngIf="!showForm">
        <div class="card shadow-sm rounded mt-2">
            <div class="card-header d-flex justify-content-between">
            <span class="font-weight-bold">Planes de tratamiento <span class="badge badge-info"
                                                                       *ngIf="listaPlanes.length>0">{{listaPlanes.length}}</span></span>
                <button class="btn btn-outline-primary btn-sm" (click)="initFormCrea()">
                    <i class="fa fa-plus"></i> Crear
                </button>
            </div>

            <div *ngIf="isLoadingPlanes">
                <app-loading></app-loading>
            </div>
            <div class="table-responsive" *ngIf="!isLoadingPlanes && listaPlanes.length>0">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><span class="fontsizesm">#</span></th>
                        <th scope="col"><span class="fontsizesm">Fecha Crea</span></th>
                        <th scope="col"><span class="fontsizesm">Nombre Plan</span></th>
                        <th scope="col"><span class="fontsizesm">Estado</span></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fila of listaPlanes" class="hand" (click)="showDetallesPlan(fila)">
                        <th scope="row" style="width: 5%">{{listaPlanes.indexOf(fila) + 1}}</th>
                        <td>
                            {{fila.pnt_fechacrea}}
                        </td>
                        <td>
                            {{fila.pnt_nombre}}
                        </td>
                        <td>
                            {{fila.estadodesc}}
                        </td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" *ngIf="listaPlanes.length==0">
                <div class="p-5 d-flex justify-content-center">
                    <h2 class="text-muted"> No registra planes de tratamiento </h2>
                </div>
            </div>
        </div>

        <div *ngIf="datosDocPlan.plan" class="p-2 mt-3 mb-3 shadow border">
            <div *ngIf="datosDocPlan.plan">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="font-weight-lighter">Nombre del plan:</span>
                            </div>
                            <div class="col-md">
                                <span class="font-weight-bold">{{datosDocPlan.plan.pnt_nombre}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="font-weight-lighter">Médico:</span>
                            </div>
                            <div class="col-md">
                                <span class="font-weight-bold">{{datosDocPlan.plan.medico}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="font-weight-lighter">Nro Factura:</span>
                            </div>
                            <div class="col-md">
                                <span class="font-weight-light">{{datosDocPlan.doc.tasiento.trn_compro}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="font-weight-lighter">Fecha factura:</span>
                            </div>
                            <div class="col-md">
                                <span class="font-weight-bold">{{datosDocPlan.doc.tasiento.trn_fecha}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="font-weight-lighter">Estado:</span>
                            </div>
                            <div class="col-md">
                                <span class="font-weight-bold">{{plansel.estadodesc}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column align-content-between">
                        <div *ngIf="datosDocPlan.plan.pnt_obs">
                            <div>
                                <span class="font-weight-lighter">Observación:</span>
                            </div>
                            <div>
                                <span class="font-weight-light">{{datosDocPlan.plan.pnt_obs}}</span>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-outline-primary"
                                        (click)="cerrarVerDetallesFact()" title="Cerrar detalle del plan">
                                    <i class="fa fa-times"></i>
                                    Cerrar
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        (click)="imprimirPlan(datosDocPlan.plan.pnt_id)"
                                        title="Imprimir el plan">
                                    <i class="fa fa-print"></i>
                                    Imprimir
                                </button>
                                <button type="button" *ngIf="datosDocPlan.plan.pnt_estado === 1"
                                        class="btn btn-outline-primary" (click)="confirmarPlan()"
                                        title="Confirmar este plan de tratamiento">
                                    <i class="fa fa-check"></i>
                                    Confirmar
                                </button>
                                <button type="button" *ngIf="datosDocPlan.plan.pnt_estado === 2"
                                        class="btn btn-outline-primary" (click)="finalizarPlan()"
                                        title="Marcar como finalizado este plan de tratamiento">
                                    <i class="fa fa-check"></i>
                                    Finalizar
                                </button>
                                <button type="button" class="btn btn-outline-primary" (click)="anularPlan()"
                                        title="Anular este plan de tratamiento"
                                        *ngIf="datosDocPlan.plan.pnt_estado === 1">
                                    <i class="fa fa-trash"></i>
                                    Anular
                                </button>
                                <button type="button" class="btn btn-outline-primary" (click)="editarPlan()"
                                        title="Modificar este plan de tratamiento"
                                        *ngIf="datosDocPlan.plan.pnt_estado <= 2">
                                    <i class="fa fa-edit"></i>
                                    Editar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table class="table table-bordered table-sm table-striped">
                        <thead>
                        <tr>
                            <th scope="col"><span class="fontsizesm">#</span></th>
                            <th scope="col"><span class="fontsizesm">Servicio</span></th>
                            <th scope="col"><span class="fontsizesm">Cant.</span></th>
                            <th scope="col"><span class="fontsizesm">Precio U.</span></th>
                            <th scope="col"><span class="fontsizesm">Descuento</span></th>
                            <th scope="col"><span class="fontsizesm">Iva</span></th>
                            <th scope="col">
                                <div class="d-flex flex-row-reverse">
                                    <span class="fontsizesm">Precio T.</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let fila of datosDocPlan.doc.detalles" class="hand">
                            <td>
                                {{datosDocPlan.doc.detalles.indexOf(fila) + 1}}
                            </td>
                            <td>
                                {{fila.ic_nombre}}
                            </td>
                            <td>
                                {{fila.dt_cant}}
                            </td>
                            <td>
                                {{fila.dt_precio}}
                            </td>
                            <td>
                                {{fila.dt_decto}}
                            </td>
                            <td>
                                {{fila.dai_impg}}
                            </td>
                            <td>
                                <div class="d-flex flex-row-reverse">
                                    <span>{{fila.dt_valor}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div>
                                    <div class="d-flex flex-row justify-content-end">
                                        <span class="text-muted">FORMAS DE PAGO:</span>
                                    </div>
                                    <div class="d-flex flex-row justify-content-end"
                                         *ngFor="let pago of datosDocPlan.doc.pagos">
                                        <span class="font-weight-bold">{{pago.ic_nombre}} $:</span>
                                        <span class="ml-2">${{pago.dt_valor|number:'.2'}}</span>
                                    </div>
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="d-flex flex-column align-items-end">
                                    <span class="font-weight-light">Subtotal $:</span>
                                    <span class="font-weight-light">(-)Descuento $:</span>
                                    <span class="font-weight-light">(+)Iva {{datosDocPlan.doc.tasiento.trn_impref * 100}}
                                        % de ${{datosDocPlan.doc.totales.subtotal12}}:</span>
                                    <span
                                            class="font-weight-bolder">Total $:</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row-reverse">
                                        <span class="font-weight-light">
                                        {{datosDocPlan.doc.totales.subtotal|number:'.2'}}
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                    <span class="font-weight-light">
                                        {{datosDocPlan.doc.totales.descuentos|number:'.2'}}
                                    </span>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                    <span class="font-weight-light">
                                        {{datosDocPlan.doc.totales.iva|number:'.2'}}
                                    </span>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                    <span class="font-weight-bold">
                                        {{datosDocPlan.doc.totales.total|number:'.2'}}
                                    </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showForm" class="shadow border mt-1 p-3">
        <p class="alert" [ngClass]="formcab.trn_codigo === 0 ? 'alert-info':'alert-warning'">
            {{formcab.trn_codigo === 0 ? 'Nuevo plan de tratamiento, ingrese la información que se solicita:' : 'Editando plan de tratamiento'}}
        </p>
        <div class="mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="row my-2">
                        <div class="col-md-3">
                            <span class="text-rojo">*</span> <span>Nro:</span>
                        </div>
                        <div class="col-md">
                            <span class="font-weight-bold">{{formcab.secuencia}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <span class="text-rojo">*</span><span>Nombre:</span>
                        </div>
                        <div class="col-md">
                            <input type="text" class="form-control" id="pnt_nombre"
                                   [(ngModel)]="formplan.pnt_nombre" placeholder="Nombre para el plan de tratamiento"
                                   maxlength="40">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="text-rojo">*</span><span>Responsable:</span>
                        </div>
                        <div class="col-md">
                            <div class="p-fluid">
                                <p-dropdown [options]="medicos" [disabled]="formcab.trn_codigo>0"
                                            [showClear]="true"
                                            placeholder="Seleccione el/la profesional a cargo"
                                            filter="true"
                                            (onChange)="onMedicoChange($event)"
                                            optionLabel="nomapel" optionValue="per_id"
                                            [(ngModel)]="formplan.med_id"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-between">
                    <div class="d-flex flex-column">
                        <span>Observación:</span>
                        <textarea class="form-control" [(ngModel)]="formplan.pnt_obs" rows="3" autocomplete="off"
                                  placeholder="Ingrese una observación para este nuevo plan de tratamiento"
                                  id="pnt_obs">
                </textarea>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4 quitaPaddingMargin">
                    <div class="card">
                        <div class="card-header quitaPaddingMargin p-1">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="filtroserv"
                                   (keyup)="doFilter()" placeholder="Buscar procedimiento a realizar:">
                        </div>

                        <ul class="list-group list-group-flush scrol-list-dental">
                            <li class="noselect list-group-item hand list-group-item-action"
                                *ngFor="let item of filteredServ" (dblclick)="selectServicio(item)">
                                <div class="d-flex flex-row">
                                    <div style="width: 90%;">
                                        <span style="font-size: small">{{item.ic_nombre}}</span>
                                        <span style="font-size: small"
                                              class="text-muted font-italic"> ${{item.icdp_precioventa}} </span>
                                    </div>
                                    <div style="width: 10%;">
                                        <button class="btn btn-sm btn-outline-primary" (click)="selectServicio(item)">
                                            <i class="fa fa-arrow-right"> </i>
                                        </button>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md quitaPaddingMargin ml-md-2">
                    <div class="table-responsive shadow-sm">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 3%">
                                    <span class="font-weight-normal fontsizesm">#</span>
                                </th>
                                <th scope="col" style="width: 31%">
                            <span class="font-weight-bold fontsizesm">
                                Servicio </span>
                                </th>
                                <th scope="col" style="width: 12%">
                            <span class="font-weight-bold fontsizesm">
                                Cant. </span></th>
                                <th scope="col" style="width: 10%">
                            <span class="font-weight-bold fontsizesm">
                                P. Uni. </span></th>
                                <th scope="col" style="width: 10%">
                            <span class="font-weight-bold fontsizesm">
                                Subt.</span></th>
                                <th scope="col" style="width: 9%">
                            <span class="font-weight-bold fontsizesm">
                                Desc </span></th>
                                <th scope="col" style="width: 10%">
                            <span class="font-weight-bold fontsizesm">
                                Iva </span></th>
                                <th scope="col" style="width: 10%">
                            <span class="font-weight-bold fontsizesm">
                                Total </span></th>
                                <th scope="col" style="width: 5%">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let fila of detalles">
                                <th scope="row">
                                    <span class="font-weight-normal fontsizesm">{{detalles.indexOf(fila) + 1}}</span>
                                </th>
                                <td>
                                    <div class="d-flex flex-column">
                                        <span class="font-weight-light fontsizesm">{{fila.ic_code}}</span>
                                        <span class="font-weight-bold fontsizesm">{{fila.ic_nombre}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="p-fluid">
                                        <p-inputNumber [(ngModel)]="fila.dt_cant" [min]="1" [max]="1000"
                                                       styleClass="form-control-sm"
                                                       [showButtons]="true"
                                                       (ngModelChange)="recalcTotalFila(fila)"></p-inputNumber>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                           (keyup)="onFilaPrecioChange(fila)" (focusin)="$event.target.select()"
                                           [(ngModel)]="fila.dt_precioiva"></td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="fila.subtotal"
                                           disabled>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                           (keyup)="onFilaDescChange(fila)" [ngClass]="{'is-invalid':fila.dt_dectoerr}"
                                           (focusin)="$event.target.select()"
                                           [(ngModel)]="fila.dt_dectoin"></td>
                                <td>
                                    <select class="form-control form-control-sm" [(ngModel)]="fila.icdp_grabaiva"
                                            (ngModelChange)="onFilaIvaChange(fila)">
                                        <option *ngFor="let iv of ivas" [ngValue]="iv.value">{{iv.label}}</option>
                                    </select>
                                <td>
                                    <span class="fontsizesm font-weight-bold">${{fila.total | number: '.2'}}</span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary" (click)="quitarItem(fila)"
                                            title="Quitar">
                                        <i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="border shadow-sm p-2 mt-2" *ngIf="detalles.length>0">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-5"><span
                                            class="font-weight-bold fontsizenr">Subtotal $:</span>
                                    </div>
                                    <div class="col-md">
                                        <input type="text" class="form-control form-control-sm" disabled
                                               [(ngModel)]="totales.subtotal">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"><span
                                            class="font-weight-bold fontsizenr">(-)Descuento $:</span>
                                    </div>
                                    <div class="col-md">
                                        <input type="text" class="form-control form-control-sm" disabled
                                               [(ngModel)]="totales.descuentos">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="font-weight-bold fontsizenr">(+)Iva {{impuestos?.iva * 100}}
                                            % de ${{totales.subtotal12}}:</span>
                                    </div>
                                    <div class="col-md">
                                        <input type="text" class="form-control form-control-sm" disabled
                                               [(ngModel)]="totales.iva">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"><span
                                            class="font-weight-bolder fontsizenr">Total $:</span>
                                    </div>
                                    <div class="col-md">
                                        <input type="text" class="form-control form-control-sm" disabled
                                               [(ngModel)]="totales.total">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    <span class="text-muted">FORMAS DE PAGO:</span>
                                </div>
                                <div class="row" *ngFor="let pago of formaspago">
                                    <div class="col-md-5">
                                        <span class="font-weight-bold">{{pago.ic_nombre}} $:</span>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" class="form-control form-control-sm"
                                               (focusin)="$event.target.select()"
                                               [(ngModel)]="pago.dt_valor" (keyup)="calculaPagos(pago)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 d-flex justify-content-around">
                        <div>
                            <button class="btn btn-outline-primary" (click)="creaPlanTratamiento()"
                                    *ngIf="detalles.length>0">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            <button class="ml-3 btn btn-outline-secondary" (click)="cancelarCreaPlan()"><i
                                    class="fa fa-times"></i> Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
