<div>
    <div *ngIf="!showForm">
        <div class="card shadow rounded mt-2" *ngIf="!isShowDetallesPlan">
            <div class="card-header d-flex justify-content-between">
                <span class="fs-5">Planes de tratamiento <span class="badge text-bg-primary"
                                                               *ngIf="listaPlanes.length>0">{{ listaPlanes.length }}</span></span>
                <button class="btn btn-outline-primary" (click)="initFormCrea()">
                    <i class="fa fa-plus"></i> Crear
                </button>
            </div>

            <div *ngIf="isLoadingPlanes">
                <app-loading></app-loading>
            </div>

            <p-table [value]="listaPlanes" [paginator]="true" *ngIf="!isLoadingPlanes && listaPlanes.length>0"
                     tableStyleClass="table table-hover table-striped table-bordered fusay-table"
                     [rows]="5">
                <ng-template pTemplate="header">
                    <tr class="table-light">
                        <th>#</th>
                        <th pSortableColumn="pnt_fechacrea" ngSwitch="pnt_fechacrea">
                            Fecha de creación
                            <p-sortIcon field="pnt_fechacrea"></p-sortIcon>
                        </th>
                        <th pSortableColumn="pnt_nombre" ngSwitch="pnt_nombre">
                            Nombre del plan
                            <p-sortIcon field="pnt_nombre"></p-sortIcon>
                        </th>
                        <th>
                            Estado
                        </th>
                        <th class="colaction"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr (click)="showDetallesPlan(rowData)" class="hand">
                        <th scope="row" style="width: 5%">{{ listaPlanes.indexOf(rowData) + 1 }}</th>
                        <td>
                            {{ rowData.pnt_fechacrea }}
                        </td>
                        <td>
                            {{ rowData.pnt_nombre }}
                        </td>
                        <td>
                            {{ rowData.estadodesc }}
                        </td>
                        <td>
                            <button class="btn btn-outline-dark btn-sm">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>


            <div class="card-body" *ngIf="listaPlanes.length==0">
                <div class="p-5 d-flex justify-content-center">
                    <h2 class="text-muted"> No registra planes de tratamiento </h2>
                </div>
            </div>
        </div>

        <div *ngIf="datosDocPlan.plan && isShowDetallesPlan" class="p-2 my-2 shadow rounded border">
            <div class="d-flex justify-content-between">
                <h4 class="mt-1 mb-3">Detalles del plan</h4>
                <div class="d-flex">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-outline-info" (click)="cerrarVerDetallesFact()"
                                title="Cerrar detalle del plan">
                            <i class="fa-solid fa-xmark"></i>
                            Cerrar
                        </button>
                        <button type="button" class="btn btn-outline-info"
                                (click)="imprimirPlan(datosDocPlan.plan.pnt_id)" title="Imprimir el plan">
                            <i class="fa fa-print"></i>
                            Imprimir
                        </button>
                        <button type="button" *ngIf="datosDocPlan.plan.pnt_estado === 1"
                                class="btn btn-outline-info" (click)="showModalEmiteFactura()"
                                title="Confirmar plan de tratamiento">
                            <i class="fa fa-check"></i>
                            Confirmar
                        </button>
                        <button type="button" *ngIf="datosDocPlan.plan.pnt_estado === 2"
                                class="btn btn-outline-info" (click)="finalizarPlan()"
                                title="Marcar como finalizado este plan de tratamiento">
                            <i class="fa fa-check"></i>
                            Finalizar
                        </button>
                        <button type="button" class="btn btn-outline-info" (click)="anularPlan()"
                                title="Anular este plan de tratamiento"
                                *ngIf="datosDocPlan.plan.pnt_estado === 1">
                            <i class="fa fa-trash"></i>
                            Anular
                        </button>
                        <button type="button" class="btn btn-outline-info" (click)="editarPlan()"
                                title="Modificar este plan de tratamiento"
                                *ngIf="datosDocPlan.plan.pnt_estado <= 2">
                            <i class="fa fa-edit"></i>
                            Editar
                        </button>
                    </div>
                </div>

            </div>

            <div *ngIf="datosDocPlan.plan">
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-lighter">Nombre del plan:</span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{ datosDocPlan.plan.pnt_nombre }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-lighter">Médico:</span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{ datosDocPlan.plan.medico }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-lighter">Nro Factura:</span>
                    </div>
                    <div class="col-md">
                        <span class="fw-light">{{ datosDocPlan.doc.tasiento.trn_compro }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-lighter">Fecha factura:</span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{ datosDocPlan.doc.tasiento.trn_fecha }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fw-lighter">Estado:</span>
                    </div>
                    <div class="col-md">
                        <span class="fw-bold">{{ plansel.estadodesc }}</span>
                    </div>
                </div>
                <div class="row" *ngIf="datosDocPlan.plan.pnt_obs">
                    <div class="col-md-3">
                        <span class="fw-lighter">Observación:</span>
                    </div>
                    <div class="col-md">
                        <pre class="fw-light">{{ datosDocPlan.plan.pnt_obs }}</pre>
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table class="table table-bordered table-sm table-striped">
                        <thead>
                        <tr>
                            <th scope="col"><span class="fontsizesm">#</span></th>
                            <th scope="col"><span class="fontsizesm">Servicio</span></th>
                            <th scope="col"><span class="fontsizesm">Cant.</span></th>
                            <th scope="col"><span class="fontsizesm">Precio U.</span></th>
                            <th scope="col"><span class="fontsizesm">Descuento</span></th>
                            <th scope="col"><span class="fontsizesm">Iva</span></th>
                            <th scope="col">
                                <div class="d-flex flex-row-reverse">
                                    <span class="fontsizesm">Precio T.</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let fila of datosDocPlan.doc.detalles" class="hand">
                            <td>
                                {{ datosDocPlan.doc.detalles.indexOf(fila) + 1 }}
                            </td>
                            <td>
                                {{ fila.ic_nombre }}
                            </td>
                            <td>
                                {{ fila.dt_cant }}
                            </td>
                            <td>
                                {{ fila.dt_precio }}
                            </td>
                            <td>
                                {{ fila.dt_decto }}
                            </td>
                            <td>
                                {{ fila.dai_impg > 0 ? 'S' : 'N' }}
                            </td>
                            <td>
                                <div class="d-flex flex-row-reverse">
                                    <span>{{ fila.dt_valor }}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div>
                                    <div class="d-flex flex-row justify-content-end">
                                        <span class="text-muted">FORMAS DE PAGO:</span>
                                    </div>
                                    <div class="d-flex flex-row justify-content-end"
                                         *ngFor="let pago of datosDocPlan.doc.pagos">
                                        <span class="fw-bold">{{ pago.ic_nombre }} $:</span>
                                        <span class="ms-2">${{ pago.dt_valor|number:'.2' }}</span>
                                    </div>
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="d-flex flex-column align-items-end">
                                    <span class="fw-light">Subtotal $:</span>
                                    <span class="fw-light">(-)Descuento $:</span>
                                    <span class="fw-light">(+)Iva {{ datosDocPlan.doc.tasiento.trn_impref * 100 }}
                                        % de ${{ datosDocPlan.doc.totales.subtotal12 }}:</span>
                                    <span class="fw-bolder">Total $:</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row-reverse">
                                            <span class="fw-light">
                                                {{ datosDocPlan.doc.totales.subtotal|number:'.2' }}
                                            </span>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                            <span class="fw-light">
                                                {{ datosDocPlan.doc.totales.descuentos|number:'.2' }}
                                            </span>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                            <span class="fw-light">
                                                {{ datosDocPlan.doc.totales.iva|number:'.2' }}
                                            </span>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                            <span class="fw-bold">
                                                {{ datosDocPlan.doc.totales.total|number:'.2' }}
                                            </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showForm" class="shadow border mt-1 p-3">
        <div class="alert" [ngClass]="formcab.trn_codigo === 0 ? 'alert-info':'alert-warning'">
            {{
                formcab.trn_codigo === 0 ? 'Nuevo plan de tratamiento, ingrese la información que se solicita:' :
                    'Editando plan de tratamiento'
            }}
        </div>
        <div class="mt-4">
            <div class="row">
                <div class="col-md-6" #newformplan>
                    <div class="row my-2">
                        <div class="col-md-3">
                            <span>Nro:</span>
                        </div>
                        <div class="col-md">
                            <span class="fw-bold">{{ formcab.secuencia }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <span class="text-rojo">*</span><span>Nombre:</span>
                        </div>
                        <div class="col-md">
                            <input type="text" class="form-control" id="pnt_nombre" [(ngModel)]="formplan.pnt_nombre"
                                   placeholder="Nombre para el plan de tratamiento" maxlength="40">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="text-rojo">*</span><span>Responsable:</span>
                        </div>
                        <div class="col-md">
                            <div class="p-fluid">
                                <p-dropdown [options]="medicos" [disabled]="formcab.trn_codigo>0" [showClear]="true"
                                            placeholder="Seleccione el/la profesional a cargo" filter="true"
                                            (onChange)="onMedicoChange($event)" optionLabel="nomapel"
                                            optionValue="per_id"
                                            [(ngModel)]="formplan.med_id"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-between">
                    <div class="d-flex flex-column">
                        <span>Observación:</span>
                        <textarea class="form-control" [(ngModel)]="formplan.pnt_obs" rows="3" autocomplete="off"
                                  placeholder="Ingrese una observación para este nuevo plan de tratamiento"
                                  id="pnt_obs">
                </textarea>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header quitaPaddingMargin p-1">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="filtroserv"
                                   (keyup)="doFilter()" placeholder="Buscar procedimiento a realizar:">
                        </div>

                        <ul class="list-group list-group-flush scrol-list-dental">
                            <li class="noselect list-group-item hand list-group-item-action"
                                *ngFor="let item of filteredServ" (dblclick)="selectServicio(item)">
                                <div class="d-flex flex-row">
                                    <div style="width: 90%;">
                                        <span style="font-size: small">{{ item.ic_nombre }}</span>
                                        <span style="font-size: small" class="text-muted font-italic">
                                            ${{ item.icdp_precioventa }} </span>
                                    </div>
                                    <div style="width: 10%;">
                                        <button class="btn btn-sm btn-outline-primary" (click)="selectServicio(item)">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md border border-primary rounded ms-md-2">
                    <div class="table-responsive scrol-items-dental">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 3%">
                                    <span class="fw-normal fontsizesm">#</span>
                                </th>
                                <th scope="col" style="width: 31%">
                                        <span class="fw-bold fontsizesm">
                                            Servicio </span>
                                </th>
                                <th scope="col" style="width: 12%">
                                        <span class="fw-bold fontsizesm">
                                            Cant. </span>
                                </th>
                                <th scope="col" style="width: 10%">
                                        <span class="fw-bold fontsizesm">
                                            P. Uni. </span>
                                </th>
                                <th scope="col" style="width: 10%">
                                        <span class="fw-bold fontsizesm">
                                            Subt.</span>
                                </th>
                                <th scope="col" style="width: 9%">
                                        <span class="fw-bold fontsizesm">
                                            Desc </span>
                                </th>
                                <th scope="col" style="width: 10%">
                                        <span class="fw-bold fontsizesm">
                                            Iva </span>
                                </th>
                                <th scope="col" style="width: 10%">
                                        <span class="fw-bold fontsizesm">
                                            Total </span>
                                </th>
                                <th scope="col" style="width: 5%">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let fila of detalles">
                                <th scope="row">
                                    <span class="fw-normal fontsizesm">{{ detalles.indexOf(fila) + 1 }}</span>
                                </th>
                                <td>
                                    <div class="d-flex flex-column">
                                        <span class="fw-light fontsizesm">{{ fila.ic_code }}</span>
                                        <span class="fw-bold fontsizesm">{{ fila.ic_nombre }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="p-fluid">
                                        <p-inputNumber [(ngModel)]="fila.dt_cant" [min]="1" [max]="1000"
                                                       [showButtons]="true"
                                                       (ngModelChange)="recalcTotalFila(fila)"></p-inputNumber>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                           (keyup)="onFilaPrecioChange(fila)" (focusin)="$event.target.select()"
                                           [(ngModel)]="fila.dt_precioiva">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                           [(ngModel)]="fila.subtotal" disabled>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                           (keyup)="onFilaDescChange(fila)" [ngClass]="{'is-invalid':fila.dt_dectoerr}"
                                           (focusin)="$event.target.select()" [(ngModel)]="fila.dt_dectoin">
                                </td>
                                <td>
                                    <select class="form-control form-control-sm" [(ngModel)]="fila.icdp_grabaiva"
                                            (ngModelChange)="onFilaIvaChange(fila)">
                                        <option *ngFor="let iv of ivas" [ngValue]="iv.value">{{ iv.label }}</option>
                                    </select>
                                <td>
                                    <span class="fontsizesm fw-bold">${{ fila.total | number: '.2' }}</span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-outline-dark" (click)="quitarItem(fila)"
                                            title="Quitar">
                                        <i class="fa-regular fa-trash-can"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="border p-2 mt-2">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-5"><span class="fw-bold fontsizenr">Subtotal $:</span>
                                    </div>
                                    <div class="col-md">
                                        <input type="text" class="form-control form-control-sm" disabled
                                               [(ngModel)]="totales.subtotal">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"><span class="fw-bold fontsizenr">(-)Descuento $:</span>
                                    </div>
                                    <div class="col-md">
                                        <input type="text" class="form-control form-control-sm" disabled
                                               [(ngModel)]="totales.descuentos">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="fw-bold fontsizenr">(+)Iva {{ impuestos?.iva * 100 }}
                                            % de ${{ totales.subtotal12 }}:</span>
                                    </div>
                                    <div class="col-md">
                                        <input type="text" class="form-control form-control-sm" disabled
                                               [(ngModel)]="totales.iva">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"><span class="fw-bolder fontsizenr">Total $:</span>
                                    </div>
                                    <div class="col-md">
                                        <input type="text" class="form-control form-control-sm" disabled
                                               [(ngModel)]="totales.total">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    <span class="text-muted">FORMAS DE PAGO:</span>
                                </div>
                                <div class="row" *ngFor="let pago of formaspago">
                                    <div class="col-md-5">
                                        <span class="fw-bold">{{ pago.ic_nombre }} $:</span>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" class="form-control form-control-sm"
                                               (focusin)="$event.target.select()" [(ngModel)]="pago.dt_valor"
                                               (keyup)="calculaPagos(pago)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 d-flex justify-content-around">
                        <div>
                            <button class="btn btn-outline-primary" (click)="creaPlanTratamiento()"
                                    *ngIf="detalles.length>0">
                                <i class="fa-regular fa-floppy-disk"></i>
                                Guardar
                            </button>
                            <button class="ms-3 btn btn-outline-dark" (click)="cancelarCreaPlan()"><i
                                    class="fa-solid fa-xmark"></i> Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showModalConfirma">
        <p-dialog header="Confirmar Plan de Tratamiento" [modal]="true" [style]="{width: '50vw'}" [closeOnEscape]="true"
                  [autoZIndex]="false" [(visible)]="showModalConfirma">
            <div>
                <app-formnewref [codref]="datosDocPlan.doc.datosref.per_id" [planid]="plansel.pnt_id"
                                (confirmPlanSaved)="onPlanConfirmSaved()" (canceledSavePlan)="onPlanConfirmCancel()">
                </app-formnewref>
            </div>
        </p-dialog>
    </div>
</div>