
<h1 class="bd-title">

    <i class="fa-solid fa-user-plus" *ngIf="usId == 0"></i>
    <i class="fa-solid fa-user-pen" *ngIf="usId !== 0"></i>
    {{usId == 0 ? 'Crear' : 'Editar'}} usuario del sistema</h1>

<div class="row mt-2">
    <div class="col-md-10">
        <div class="row">
            <div class="col">
                <div *ngIf="usId>0">
                    <div class="mb-3">
                        <label for="perNombres"><span class="required">*</span>Nombres:</label>
                        <input type="text" maxlength="30" class="form-control" [disabled]="false" [readOnly]="true"
                               id="perNombres" name="rl_name" [(ngModel)]="formcli.per_nombres" placeholder=""
                               autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="perApellidos"><span class="required">*</span>Apellidos:</label>
                        <input type="text" maxlength="30" class="form-control" [disabled]="false" [readOnly]="true"
                               id="perApellidos" name="rl_name" [(ngModel)]="formcli.per_apellidos" placeholder=""
                               autocomplete="off">
                    </div>
                </div>
                <div *ngIf="usId==0">
                    <div class="card">
                        <div class="card-header">
                            Datos del referente
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="ciPasInput">
                                    <span class="required">*</span>
                                    Número Cédula/Pasaporte:</label>
                                <input type="text" maxlength="15" class="form-control"
                                       (keyup.enter)="setFocus('nomApelInput')" id="ciPasInput" name="per_ciruc"
                                       (blur)="buscarPersona()" [(ngModel)]="formcli.per_ciruc" placeholder=""
                                       autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="nomApelInput">
                                    <span class="required">*</span>
                                    Nombres:</label>
                                <input type="text" maxlength="80" class="form-control"
                                       (keyup)="$event.target.value=$event.target.value.toUpperCase()"
                                       (keyup.enter)="setFocus('ApelInput')" id="nomApelInput" name="per_nombres"
                                       [(ngModel)]="formcli.per_nombres" placeholder="" autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="ApelInput">Apellidos:</label>
                                <input type="text" maxlength="80" class="form-control " id="ApelInput"
                                       (keyup)="$event.target.value=$event.target.value.toUpperCase()"
                                       (keyup.enter)="setFocus('numCelInput')" name="per_apellidos"
                                       [(ngModel)]="formcli.per_apellidos" placeholder="" autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="numCelInput">
                                    <i class="fa fa-phone"></i>
                                    Nro Teléfono Celular:</label>
                                <input type="text" class="form-control " id="numCelInput"
                                       (keyup.enter)="setFocus('emailInput')" name="per_movil"
                                       [(ngModel)]="formcli.per_movil" placeholder="" autocomplete="off">
                            </div>

                            <div class="mb-3">
                                <label for="emailInput">
                                    <i class="fa fa-envelope"></i>
                                    Dirección de correo:</label>
                                <input type="email" class="form-control " id="emailInput" name="per_email"
                                       (keyup.enter)="setFocus('obsInput')" [(ngModel)]="formcli.per_email"
                                       placeholder="" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-header">
                            Datos de la cuenta
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="numCelInput">
                                    <span class="required">*</span>
                                    Nombre de la cuenta:</label>
                                <input type="text" class="form-control " id="usCuentaInput" maxlength="20"
                                       (keyup.enter)="setFocus('usClaveInput')" name="us_cuenta"
                                       [(ngModel)]="form.us_cuenta" placeholder="" autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="numCelInput">
                                    <span class="required">*</span>
                                    Clave:</label>
                                <input type="password" class="form-control " id="usClaveInput" maxlength="15"
                                       (keyup.enter)="setFocus('usConfirmClaveInput')" name="us_clave"
                                       [(ngModel)]="form.us_clave" placeholder="" autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="numCelInput">
                                    <span class="required">*</span>
                                    Confirma clave:</label>
                                <input type="password" class="form-control " id="usConfirmClaveInput" maxlength="15"
                                       name="us_confirmclave" [(ngModel)]="form.us_confirmclave" placeholder=""
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <span>Roles</span>
                    </div>
                    <ul class="list-group list-group-flush rol-list">
                        <li class="list-group-item hand list-group-item-action {{item.rl_marca?'list-group-item-success':''}}"
                            *ngFor="let item of roles" (click)="selectRol(item)">
                            <i *ngIf="item.rl_marca" class="far fa-check-circle"></i>
                            {{item.rl_name}} </li>
                    </ul>
                </div>

                <div class="card mt-2">
                    <div class="card-header">
                        <span>Secciones</span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action {{item.sec_marca?'list-group-item-success':''}}"
                            *ngFor="let item of secciones">
                            <div class="row">
                                <div class="col-6">
                                    <div class="hand" (click)="selectSec(item)">
                                        <i *ngIf="item.sec_marca" class="far fa-check-circle"></i>
                                        <span class="ms-2">{{item.sec_nombre}}</span>
                                    </div>
                                </div>
                                <div class="col" *ngIf="item.sec_marca">
                                    <div class="hand" (click)="handleMainSec(item)">
                                        <span class="ms-3 {{item.fus_main?'fw-bold':'text-muted'}}"> <i
                                                class="far {{item.fus_main?'fa-check-square':'fa-square'}} "></i>  Principal</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="bd-actions">
            <div class="d-grid mt-4 gap-2">
                <button type="button" class="btn btn-outline-primary" (click)="guardar()">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
                <button type="button" class="btn btn-outline-dark" (click)="cancelar()">
                    <i class="fas fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
