<div>
    <div class="alert alert-info">
        Para confirmar el plan de tratamiento, indique si desea generar una nota de venta o emitir una
        factura, así como el titular del mismo:
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <span class="fw-bold">Tipo de comprobante:</span>
        </div>
        <div class="col-md">
            <p-dropdown [options]="tiposComprob" [(ngModel)]="tipoComproEmite" optionLabel="label">
            </p-dropdown>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <div clas="py-2">
                <span class="fw-bold fst-italic">Emitir {{tipoComproEmite.label}} a nombre de: </span>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-6 col-md my-3">
                        <app-buscaref [form]="formautoref" (evOnEnterRef)="onEnterRef($event)" [showlugres]="false"
                            [stylevalidinvalid]="false" (evOnSelectRef)="onRefSelect()"></app-buscaref>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Ci/Ruc:</label>
                    </div>
                    <div class="col-md">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="referente.per_ciruc" id="input_per_id"
                                [disabled]="referente.per_id>0" autocomplete="off" (blur)="verificaRefRegistrado()"
                                (keydown.enter)="buscarReferente(true)">
                            <button class="btn btn-sm btn-outline-dark" type="button"
                                (click)="buscarReferente(true)"
                                title="Presiona este botón para buscar el referente por número de cédula, ruc o pasaporte ">
                                <span class="fa-solid fa-magnifying-glass"></span>
                            </button>
                            <button class="btn btn-sm btn-outline-dark" title="Buscar otro referente" type="button"
                                *ngIf="referente.per_id>0" (click)="clearFormPersona()">
                                <span class="fa-solid fa-xmark"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Nombres:</label>
                    </div>
                    <div class="col-md">
                        <input type="text" maxlength="70" class="form-control" [(ngModel)]="referente.per_nombres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Apellidos:</label>
                    </div>
                    <div class="col-md">
                        <input type="text" maxlength="60" class="form-control" [(ngModel)]="referente.per_apellidos">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Dirección:</label>
                    </div>
                    <div class="col-md">
                        <input type="text" maxlength="90" class="form-control" [(ngModel)]="referente.per_direccion">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Teléfono:</label>
                    </div>
                    <div class="col-md">
                        <input type="text" maxlength="20" class="form-control" [(ngModel)]="referente.per_telf">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Email:</label>
                    </div>
                    <div class="col-md">
                        <input type="text" maxlength="40" class="form-control" [(ngModel)]="referente.per_email">
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-primary" (click)="doEmiteFactura()"
                        [disabled]="referente.per_ciruc?.trim().length === 0">
                        <span class="fa-solid fa-floppy-disk"></span> Emitir {{tipoComproEmite.label}}
                    </button>
                    <button class="btn btn-outline-dark" (click)="cancelEmiteFactura()">
                        <span class="fa-solid fa-xmark"></span> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>