<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Regístrame para este evento</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="row">
          <div class="col">
            <p>
              Por favor ingresa tus datos, para poder registrarte en este evento
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span class="required">*</span> <span title="Ingresa tu número de cédula o pasaporte">Ci/Pasaporte</span>
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control auxciruc" formControlName="per_ciruc" required="true"
                   placeholder="Ingrese su número de cédula o pasaporte" autocomplete="off"
                   (blur)="onBlurCiRucEvent()" (keydown.enter)="onEnterKeyPress($event)"
                   id="persona.field.ciruc" maxlength="15">
          </div>
          <div class="col-md-12">
            <p-message severity="warn" text="Por favor ingrese el número de identificación"
                       *ngIf="submited&&!f.per_ciruc.valid"></p-message>
            <div class="col-md-12">
              <app-validation-messages [control]="f.per_ciruc"></app-validation-messages>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span class="required">*</span> <span title="Ingresa tus nombres completos">Nombres:</span>
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control auxPerNombres" formControlName="per_nombres" required="true"
                   [readOnly]="isAlreadyRegistered"
                   placeholder="Ingrese sus nombres" maxlength="40">
          </div>
          <div class="col-md-12">
            <app-validation-messages [control]="f.per_nombres"></app-validation-messages>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span class="required">*</span> <span title="Ingresa tus apellidos completos">Apellidos:</span>
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="per_apellidos" required="true"
                   [readOnly]="isAlreadyRegistered"
                   placeholder="Ingrese sus apellidos" maxlength="40">
          </div>
          <div class="col-md-12">
            <app-validation-messages [control]="f.per_apellidos"></app-validation-messages>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span class="required">*</span> <span title="Por favor ingresa tu dirección de correo">Email:</span>
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="per_email" required="true"
                   [readOnly]="isAlreadyRegistered"
                   placeholder="Ingrese su dirección de correo" maxlength="50">
          </div>
          <div class="col-md-12">
            <app-validation-messages [control]="f.per_email"></app-validation-messages>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span title="Por favor ingresa tu número de teléfono celular">Móvil:</span>
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="per_movil"
                   [readOnly]="isAlreadyRegistered"
                   placeholder="Ingrese su número de cedular" maxlength="12">
          </div>
          <div class="col-md-12">
            <app-validation-messages [control]="f.per_movil"></app-validation-messages>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="text-center">
          <div class="alert alert-success" role="alert" *ngIf="isAlreadyRegistered">
            Usted ya se encuentrado registrado para este evento
          </div>
            <input type="submit" class="btn btn-outline-primary auxBtnSubmit" *ngIf="!isAlreadyRegistered" [disabled]="formGroup.invalid" value="Registrar">
            <span class="espacio"></span>
            <input type="reset" class="btn btn-outline-secondary auxBtnCerrar" (click)="cancelar()" value="Cerrar">
        </div>
      </div>
    </form>
  </div>
</div>
