<h1 class="bd-title">{{ rolId == 0 ? 'Crear' : 'Editar' }} rol del sistema</h1>

<div class="row mt-2">
    <div class="col-md-10">
        <div class="row">
            <div class="col">
                <div>
                    <div class="mb-3">
                        <label for="rlNombre"><span class="required">*</span>Nombre:</label>
                        <input type="text" maxlength="45" class="form-control" (keyup.enter)="setFocus('rlAbreviacion')"
                               (keyup)="$event.target.value=$event.target.value.toUpperCase()"
                               id="rlNombre" name="rl_name" [(ngModel)]="form.rl_name" placeholder=""
                               autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="rlAbreviacion">
                            <span class="required">*</span>Abreviación:</label>
                        <input type="text" maxlength="20" class="form-control" (keyup.enter)="setFocus('rlDesc')"
                               (keyup)="$event.target.value=$event.target.value.toUpperCase()"
                               id="rlAbreviacion" name="rl_abreviacion" [(ngModel)]="form.rl_abreviacion" placeholder=""
                               autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="rlDesc">Detalle:</label>
                        <textarea class="form-control" id="rlDesc" maxlength="800" name="rl_desc"
                                  [(ngModel)]="form.rl_desc" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <span class="text-primary">Permisos</span>
                    </div>
                    <ul class="list-group list-group-flush perm-list">
                        <li class="list-group-item hand list-group-item-action {{item.rl_marca?'list-group-item-success':''}}"
                            *ngFor="let item of permisos" (click)="selectPermiso(item)"><i
                                class="fa  {{item.rl_marca?'fa-check-square-o':'fa-square-o'}}"></i>
                            {{ item.prm_nombre }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="bd-actions">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" (click)="guardar()">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Guardar
                </button>
                <button type="button" class="btn btn-outline-dark" (click)="cancelar()">
                    <i class="fa-solid fa-xmark"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>

</div>
