<h1>Telemedicina</h1>
<div class="card border-primary" *ngIf="!showMensajeFinal">
    <div class="card-body">
        <div class="alert alert-primary mj" role="alert">
            La Fundación Salud y Vida Nueva pone a su dispocisión el servicio de telemedicina en las siguientes especialidades:
            <br><br>
            <ul>
                <li class="text-justifenvy">
                    Médico General
                </li>
                <li class="text-justify">
                    Médico Ancestral
                </li>
            </ul>
            <br>
            si desea solicitar este servicio favor hacer clic en el botón Solicitar una cita
        </div>
        <div class="text-center">
            <button class="btn btn-outline-primary btn-lg" id="solicitaCitaBtnId" (click)="showModalLogin()" #solicitaCitaBtn> Solicitar una cita</button>
        </div>
    </div>
</div>
<div *ngIf="isShowFormReg">
    <div class="row">
        <div class="col-md-3">
            <div class="card border-primary">
                <div class="card-body">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{{paciente.photoUrl}}" width="50" height="50" class="d-inline-block align-top"
                                 alt="">
                            <br>
                            <span class="text-primary"> {{paciente.name}} </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">

            <div class="text-center">
                <p-steps [model]="steps" [readonly]="true" [(activeIndex)]="activeIndex"></p-steps>
            </div>

            <div class="card border-primary" *ngIf="activeIndex===0">
                <div class="card-body">
                    <div class="alert alert-info">
                        Seleccione el servicio que requiere y luego ingrese sus datos personales
                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li *ngFor="let item of teleservicios" (click)="checkService(item)"
                        class="list-group-item hand {{item.selected?'active':''}}">
                        <i class="fa {{item.selected?'fa-check-square-o':'fa-square-o'}}"></i>
                        {{item.ic_nombre}}
                        <span class="badge badge-info"> {{item.medico}} </span>
                    </li>
                </ul>

                <div class="card-body" *ngIf="isServiceSelected()">
                    <br>
                    <h3>Ingrese sus datos personales</h3>
                    <div>
                        <form [formGroup]="pacienteForm" (ngSubmit)="procesaForm()">
                            <div class="form-group">
                                <input type="text" class="form-control" id="nombresInput"
                                       aria-describedby="emailHelp"
                                       autocomplete="off"
                                       maxlength="150"
                                       (keydown.enter)="onEnterNombres($event)"
                                       (keyup)="$event.target.value=$event.target.value.toUpperCase()"
                                       placeholder="Ingrese sus nombres completos" name="nombres"
                                       formControlName="nombres"
                                       [ngClass]="{'is-invalid':submited && f.nombres.errors}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="emailInput"
                                       aria-describedby="emailHelp"
                                       autocomplete="off"
                                       maxlength="80"
                                       (keydown.enter)="onEnterEmail($event)"
                                       placeholder="Ingrese su dirección de correo" name="email"
                                       formControlName="email"
                                       [ngClass]="{'is-invalid':submited && f.email.errors}">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="celularInput"
                                       aria-describedby="emailHelp"
                                       autocomplete="off"
                                       maxlength="80"
                                       placeholder="Ingrese su número de celular" name="celular"
                                       (keydown.enter)="onEnterMovil($event)"
                                       formControlName="celular"
                                       [ngClass]="{'is-invalid':submited && f.celular.errors}">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <button class="btn btn-outline-primary btn-lg" *ngIf="!pacienteForm.invalid"
                                                (click)="showFormSelectFechaHora()"> Siguiente
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card border-primary" *ngIf="activeIndex===1">

                <div class="card-body">

                    <div class="alert alert-info">
                        Seleccione el día en el calendario y luego la hora en el que le gustaría ser atendid@
                    </div>

                    <div class="row">
                        <div class="col">
                            <p-calendar [(ngModel)]="diaCita" [inline]="true" [locale]="es" [minDate]="minimumDate"
                                        (onSelect)="loadMatrizHoras()"></p-calendar>

                            <br>
                            <br>
                            <div class="text-center">
                                <span>
                                <i class="fa fa-calendar"></i>
                                    {{diaCitaTexto}}
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border-primary">
                                <div class="card-header">
                                    Hora
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li *ngFor="let item of matrizHoras" (click)="onHoraClick(item)"
                                        class="list-group-item hand {{(item.selected) ?'active':''}}  {{item.ocupado?'list-group-item-dark disabled':''}}">
                                        <div class="row">
                                            <div class="col-6">
                                                {{item.horaIni}} - {{item.horaFin}}
                                            </div>
                                            <div class="col">
                                                {{item.ocupado ? 'ocupado' : ''}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-primary btn-lg pull-left"
                                    (click)="retornarADatos()">
                                <i class="fa fa-arrow-circle-o-left"></i>
                            </button>

                            <div class="text-center">
                                <button class="btn btn-outline-primary btn-lg"
                                        (click)="showResumen()"> Siguiente
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="activeIndex===2">
                <div class="card border-primary">
                    <div class="card-body">
                        <div class="alert alert-info">
                            Esta es la información de su cita, presione el boton Crear cita para confirmar su
                            solicitud
                        </div>

                        <div class="text-center sepResumen">
                            <span class="text-muted">Hora:</span>
                            {{horaCitaTexto}}
                        </div>

                        <div class="text-center sepResumen">
                            <span class="text-muted">Día:</span>
                            {{diaCitaTexto}}
                        </div>

                        <div class="text-center sepResumen">
                            <span class="text-muted">Servicio solicitado:</span>
                            {{servicioSelected.ic_nombre}}
                        </div>
                        <div class="text-center sepResumen">
                            <span class="text-muted">Usted será atendido por:</span>
                            {{servicioSelected.medico}}
                        </div>

                        <!--
                        <div class="row">
                            <div class="col-md-6">
                                <span>Día:</span>
                                </div>
                            <div class="col"> {{diaCitaTexto}} </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>
                                    Hora:</span> </div>
                            <div class="col"> {{horaCitaTexto}} </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>
                                    Servicio solicitado:</span> </div>
                            <div class="col"> {{servicioSelected.ic_nombre}}  </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <span>
                                Usted será atendido por:
                                </span></div>
                            <div class="col"> {{servicioSelected.medico}}   </div>
                        </div>
                        -->

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-primary btn-lg pull-left"
                                (click)="retornarAFecha()">
                            <i class="fa fa-arrow-circle-o-left"></i>
                        </button>
                        <div class="text-center">
                            <button class="btn btn-outline-primary btn-lg"
                                    (click)="registraCita()"> Crear cita
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-lg"
                                    (click)="cancelarRegistroCita()"> Cancelar
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<div *ngIf="showMensajeFinal">
    <div class="card border-primary">
        <div class="card-header">
            Cita registrada
        </div>
        <div class="card-body">
            <div class="alert alert-success">
                <h2>
                    <br>
                    Tu cita ha sido registrada satisfactoriamente, recuerda registrarla en tu calendario, nos vemos
                    pronto <span class="text-center">
                        <i class="fa fa-check"></i>
                    </span>
                    <br>
                </h2>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <button class="btn btn-outline-primary btn-lg"
                            (click)="cerrarNotificacion()"> Aceptar
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalLoginPac" tabindex="-1" role="dialog" aria-labelledby="Login paciente"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Identifícate </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Primero debes identificarte
                </p>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block"
                                (click)="signInWithFB()">
                            <i class="fa fa-facebook"></i>
                            Ingresar con Facebook
                        </button>
                        <button type="button" class="btn btn-outline-warning btn-lg btn-block"
                                 #loginRef>
                            <i class="fa fa-google"></i>
                            Ingresar con Google
                        </button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <span class="espacio"></span>
                    <input type="reset" class="btn btn-outline-secondary auxBtnCerrar" (click)="cancelarLogin()"
                           value="Cerrar">
                </div>
            </div>
        </div>
    </div>
</div>
