<h1>Telemedicina</h1>
<div class="card border-primary">
    <div class="card-body">

        <div class="alert alert-primary mj" role="alert">
            La Fundación Salud y Vida Nueva pone a su dispocisión el servicio de telemedicina en las siguientes especialidades:
            <br><br>
            <ul>
                <li class="text-justifenvy">
                    Médico General
                </li>
                <li class="text-justify">
                    Médico Ancestral
                </li>
            </ul>

            <br>
            si desea solicitar este servicio favor hacer clic en el botón Solicitar una cita
        </div>

        <div class="text-center">
            <button class="btn btn-outline-primary btn-lg" id="solicitaCitaBtnId" (click)="gotoLoginPaciente()"> Solicitar una cita</button>
        </div>

    </div>
</div>