<h1 class="bd-title">
    <i class="fa-solid fa-file-circle-plus"></i>
    Crear {{titulo}}</h1>
<div>
    <div class="bd-grid">
        <div class="bd-grid-content">
            <div class="mx-3">
                <app-ingegrformedit #ingegrformedit [tiporouting]="tiporouting"
                                    [titulo]="titulo"
                                    (guardarEv)="gotolist()"
                                    (cancelarEv)="cancelar()"></app-ingegrformedit>
            </div>
        </div>
        <div class="bd-grid-actions">

            <div class="d-grid mt-4 gap-2">
                <button type="button" class="btn btn-lg btn-outline-primary"
                        (click)="ingegrformedit.guardar()" [disabled]="ingegrformedit.isLoading">
                    <i class="fa-solid fa-floppy-disk"></i><span class="ms-2">Guardar</span>
                </button>
                <button type="button" class="btn btn-lg btn-outline-dark"
                        (click)="ingegrformedit.cancelar()">
                    <i class="fa-solid fa-xmark"></i> <span class="ms-2">Cancelar</span>
                </button>
            </div>
        </div>
    </div>


</div>
