<app-fusaynavbar *ngIf="!isLogged && !isLoggedFacte"></app-fusaynavbar>
<app-loggednavbar *ngIf="isLogged && !isLoggedFacte"></app-loggednavbar>
<app-facteloggedhead *ngIf="!isLogged && isLoggedFacte"></app-facteloggedhead>

<div>
    <p-toast position="top-center"></p-toast>
    <p-blockUI [blocked]="blocked">
        <div class="loading-container">
            <p-progressSpinner></p-progressSpinner>
            <div>
                <span style="color: white !important;">Procesando...</span>
            </div>
        </div>
    </p-blockUI>
</div>

<div [ngClass]="{'bd-layout':isLogged}">
    <aside class="bd-sidebar" *ngIf="isLogged">
        <div>
            <p-panelMenu [model]="menuApp" styleClass="w-full md:w-20rem"/>
            <div class="sidebar-footer">
                <span class="text-secondary">Mavil &trade; 2024</span>
            </div>
        </div>
    </aside>
    <main [ngClass]="{'bd-master-main':isLogged}">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>


<app-fusayfooter *ngIf="!isLogged && !isLoggedFacte"></app-fusayfooter>