@import "~@ng-select/ng-select/themes/default.theme.css";

.sidebar{
    margin-left: -13px !important;
}

.loading-container {
    flex-direction: column;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexrow{
    flex-direction: row;

}