<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>
<div *ngIf="!isLoading">
    <div>
        <div class="border rounded p-2 mb-1">
            <div *ngIf="showtitulo">
                <div class="row">
                    <div class="col-md d-flex">
                        <h4 class="quitaPaddingMargin fw-bold">{{ ttransacc.tra_nombre }}</h4>
                        <!--
                        <div class="btn-group dropdown" *ngIf="tracodigo!==7">
                            <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                    title="Cambiar tipo de transacción"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item" (click)="changeTransaccType()">
                                    Cambiar a <span>{{ttransacc.tra_codigo===1?'Nota de venta':'Factura'}}</span>
                                </a>
                            </div>
                        </div>-->
                        <div class="ms-2" *ngIf="isFacteEle">
                            <span class="badge bg-info">Documento Electrónico</span>
                        </div>
                        <!--
                        <div class="ms-2">
                            <button class="btn btn-sm btn-outline-primary" (click)="changeTransaccType()">Cambiar
                            </button>
                        </div>-->
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex flex-row">
                            <div class="d-flex align-items-center">
                                <span class="fw-bold">Nro: </span>
                            </div>
                            <div class="ms-2 d-flex">
                                <div class="d-flex align-items-center"><span> {{ form.form_cab.estabptoemi }}</span>
                                </div>
                                <input type="text" class="form-control ms-2" id="fc_secuencia"
                                       maxlength="15" [(ngModel)]="form.form_cab.secuencia"
                                       [disabled]="ttransacc.tra_tipdoc===1 || isedit">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex flex-row">
                            <div class="d-flex align-items-center">
                                <span class="fw-bold">Fecha:</span>
                            </div>
                            <p-calendar [(ngModel)]="form.form_cab.trn_fecregobj" [showIcon]="false"
                                        [disabled]="isFacteEle"
                                        class="ms-2 p-inputtext-sm" [maxDate]="currentdate" inputId="trn_fecregobj"
                                        dateFormat="dd/mm/yy">
                            </p-calendar>
                        </div>
                    </div>
                    <div class="col-md" *ngIf="isedit && trncodedit>0 && datosdocedit">
                        <div class="alert alert-warning" role="alert">
                            Editando comprobante Nro {{ datosdocedit?.tasiento?.trn_compro }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="showreferente">
            <div class="d-md-flex justify-content-start align-items-center alert alert-info" role="alert">
                <div class="d-flex" *ngIf="isConsumidorFinal">
                    <span class="fw-lighter">Consumidor Final</span>
                </div>
                <div *ngIf="ttransacc.tra_codigo === 7 && !form.form_persona.per_ciruc">
                    <span class="fw-lighter">Datos del proveedor</span>
                </div>
                <div class="d-md-flex" *ngIf="!isConsumidorFinal && form.form_persona.per_ciruc">
                    <div class="mx-2">
                        <span class="fw-lighter">Ci/Ruc: </span>
                        <span class="fw-bold">{{ form.form_persona.per_ciruc }}</span>
                    </div>
                    <div class="mx-2">
                        <span class="fw-lighter">Nombres y Apellidos:</span>
                        <span class="fw-bold me-1">{{ form.form_persona.per_nombres }}</span>
                        <span class="fw-bold"
                              *ngIf="form.form_persona.per_apellidos">{{ form.form_persona.per_apellidos }}</span>
                    </div>
                    <div class="mx-2">
                        <span class="fw-lighter">Dirección: </span>
                        <span class="fw-bold">{{ form.form_persona.per_direccion }}</span>
                    </div>
                    <div class="mx-2">
                        <span class="fw-lighter">Telf: </span>
                        <span class="fw-bold">{{ form.form_persona.per_telf }}</span>
                    </div>
                    <div class="mx-2">
                        <span class="fw-lighter">Email: </span>
                        <span class="fw-bold">{{ form.form_persona.per_email }}</span>
                    </div>
                </div>
                <div class="d-flex ms-3">
                    <button class="btn btn-sm btn-outline-primary" (click)="showModalEnterRefData()">
                        <span>
                            <span *ngIf="isConsumidorFinal">
                                <i class="fa-regular fa-pen-to-square"></i>
                                Cambiar</span>
                            <span *ngIf="!isConsumidorFinal">
                                <i class="fa-regular fa-pen-to-square"></i>
                                Editar</span>
                        </span>
                    </button>
                    <button class="btn btn-sm btn-outline-primary ms-1" (click)="removeReferent()"
                            *ngIf="!isConsumidorFinal && form.form_persona.per_ciruc">
                        <i class="fa-regular fa-trash-can"></i>
                        <span>Eliminar</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md">
                <div class="p-fluid">
                    <p-autoComplete [(ngModel)]="artFiltrado" [suggestions]="artsFiltrados" autofocus="true"
                                    (completeMethod)="buscaServs($event)" optionLabel="'ic_nombre'"
                                    (keyup.enter)="onEnterFiltroArts($event)"
                                    emptyMessage="Ninguna coincidencia encontrada"
                                    (onSelect)="onServFilaSelected($event)"
                                    inputId="artsAutoCom"
                                    placeholder="Digite el nombre o el código del producto o servicio">
                        <ng-template let-art pTemplate="item">
                            <div>
                                <div class="fontsizexsm text-muted quitaPaddingMargin">Cod:{{ art.ic_code }}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div><span>{{ art.ic_nombre }} <span class="ms-3 fontsizenr fw-bold">
                                                        ${{ art.icdp_precioventa_iva }}</span></span>
                                    </div>
                                    <span class="fontsizesm {{art.ice_stock>0?'text-success':'text-warning'}}"
                                          *ngIf="art.tipic_id==1">#{{ art.ice_stock }}
                                            </span>
                                </div>
                            </div>
                        </ng-template>

                    </p-autoComplete>
                </div>
            </div>
        </div>
        <div class="footer-shadow">
            <div class="table-responsive mt-2 rounded border " [ngClass]="{'table-container':showreferente}">
                <table class="table table-bordered table-sm maviltable">
                    <thead class="table-primary mavilthead">
                    <tr>
                        <th scope="col" style="width: 3%">
                            <span class="fw-normal fontsizenr">#</span>
                        </th>
                        <th scope="col" style="width: 33%">
                                <span class="fw-normal fontsizenr">
                                    Descripción </span>
                        </th>
                        <th scope="col" style="width: 10%">
                                <span class="fw-normal fontsizenr mavilzindex">
                                    Cantidad ({{ totalCantItems || 0 }}) </span>
                        </th>
                        <th scope="col" style="width: 10%">
                                <span class="fw-normal fontsizenr">
                                    P. Uni. </span>
                        </th>
                        <th scope="col" style="width: 10%">
                                <span class="fw-normal fontsizenr">
                                    Subt.</span>
                        </th>
                        <th scope="col" style="width: 9%">
                                <span class="fw-normal fontsizenr">
                                    Desc </span>
                        </th>
                        <th scope="col" style="width: 10%">
                                <span class="fw-normal fontsizenr">
                                    Iva </span>
                        </th>
                        <th scope="col" style="width: 10%">
                                <span class="fw-normal fontsizenr">
                                    Total </span>
                        </th>
                        <th scope="col" style="width: 5%">
                            <button *ngIf="form.detalles.length>0" class="btn btn-sm btn-outline-dark"
                                    (click)="quitarTodo()"
                                    title="Quitar">
                                <i class="fa fa-trash"></i></button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="form.detalles.length===0" class="rowfact">
                        <td colspan="9">
                            <div class="d-flex justify-content-center align-items-center"
                                 [ngClass]="{'table-empty':showreferente}">
                                <span class="text-secondary">Agrege productos o servicios</span>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let fila of form.detalles">
                        <th scope="row">
                            <span class="fw-normal fontsizesm">{{ form.detalles.indexOf(fila) + 1 }}</span>
                        </th>
                        <td>
                            <div class="d-flex flex-column" (click)="showDetallesProd(fila)">
                                <span class="fw-bolder fontsizenr hand">{{ fila.ic_nombre }}</span>
                                <span class="fw-normal fontsizenr hand">{{ fila.ic_code }}</span>
                            </div>
                        </td>
                        <td>
                            <div style="min-width: 100px !important;">
                                <div class="p-fluid">
                                    <p-inputNumber [(ngModel)]="fila.dt_cant" [min]="0" [max]="100000"
                                                   styleClass="form-control-sm" (focusin)="$event.target.select()"
                                                   [showButtons]="true" mode="decimal" [minFractionDigits]="1"
                                                   maxFractionDigits="3" (ngModelChange)="onDtCantChange(fila)">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="min-width: 70px !important;">
                                <input type="text" class="form-control form-control-sm"
                                       (keyup)="onFilaPrecioChange(fila)" [(ngModel)]="fila.dt_precioiva">
                            </div>
                        </td>
                        <td>
                            <div style="min-width: 70px !important;">
                                <input class="form-control form-control-sm" [(ngModel)]="fila.subtotal" disabled>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex" style="min-width: 70px !important;">
                                <div>
                                    <select class="mt-1" [(ngModel)]="fila.dt_dectotipo"
                                            (change)="setFocusDesc(fila)">
                                        <option value="1">$</option>
                                        <option value="2">%</option>
                                    </select>
                                </div>
                                <div *ngIf="fila.dt_dectotipo==='1'">
                                    <input type="text" id="desfil1_{{form.detalles.indexOf(fila)}}"
                                           class="form-control form-control-sm"
                                           (keyup)="onFilaDescChange(fila)"
                                           [ngClass]="{'is-invalid':fila.dt_dectoerr}"
                                           (focusin)="$event.target?.select()" [(ngModel)]="fila.dt_dectoin">
                                </div>
                                <div *ngIf="fila.dt_dectotipo==='2'">
                                    <input type="text" id="desfil2_{{form.detalles.indexOf(fila)}}"
                                           class="form-control "
                                           (keyup)="onFilaDescPorcChange(fila)"
                                           [ngClass]="{'is-invalid':fila.dt_dectoerr}"
                                           (focusin)="$event.target?.select()" [(ngModel)]="fila.dt_dectoporcin">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="min-width: 70px !important;">
                                <select class="form-select form-select-sm" [(ngModel)]="fila.dai_impg"
                                        (ngModelChange)="onFilaIvaChange(fila)">
                                    <option *ngFor="let iv of ivas" [ngValue]="iv.imp_valor">{{ iv.imp_name }}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-row-reverse">
                                <span class="fw-bold">${{ fila.total | number: '.2' }}</span>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-outline-dark" (click)="quitarItem(fila)"
                                    title="Quitar">
                                <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="p-2" *ngIf="showtotales">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="fw-light">SUBTOTAL {{ impuestos.iva * 100 }}%:</span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control form-control-sm" disabled
                                           [(ngModel)]="form.totales.subtotal15">
                                </div>
                            </div>
                            <div class="row" *ngIf="form.totales.subtotal0 && form.totales.subtotal0>0">
                                <div class="col-md-6">
                                    <span class="fw-light">SUBTOTAL 0%:</span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control form-control-sm" disabled
                                           [(ngModel)]="form.totales.subtotal0">
                                </div>
                            </div>
                            <div class="row" *ngIf="form.totales.subtotal5 && form.totales.subtotal5>0">
                                <div class="col-md-6">
                                    <span class="fw-light">SUBTOTAL 5%:</span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control form-control-sm" disabled
                                           [(ngModel)]="form.totales.subtotal5">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span class="fw-light">DESCUENTO:</span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control form-control-sm" disabled
                                           [(ngModel)]="form.totales.descuentos">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 d-flex">
                                    <span class="fw-light">DESCUENTO GENERAL: </span>
                                </div>
                                <div class="col-md-6 d-flex">
                                    <input *ngIf="form.totales.descglobaltipo==='1'" type="text" id="descglobal1"
                                           class="form-control form-control-sm" (keyup)="onDescgenChange()"
                                           [ngClass]="{'is-invalid':form.totales.dt_dectogenerr}"
                                           (focusin)="$event.target?.select()"
                                           [(ngModel)]="form.totales.descglobalin">

                                    <input *ngIf="form.totales.descglobaltipo==='2'" type="text" id="descglobal2"
                                           class="form-control form-control-sm" (keyup)="onDescgenPorcChange()"
                                           [ngClass]="{'is-invalid':form.totales.dt_dectogenerr}"
                                           (focusin)="$event.target?.select()"
                                           [(ngModel)]="form.totales.descglobalpin">
                                    <select class="ms-1 mt-1" [(ngModel)]="form.totales.descglobaltipo"
                                            (change)="setFocusDescGlobal()">
                                        <option value="1">$</option>
                                        <option value="2">%</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ">
                                        <span class="fw-light">
                                            IVA {{ impuestos.iva * 100 }}% DE {{ form.totales.subtotal15 }}:
                                        </span></div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control form-control-sm" disabled
                                           [(ngModel)]="form.totales.iva15">
                                </div>
                            </div><div class="row" *ngIf="form.totales.subtotal5 && form.totales.subtotal5>0">
                                <div class="col-md-6 ">
                                        <span class="fw-light">
                                            IVA 5% DE {{ form.totales.subtotal5 }}:
                                        </span></div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control form-control-sm" disabled
                                           [(ngModel)]="form.totales.iva5">
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col-md-6">
                                    <span class="fw-bold fs-4">TOTAL:</span>
                                </div>
                                <div class="col-md-6">
                                    <span class="fw-bold fs-4">{{ form.totales.total | number: '.2' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <span>PAGOS:</span>
                            </div>
                            <div class="row" *ngFor="let pago of form.pagos">
                                <div class="col-md-7">
                                    <div *ngIf="pago.ic_clasecc!=='E'" class="form form-control">
                                        <span>{{ pago.ic_nombre }}:</span>
                                    </div>
                                    <div *ngIf="pago.ic_clasecc==='E'" class="p-fluid">
                                        <p-dropdown [options]="pagosef" optionLabel="ic_nombre"
                                                    optionValue="ic_id"
                                                    placeholder="Seleccione la caja afectada" [showClear]="false"
                                                    [(ngModel)]="pago.cta_codigo"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <input type="number" class="form-control" (focusin)="$event.target.select()"
                                           [(ngModel)]="pago.dt_valor" (keyup)="calculaPagos(pago)">
                                </div>
                            </div>

                            <div class="px-2">
                                <div class="row mt-4">
                                    <div class="col-md-3">
                                        <span class="text-muted">CAMBIO:</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" (focusin)="$event.target.select()"
                                               (keyup)="onVueltoChange()" [(ngModel)]="formvuelto.input">
                                    </div>
                                    <div class="col-md">
                                        <span class="text-muted fs-5">{{ formvuelto.vuelto | number: '.2' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex flex-column justify-content-between">
                            <div>
                                    <textarea class="form-control" [(ngModel)]="form.form_cab.trn_observ"
                                              rows="4"
                                              maxlength="400"
                                              placeholder="Ingrese una observación" appCharacterCount
                                              autocomplete="off" id="trn_observ"></textarea>
                            </div>
                            <div class="my-1 d-flex align-items-center justify-content-center" *ngIf="showbuttons">
                                <div class="d-grid col-6 mx-auto">
                                    <button class="btn btn-outline-dark" (click)="cancelarCreaFactura()"><i
                                            class="fa-solid fa-xmark"></i> Cancelar
                                    </button>
                                </div>

                                <div class="d-grid col-6 mx-auto">
                                    <button class="ms-3 btn btn-outline-primary" (click)="crearFactura()"
                                            [disabled]="!form.detalles.length>0">
                                        <i class="fa-solid fa-floppy-disk"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Detalles del producto/servicio" [modal]="true" [style]="{width: '75vw'}" [baseZIndex]="10000"
          [(visible)]="isShowDetProd">
    <app-artview [codart]="codartsel" [showPrecioCompra]="false"></app-artview>
    <p-footer>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-outline-primary" (click)="isShowDetProd=false">
                <i class="fa fa-times"></i>
                Cerrar
            </button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog [header]="ttransacc.tra_codigo===7?'Datos del proveedor':'Datos del cliente'" [modal]="true"
          (onHide)="clearAutoRef()"
          [style]="{width:'50vw'}" [(visible)]="showCreaNewRef">

    <div class="my-2">
        <app-buscaref [form]="formautoref" (evOnEnterRef)="onEnterRef($event)"
                      [autofocus]="true"
                      [showlugres]="true"
                      [stylevalidinvalid]="false"
                      (evOnSelectRef)="onRefSelect()"></app-buscaref>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col-md-2">
                <span class="required">*</span> <span class="fontsizenr fw-bold">CI/Ruc: </span>
            </div>
            <div class="col-md">
                <input type="text" class="form-control form-control-sm"
                       [(ngModel)]="referentForm.per_ciruc" (blur)="verificaRefRegistrado()"
                       autocomplete="off" id="per_ciruc" (keydown.enter)="buscarReferente()"
                       [disabled]="referentForm.per_id>0" tabindex="10">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="required">*</span><span class="fontsizenr fw-bold">Nombres: </span>
            </div>
            <div class="col-md">
                <input type="text" class="form-control form-control-sm" id="perNombresInput"
                       tabindex="11" autocomplete="off"
                       [(ngModel)]="referentForm.per_nombres" [disabled]="isDisabledFormRef"
                       maxlength="70">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="fontsizenr fw-bold">Apellidos: </span>
            </div>
            <div class="col-md">
                <input type="text" class="form-control form-control-sm" id="perApellidosInput"
                       tabindex="12" autocomplete="off"
                       [(ngModel)]="referentForm.per_apellidos" [disabled]="isDisabledFormRef"
                       maxlength="60">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="required">*</span><span class="fontsizenr fw-bold">Dirección: </span>
            </div>
            <div class="col-md">
                <input type="text" class="form-control form-control-sm" id="perDireccionInput"
                       tabindex="13" autocomplete="off"
                       [(ngModel)]="referentForm.per_direccion" [disabled]="isDisabledFormRef"
                       maxlength="90">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="required">*</span><span class="fontsizenr fw-bold">Teléfono: </span>
            </div>
            <div class="col-md">
                <input type="text" class="form-control form-control-sm" autocomplete="off" id="perTelfInput"
                       tabindex="14"
                       [(ngModel)]="referentForm.per_telf" [disabled]="isDisabledFormRef"
                       maxlength="20">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="fontsizenr fw-bold">Email: </span>
            </div>
            <div class="col-md">
                <input type="text" class="form-control form-control-sm" autocomplete="off" id="perEamilInput"
                       tabindex="15"
                       [(ngModel)]="referentForm.per_email" [disabled]="isDisabledFormRef"
                       maxlength="40">
            </div>
        </div>

    </div>
    <p-footer>
        <div class="d-flex justify-content-evenly">
            <div>
                <button [disabled]="!referentForm.per_ciruc" class="btn btn-outline-primary"
                        (click)="closeOkModalRef()">
                    <i class="fa-solid fa-check"></i>
                    Aceptar
                </button>
            </div>
            <div>
                <button class="btn btn-outline-secondary" (click)="closeModalRef()">
                    <i class="fa-solid fa-xmark"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </p-footer>

</p-dialog>
