<h1 class="bd-title">
    <i class="fa-solid fa-money-bill-transfer"></i>
    Movimientos de cuenta</h1>
<hr>
<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>
<div *ngIf="!isLoading" class="mt-2">

    <div class="row mb-3">
        <div class="col-md d-flex justify-content-start align-items-center">
            <span class="me-4">Socio:</span>
            <div class="w-75">
                <app-buscaref [form]="formautoref" [disabled]="disabledBuscaRef" [autofocus]="false"
                              (evOnEnterRef)="onEnterRef($event)" [showlugres]="false"
                              [stylevalidinvalid]="false" (evOnSelectRef)="onRefSelect()" (evOnClearRef)="onClearRef()">
                </app-buscaref>
            </div>
        </div>
        <div class="col-md">
            <div *ngIf="refsel" class="d-flex justify-content-start align-items-center">
                <span class="me-3">Cuenta:</span>
                <div class="w-100">
                    <p-dropdown [options]="cuentasSocio" id="tipt_id" [(ngModel)]="ctasociosel"
                                (onChange)="ontipocuentasel($event)" filter="false" optionLabel="labelcta"
                                inputId="tipt_id">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-1" *ngIf="datoscta.cue_id>0">
        <div class="row">
            <div class="col-md">
                <div class="border rounded p-3">
                    <h5 class="text-muted mb-2">Datos de la cuenta</h5>
                    <div>
                        <div class="row">
                            <div class="col-md"><span>Número de cuenta:</span></div>
                            <div class="col-md"><span class="fw-bold">{{ datoscta.cue_id }}</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md"><span>Tipo de cuenta:</span></div>
                            <div class="col-md"><span class="fw-bold">{{ datoscta.tc_nombre }}</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md"><span>SALDO TOTAL:</span></div>
                            <div class="col-md"><span class="fw-bold">
                                            {{ datoscta.cue_saldo_total }}
                                        </span></div>
                        </div>

                        <div class="row">
                            <div class="col-md"><span>SALDO BLOQUEADO:</span></div>
                            <div class="col-md"><span class="fw-bold">
                                            {{ datoscta.cue_saldo_bloq }}
                                        </span></div>
                        </div>

                        <div class="row">
                            <div class="col-md"><span>SALDO DISPONIBLE:</span></div>
                            <div class="col-md"><span class="fw-bold">
                                            {{ datoscta.cue_saldo_disp }}
                                        </span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="border rounded p-3">
                    <h5 class="text-muted mb-2">Datos del socio</h5>
                    <div>
                        <div class="row">
                            <div class="col-md">
                                <span>Codigo Socio:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold"> {{ datoscta.per_id }} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <span>Nombres:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold"> {{ datoscta.per_nombres }} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <span>Apellidos:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold"> {{ datoscta.per_apellidos }} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <span>Número Identificación:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold"> {{ datoscta.per_ciruc }} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <span>Nro celular:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold"> {{ datoscta.per_movil }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Filtro de fechas para los movimientos-->

        <div class="mt-1 border rounded p-3">
            <div class="row">
                <div class="col-md">
                    <app-rangofechas [form]="formfiltro" (evFilterSel)="loadMovs()" (evDesdeChange)="loadMovs()"
                                     (evHastaChange)="loadMovs()"></app-rangofechas>
                </div>
                <div class="col-md d-flex justify-content-end align-items-end">
                    <div class="d-flex">
                        <button class="btn btn-outline-primary me-2" (click)="loadMovs()"> <span
                                class="fa-solid fa-magnifying-glass"></span></button>
                        <button class="btn btn-outline-primary" id="btnCrear" (click)="showModalCrea()"> Crear
                            <span class="fa-solid fa-plus"></span></button>
                    </div>
                </div>
            </div>

            <!--Grid de movimientos-->
            <div class="mt-2">
                <p-table [value]="movsgrid.data"
                         [paginator]="true"
                         [loading]="loadingGrid"
                         (onLazyLoad)="doLazyLoad($event)"
                         [totalRecords]="totalRecord"
                         [lazy]="true"
                         [rows]="rows"
                         [(first)]="page"
                         selectionMode="single"
                         tableStyleClass="table table-hover table-striped table-bordered fusay-table"
                         scrollHeight="calc(100vh - 550px)"
                         [(selection)]="selectedItem" (onRowSelect)="onRowSelect($event)" [resizableColumns]="true"
                         [(contextMenuSelection)]="selectedItem">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let item of movsgrid.cols" [pSortableColumn]="item.field"
                                [ngSwitch]="item.field" [width]="item.width">
                                {{ item.label }}
                                <p-sortIcon [field]="item.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData"
                            (dblclick)="verDetalles(rowData)">
                            <td *ngFor="let item of movsgrid.cols">
                                <p class="fontsizesm" style="white-space: pre-line">
                                    {{ rowData[item['field']] }}
                                </p>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="movsgrid.cols.length">
                                <span class="text-muted">No hay registros</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>

    </div>
</div>


<div *ngIf="isShowCreaMov">
    <p-dialog header="Crear movimiento" [style]="{width: '50vw'}" [autoZIndex]="false" [modal]="true"
              [closeOnEscape]="false" [(visible)]="isShowCreaMov">

        <div class="my-2 mb-5">
            <div class="row">
                <div class="col-md-3">
                    <span>Número de cuenta:</span>
                </div>
                <div class="col-md">
                    <input type="text" class="form-control" disabled="disabled" [(ngModel)]="form.cue_id">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <span>Transacción:</span>
                </div>
                <div class="col-md">
                    <p-dropdown appendTo="body" [options]="tipostransa" id="tipt_id" [(ngModel)]="tipotransa"
                                filter="true"
                                filterBy="tipt_nombre"
                                (onChange)="ontipotransaccsel($event)" optionLabel="tipt_nombre"
                                inputId="tipt_id">
                    </p-dropdown>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <span>Monto:</span>
                </div>
                <div class="col-md d-flex flex-column">
                    <input type="text" #montoInput="ngModel" maxlength="10" required
                           [min]="0" class="form-control" id="mov_total_transa"
                           [ngClass]="{'is-invalid':montoInput.touched&&!isValid('mov_total_transa',1)}"
                           [(ngModel)]="form.mov_total_transa">
                    <div *ngIf="montoInput.touched && !isValid('mov_total_transa',1)">
                        <small class="text-danger">
                            Monto incorrecto
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <span>Observación:</span>
                </div>
                <div class="col-md">
                    <textarea class="form-control" [(ngModel)]="form.mov_obs" rows="4" autocomplete="off"
                              maxlength="100"
                              placeholder="Ingrese una observación sobre esta transacción" id="mov_obs"></textarea>
                </div>
            </div>

        </div>

        <div class="my-5 d-flex justify-content-center">
            <button class="btn btn-outline-primary"
                    [disabled]="!isValid('mov_total_transa',1) ||tipotransa.tipt_id==0||isSaving" (click)="guardarMov()">
                <span class="fa-solid fa-floppy-disk"></span>
                Guardar
            </button>
            <button class="ms-3 btn btn-outline-dark" (click)="cancelCreaMov()"><span class="fa-solid fa-xmark"></span>
                Cancelar
            </button>
        </div>

    </p-dialog>
</div>