
<div>
    <div class="alert alert-info d-flex align-items-center" role="alert">
        <i class="fa-solid fa-circle-info"></i>
        <span class="ms-1">Puede buscar sus referentes ingresando solamente las <b>iniciales</b> de sus <i>nombres</i> o <i>apellidos</i></span>
    </div>
    <div class="row">
        <div class="col-md">
            <input class="form-control form-rounded" id="buscaPacNomCiInput" type="text"
                   autocomplete="off"
                   placeholder="Busque por nombres, número de cédula o iniciales" [(ngModel)]="filtro"
                   (keyup)="onFiltroTyped()">
        </div>
        <div class="col-md-3">
            <div class="d-grid">
                <button class="btn btn-outline-primary" (click)="crearPaciente()">
                    <span class="fa-solid fa-plus"></span> Nuevo </button>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <div class="divpacientesemtpy rounded-lg"
             *ngIf="pacientesArray.length===0 && filtro && filtro.trim().length>0 && !showAnim">
            <div class="text-center">
                <h3 class="text-muted"> No hay resultados <i class="fa-solid fa-magnifying-glass"></i></h3>
            </div>
        </div>
        <div class="shadow rounded">
            <div *ngIf="showAnim">
                <app-loading></app-loading>
            </div>
            <div class="list-group" *ngIf="pacientesArray.length>0">
                <a class="list-group-item list-group-item-action hand" *ngFor="let item of pacientesArray"
                   (click)="selectPaciente(item)">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <div class="avatar">
                            <span class="shadow shadow labelref label-{{randomStyles[getIndex(pacientesArray.indexOf(item))]}}">
                                {{getIniciales(item.nomapel)}}
                            </span>
                        </div>
                        <div class="avatardet">
                            <h6 class="mb-0">
                                <app-marklabel [label]="item.nomapel" [searchTerm]="filtro"></app-marklabel>
                            </h6>
                            <div class="mb-0 text-muted">
                                <h6>{{item.per_ciruc}}</h6>
                            </div>
                            <div class="mb-0 text-muted">
                                <h6>{{item.lugresidencia}}</h6>
                            </div>
                        </div>
                        <div>
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" *ngIf="hayMasFilasPac">
                    <p class="text-center">
                        <button class="btn btn-outline-primary" (click)="loadMorePacientes()"> Listar mas
                        </button>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>