.avatar{
  width: 6%
}

.avatar-ico{
  margin-left:1.5rem;
  font-size: 2.5rem;
  color: #9D1F63;
}

.avatardet{
  width: 90%
}

.labelref {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  border-radius: 0.6rem;
  text-align: center;
  font-weight: bold;
}

.label-1 {
  background: linear-gradient(to right, #FF6347, #FFA07A); /* Tomate */
}

.label-2 {
  background: linear-gradient(to right, #FFD700, #FFEC8B); /* Oro */
}

.label-3 {
  background: linear-gradient(to right, #ADFF2F, #9ACD32); /* Verde amarillo */
}

.label-4 {
  background: linear-gradient(to right, #7FFFD4, #00CED1); /* Aguamarina */
}

.label-5 {
  background: linear-gradient(to right, #1E90FF, #6495ED); /* Azul dodger */
}

.label-6 {
  background: linear-gradient(to right, #FF69B4, #FFC0CB); /* Rosa fuerte */
}

.label-7 {
  background: linear-gradient(to right, #8A2BE2, #9370DB); /* Azul violeta */
}

.label-8 {
  background: linear-gradient(to right, #D2691E, #F4A460); /* Chocolate */
}

.label-9 {
  background: linear-gradient(to right, #FF7F50, #FFA07A); /* Coral */
}

.label-10 {
  background: linear-gradient(to right, #6495ED, #B0C4DE); /* Azul maíz */
}

.label-11 {
  background: linear-gradient(to right, #DC143C, #FF69B4); /* Carmesí */
}

.label-12 {
  background: linear-gradient(to right, #00FFFF, #B0E0E6); /* Cian */
}

.label-13 {
  background: linear-gradient(to right, #00008B, #0000FF); /* Azul oscuro */
}

.label-14 {
  background: linear-gradient(to right, #008B8B, #20B2AA); /* Cian oscuro */
}

.label-15 {
  background: linear-gradient(to right, #B8860B, #D2B48C); /* Oro oscuro */
}

.label-16 {
  background: linear-gradient(to right, #1D4350, #A43931); /* Azul pizarra a óxido */
}
.label-17 {
  background: linear-gradient(to right, #006400, #228B22); /* Verde oscuro */
}

.label-18 {
  background: linear-gradient(to right, #BDB76B, #EEE8AA); /* Caqui oscuro */
}

.label-19 {
  background: linear-gradient(to right, #8B008B, #9932CC); /* Magenta oscuro */
}

.label-20 {
  background: linear-gradient(to right, #556B2F, #6B8E23); /* Verde oliva oscuro */
}

.label-21 {
  background: linear-gradient(to right, #FF8C00, #FFA500); /* Naranja oscuro */
}

.label-22 {
  background: linear-gradient(to right, #9932CC, #DA70D6); /* Orquídea oscura */
}

.label-23 {
  background: linear-gradient(to right, #8B0000, #CD5C5C); /* Rojo oscuro */
}

.label-24 {
  background: linear-gradient(to right, #E9967A, #FA8072); /* Salmón oscuro */
}

.label-25 {
  background: linear-gradient(to right, #8FBC8F, #98FB98); /* Verde mar oscuro */
}

.label-26 {
  background: linear-gradient(to right, #483D8B, #6A5ACD); /* Azul pizarra oscuro */
}

.label-27 {
  background: linear-gradient(to right, #2F4F4F, #708090); /* Gris pizarra oscuro */
}

.label-28 {
  background: linear-gradient(to right, #00CED1, #20B2AA); /* Turquesa oscuro */
}

.label-29 {
  background: linear-gradient(to right, #9400D3, #8A2BE2); /* Violeta oscuro */
}

.label-30 {
  background: linear-gradient(to right, #FF1493, #FF69B4); /* Rosa profundo */
}

.label-31 {
  background: linear-gradient(to right, #00BFFF, #1E90FF); /* Azul profundo */
}

.label-32 {
  background: linear-gradient(to right, #696969, #A9A9A9); /* Gris apagado */
}

.label-33 {
  background: linear-gradient(to right, #1E90FF, #4169E1); /* Azul dodger */
}

.label-34 {
  background: linear-gradient(to right, #B22222, #CD5C5C); /* Ladrillo refractario */
}

.label-35 {
  background: linear-gradient(to right, #0d324d, #7f5a83); /* Azul oscuro a lavanda */
}

.label-36 {
  background: linear-gradient(to right, #228B22, #32CD32); /* Verde bosque */
}

.label-37 {
  background: linear-gradient(to right, #FF00FF, #FF69B4); /* Fucsia */
}

.label-38 {
  background: linear-gradient(to right, #2b5876, #4e4376); /* Azul tinta a azul eléctrico */
}


.label-39 {
  background: linear-gradient(to right, #1A2980, #26D0CE); /* Azul real oscuro a azul turquesa */
}

.label-40 {
  background: linear-gradient(to right, #DAA520, #FFD700); /* Vara de oro */
}

.label-41 {
  background: linear-gradient(to right, #808080, #A9A9A9); /* Gris */
}

.label-42 {
  background: linear-gradient(to right, #008000, #008B8B); /* Verde */
}

.label-43 {
  background: linear-gradient(to right, #ADFF2F, #7FFF00); /* Verde amarillo */
}

.label-44 {
  background: linear-gradient(to right, #1488CC, #2B32B2); /* Azul cobalto a azul real */
}


.label-45 {
  background: linear-gradient(to right, #FF69B4, #FFB6C1); /* Rosa fuerte */
}

.label-46 {
  background: linear-gradient(to right, #CD5C5C, #BC8F8F); /* Castaño claro */
}

.label-47 {
  background: linear-gradient(to right, #4B0082, #8A2BE2); /* Índigo */
}

.label-48 {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.label-49 {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.label-50 {
  background: linear-gradient(to right, #da22ff, #9733ee);
}

.label-51 {
  background: linear-gradient(to right, #f7971e, #ffd200);
}

.label-52 {
  background: linear-gradient(to right, #1e3c72, #2a5298);
}

.label-53 {
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
}

.label-54 {
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.label-55 {
  background: linear-gradient(to right, #00b09b, #96c93d);
}

.label-56 {
  background: linear-gradient(to right, #ff6a00, #ee0979);
}

.label-57 {
  background: linear-gradient(to right, #00c3ff, #ffff1c);
}

.label-58 {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.label-59 {
  background: linear-gradient(to right, #4776e6, #8e54e9);
}

.label-60 {
  background: linear-gradient(to right, #ff8008, #ffc837);
}

.label-61 {
  background: linear-gradient(to right, #d38312, #a83279);
}

.label-62 {
  background: linear-gradient(to right, #136a8a, #267871);
}

.label-63 {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
}

.label-64 {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
}

.label-65 {
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.label-66 {
  background: linear-gradient(to right, #ff758c, #ff7eb3);
}

.label-67 {
  background: linear-gradient(to right, #43e97b, #38f9d7);
}

.label-68 {
  background: linear-gradient(to right, #30cfd0, #330867);
}

.label-69 {
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.label-70 {
  background: linear-gradient(to right, #00f260, #0575e6);
}

.label-71 {
  background: linear-gradient(to right, #ff0844, #ffb199);
}

.label-72 {
  background: linear-gradient(to right, #5D26C1, #a17fe0); /* Azul púrpura a azul pastel */
}
