<div>
    <h1 class="bd-title">
        <i class="fa-solid fa-file-circle-plus"></i>
        Crear solicitud de crédito</h1>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!isLoading">

        <div class="row mt-2">
            <div class="col-md">
                <div>
                    <div>

                        <div class="row" *ngIf="!(referente.per_id>0)">
                            <div class="col-md-2">
                                <span>Socio:</span>
                            </div>
                            <div class="col-md d-flex">
                                <div style="width: 100%">
                                    <app-buscaref [form]="formautoref" (evOnEnterRef)="onEnterRef($event)"
                                                  [showlugres]="false" [stylevalidinvalid]="false"
                                                  (evOnSelectRef)="onRefSelect()" (evOnClearRef)="onClearRef()">
                                    </app-buscaref>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="referente.per_id>0" class="border rounded p-3">
                            <div class="row my-2">
                                <div class="col-md-3">
                                    <span>Cliente:</span>
                                </div>
                                <div class="col-md">
                                    <span class="fw-bold">{{ referente.nomapel }}</span>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-3">
                                    <span>Dirección:</span>
                                </div>
                                <div class="col-md">
                                    <span class="fw-bold"> {{ referente.per_direccion }}</span>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-3">
                                    <span>Celular:</span>
                                </div>
                                <div class="col-md">
                                    <span class="fw-bold">{{ referente.per_movil }}</span>
                                </div>
                            </div>

                            <div class="row mt-2" *ngIf="datoscuenta.cue_id>0">
                                <div class="col-md-3">
                                    <span>Cuenta Nro:</span>
                                </div>
                                <div class="col-md">
                                    <span class="fw-bold">{{ datoscuenta.cue_id }}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card  mt-2" *ngIf="cuentaok">
                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <span>Producto:</span>
                            </div>
                            <div class="col-md">
                                <p-dropdown [options]="productos" id="cre_prod" [(ngModel)]="prodsel"
                                            (onChange)="onprodchange($event)" filter="false" optionLabel="prod_nombre"
                                            inputId="cre_prod"></p-dropdown>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <span>Tasa (%):</span>
                            </div>
                            <div class="col-md">
                                <input type="text" [(ngModel)]="form.cre_tasa" [disabled]="true"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <span>Monto ($):</span>
                            </div>
                            <div class="col-md">
                                <input type="text" [(ngModel)]="form.cre_monto" class="form-control"
                                       id="cre_monto">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <span>Fecha Préstamo:</span>
                            </div>
                            <div class="col-md">
                                <p-calendar id="cre_fecpres" [(ngModel)]="form.fecprestamo" [showIcon]="true"
                                            inputId="fecprestamo" [monthNavigator]="true" [yearNavigator]="true"
                                            (onSelect)="generaCuotas()"
                                            yearRange="1900:2100" dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <span>Plazo (Meses):</span>
                            </div>
                            <div class="col-md-12 d-flex">
                                <input type="text" [(ngModel)]="form.cre_plazo" class="form-control">
                                <div class="btn-group ms-1" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-dark"
                                            (click)="setYear(1)">1
                                    </button>
                                    <button type="button" class="btn btn-outline-dark"
                                            (click)="setYear(2)">2
                                    </button>
                                    <button type="button" class="btn btn-outline-dark"
                                            (click)="setYear(3)">3
                                    </button>
                                    <button type="button" class="btn btn-outline-dark"
                                            (click)="setYear(4)">4
                                    </button>
                                    <button type="button" class="btn btn-outline-dark"
                                            (click)="setYear(5)">5
                                    </button>
                                    <button type="button" class="btn btn-outline-dark"
                                            (click)="setYear(6)">6
                                    </button>
                                    <button type="button" class="btn btn-outline-dark"
                                            (click)="setYear(7)">7
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="my-2">
                            <div class="d-flex flex-row-reverse">
                                <p-checkbox class="ms-2" [(ngModel)]="form.marca_aprobado" [binary]="true"
                                            inputId="binary">
                                </p-checkbox>
                                <label for="binary" class="hand text-muted">Registrar como crédito antiguo ya
                                    aprobado</label>
                            </div>
                        </div>

                        <div class="mb-1">
                            <label for="ic_nota">Observación:</label>
                            <br>
                            <textarea maxlength="1000" class="form-control" [(ngModel)]="form.cre_obs"
                                      name="cre_obs" id="cre_obs" rows="5"></textarea>
                            <br>
                        </div>
                    </div>
                </div>


                <div class="mt-4 d-flex justify-content-around">

                    <button class="btn btn-outline-primary" *ngIf="cuentaok" (click)="generaCuotas()"
                            [disabled]="!referente.per_id>0">
                        <span class="fa fa-table"></span>
                        Calcular Cuotas
                    </button>
                    <button class="btn btn-outline-primary" *ngIf="cuentaok" type="button" (click)="guardar()"
                            [disabled]="!datostabla.tabla">
                        <span class="fa-solid fa-floppy-disk"></span> Guardar
                    </button>

                    <button class="btn btn-outline-dark" type="button" (click)="cancelar()">
                        <span class="fa-solid fa-xmark"></span> Cancelar
                    </button>
                </div>
            </div>
            <div class="col-md">
                <div *ngIf="datostabla.tabla">

                    <div class="border rounded shadow p-2">
                        <h5>Tabla de amortización</h5>
                        <div *ngIf="isLoadingTabla">
                            <app-loading></app-loading>
                        </div>

                        <div *ngIf="datostabla.cuota_mensual>0">
                            <div class="row my-2">
                                <div class="col-md-4">
                                    <span class="fw-bold">Cuota Mensual:</span>
                                </div>
                                <div class="col-md">
                                    <span class="fw-bolder">{{ datostabla.cuota_mensual }}</span>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-4">
                                    <span class="fw-bold">Total Intereses:</span>
                                </div>
                                <div class="col-md">
                                    <span class="fw-bolder">{{ datostabla.total_int }}</span>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-4">
                                    <span class="fw-bold">Total Seguro:</span>
                                </div>
                                <div class="col-md">
                                    <span class="fw-bolder">{{ datostabla.total_seguro }}</span>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-4">
                                    <span class="fw-bold">Total Coste Préstamo:</span>
                                </div>
                                <div class="col-md">
                                    <span class="fw-bolder">{{ datostabla.total_prest }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!isLoadingTabla" class="shadow">
                        <p-table [value]="datostabla.tabla" [paginator]="true" [rows]="12" selectionMode="single"
                                 [resizableColumns]="true"
                                 tableStyleClass="table table-hover table-striped table-bordered fusay-table">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let item of datostabla.cols" [pSortableColumn]="item.field"
                                        [ngSwitch]="item.field" [width]="item.width">
                                        <span class="fontsizesm">{{ item.label }}</span>
                                        <p-sortIcon [field]="item.field"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                                    <td *ngFor="let item of datostabla.cols" [width]="item.width">
                                        <span class="p-column-title">{{ item.label }}</span>
                                        <span class="fontsizesm">{{ rowData[item.field] }}</span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td [attr.colspan]="datostabla.cols?.length+1">
                                        <span class="text-muted">No hay registros</span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>