<div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!isLoading">
        <div class="card">
            <div class="card-body">
                <div class="mb-2">
                    <h3 class="card-title">Crear solicitud de crédito</h3>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-3">
                                <span>Ci/Ruc:</span>
                            </div>
                            <div class="col-md d-flex">

                                <div style="width: 100%">
                                    <app-buscaref [form]="formautoref" (evOnEnterRef)="onEnterRef($event)"
                                        [showlugres]="false" [stylevalidinvalid]="false" (evOnSelectRef)="onRefSelect()"
                                        (evOnClearRef)="onClearRef()">
                                    </app-buscaref>
                                </div>

                                <!--
                                <input type="text" class="form-control" placeholder="Ingrese el número de cedula"
                                    id="per_ciruc" (keydown.enter)="buscarReferente()" [(ngModel)]="form.per_ciruc">
                                <button class="btn btn-outline-primary" (click)="buscarReferente()"> Buscar </button>
                                -->
                            </div>
                        </div>

                        <div *ngIf="referente.per_id>0">
                            <div class="row my-2">
                                <div class="col-md-3">
                                    <span>Referente:</span>
                                </div>
                                <div class="col-md">
                                    <span>{{referente.nomapel}}</span>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-3">
                                    <span>Dirección:</span>
                                </div>
                                <div class="col-md">
                                    <span>{{referente.per_direccion}}</span>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-3">
                                    <span>Celular:</span>
                                </div>
                                <div class="col-md">
                                    <span>{{referente.per_movil}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-3">
                                <span>Producto:</span>
                            </div>
                            <div class="col-md">
                                <p-dropdown [options]="productos" id="cre_prod" [(ngModel)]="prodsel"
                                    (onChange)="onprodchange($event)" filter="false" optionLabel="prod_nombre"
                                    inputId="cre_prod"></p-dropdown>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-3">
                                <span>Tasa (%):</span>
                            </div>
                            <div class="col-md">
                                <input type="text" [(ngModel)]="form.cre_tasa" [disabled]="true" class="form-control">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-3">
                                <span>Monto ($):</span>
                            </div>
                            <div class="col-md">
                                <input type="text" [(ngModel)]="form.cre_monto" class="form-control" id="cre_monto">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-3">
                                <span>Plazo (Meses):</span>
                            </div>
                            <div class="col-md d-flex">
                                <input type="text" [(ngModel)]="form.cre_plazo" class="form-control">
                                <div class="btn-group ms-1" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="setYear(1)">1</button>
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="setYear(2)">2</button>
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="setYear(3)">3</button>
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="setYear(4)">4</button>
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="setYear(5)">5</button>
                                </div>

                            </div>
                        </div>

                        <div class="mb-1">
                            <label for="ic_nota">Observación:</label>
                            <br>
                            <textarea maxlength="1000" class="form-control" [(ngModel)]="form.cre_obs" name="cre_obs"
                                id="cre_obs" rows="5"></textarea>
                            <br>
                        </div>

                        <div class="mt-4 d-flex justify-content-around">
                            <button class="btn btn-outline-primary" (click)="generaCuotas()"
                                [disabled]="!referente.per_id>0">
                                <span class="fa fa-table"></span>
                                Calcular Cuotas </button>
                            <button class="btn btn-outline-primary" type="button" (click)="guardar()"
                                [disabled]="!datostabla.tabla">
                                <span class="fa fa-save"></span> Guardar
                            </button>
                            <button class="btn btn-outline-secondary" type="button" (click)="cancelar()">
                                <span class="fa fa-times"></span> Cancelar
                            </button>
                        </div>

                    </div>
                    <div class="col-md" *ngIf="datostabla.tabla">
                        <h5>Tabla de amortización</h5>
                        <div *ngIf="isLoadingTabla">

                        </div>
                        <div *ngIf="!isLoadingTabla">

                            <div *ngIf="datostabla.cuota_mensual>0">
                                <div class="row my-2">
                                    <div class="col-md">
                                        <span>Cuota Mensual:</span>
                                    </div>
                                    <div class="col-md">
                                        <span>{{datostabla.cuota_mensual}}</span>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md">
                                        <span>Total Intereses:</span>
                                    </div>
                                    <div class="col-md">
                                        <span>{{datostabla.total_int}}</span>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md">
                                        <span>Total Coste Préstamo:</span>
                                    </div>
                                    <div class="col-md">
                                        <span>{{datostabla.total_prest}}</span>
                                    </div>
                                </div>
                            </div>

                            <p-table [value]="datostabla.tabla" [paginator]="true" [rows]="50" selectionMode="single"
                                [responsive]="true" [resizableColumns]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th *ngFor="let item of datostabla.cols" [pSortableColumn]="item.field"
                                            [ngSwitch]="item.field" [width]="item.width">
                                            <span class="fontsizesm">{{item.label}}</span>
                                            <p-sortIcon [field]="item.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>
                                    <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                                        <td *ngFor="let item of datostabla.cols" [width]="item.width">
                                            <span class="p-column-title">{{item.label}}</span>
                                            <span class="fontsizesm">{{rowData[item.field]}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="datostabla.cols?.length+1">
                                            <span class="text-muted">No hay registros</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>