.contdiente-large {
    position: relative;
    width: 120px !important;
    height: 120px !important;
    border: 0 dashed grey;
    display: inline-block;
    margin-right: 2px;
}

.mdiente-large {
    position: absolute;
    width: 120px !important;
    height: 120px !important;
    border: 0 solid red;
    top: 0;
    left: 0;
    z-index: 10;
}

.mdiente-large:hover {
    /*border: 1px dashed #e4e4e4;*/
}

.mfondodiente-large {
    position: absolute;
    width: 120px !important;
    height: 120px !important;
    border: 0 solid blue;
    top: 0;
    left: 0;
    z-index: 20;
}

.mfondodiente-large:hover {
    cursor: pointer;
    border: 1px dashed #e4e4e4;
}

.mcuadro-large {
    background-color: #FFFFFF;
    border: 1px solid #7F7F7F;
    position: absolute;
    width: 60px;
    height: 60px;
}

.mcuadro-large:hover {
    cursor: pointer;
}

.mcentro-large {
    top: 30px;
    left: 30px;
    border: 0 solid #7F7F7F;
    width: 60px;
    height: 60px;
    position: absolute;
}

.mcentro-large:hover {
    cursor: pointer;
}

.marriba-large {
    top: 0;
    left: 30px;
    height: 30px !important;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
}

.mizquierdo-large {
    left: 0;
    top: 30px;
    width: 30px !important;
    -moz-border-radius: 100px 0 0 100px;
    -webkit-border-radius: 100px 0 0 100px;
    border-radius: 100px 0 0 100px;
}

.mdebajo-large {
    top: 90px;
    left: 30px;
    height: 30px !important;
    -moz-border-radius: 0 0 100px 100px;
    -webkit-border-radius: 0 0 100px 100px;
    border-radius: 0 0 100px 100px;
}

.mderecha-large {
    left: 90px;
    top: 30px;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    width: 30px !important;
}

.numdiente {
    width: 20px;
    height: 15px;
}

.mdiente {
    position: absolute;
    width: 52px !important;
    height: 55px !important;
    border: 0 solid red;
    top: 17px;
    left: 0;
    z-index: 10;
}

.mdiente:hover {

}

#tr {
    border-right: 1px solid black;
}

#tl {
    border-left: 1px solid black;
}

#br {
    border-right: 1px solid black;
}

#bl {
    border-left: 1px solid black;
}

.caries {
    width: 16px;
    height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: red;
}

.cariesm {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: red;
}

.cariesp {
    width: 5px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: red;
}

.obturado {
    width: 16px;
    height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: blue;
}

.scrol-tools-diente {
    max-height: 290px;
    margin-bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.text-rojo {
    color: red;
}

.text-azul {
    color: blue;
}

.piezaforprot {
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.piezaforprotsel {
    background-color: #00AEEF;
    color: white;
}

.piezaforprotxdosel {
    background-color: #da4d43;
    color: white;
}

.piezaretforprotsel {
    background-color: rgba(56, 52, 56, 0.88);
    color: white;
}

.obturado-grande {
    background-color: blue;
}
