.contdiente-large {
    position: relative;
    width: 120px !important;
    height: 120px !important;
    border: 0px dashed grey;
    display: inline-block;
    margin-right: 2px;
}

.mdiente-large {
    position: absolute;
    width: 120px !important;
    height: 120px !important;
    border: 0px solid red;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.mdiente-large:hover {
    /*border: 1px dashed #e4e4e4;*/
}

.mfondodiente-large {
    position: absolute;
    width: 120px !important;
    height: 120px !important;
    border: 0px solid blue;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.mfondodiente-large:hover {
    cursor: pointer;
    border: 1px dashed #e4e4e4;
}

.mcuadro-large {
    background-color: #FFFFFF;
    border: 1px solid #7F7F7F;
    position: absolute;
    width: 60px;
    height: 60px;
}

.mcuadro-large:hover {
    cursor: pointer;
}

.mcentro-large {
    top: 30px;
    left: 30px;
    border: 0px solid #7F7F7F;
    width: 60px;
    height: 60px;
    position: absolute;
}

.mcentro-large:hover {
    cursor: pointer;
}

.marriba-large {
    top: 0px;
    left: 30px;
    height: 30px !important;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
}

.mizquierdo-large {
    left: 0px;
    top: 30px;
    width: 30px !important;
    -moz-border-radius: 100px 0px 0px 100px;
    -webkit-border-radius: 100px 0px 0px 100px;
    border-radius: 100px 0px 0px 100px;
}

.mdebajo-large {
    top: 90px;
    left: 30px;
    height: 30px !important;
    -moz-border-radius: 0px 0px 100px 100px;
    -webkit-border-radius: 0px 0px 100px 100px;
    border-radius: 0px 0px 100px 100px;
}

.mderecha-large {
    left: 90px;
    top: 30px;
    -moz-border-radius: 0px 100px 100px 0px;
    -webkit-border-radius: 0px 100px 100px 0px;
    border-radius: 0px 100px 100px 0px;
    width: 30px !important;
}

.nmargen-diente {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 20px;
    height: 15px;
}

.numdiente {
    width: 20px;
    height: 15px;
}

.contdienteleche {
    position: relative;
    width: 41px !important;
    height: 58px !important;
    border: 0px dashed grey;
    display: inline-block;
    margin-right: 4px;
}

.mdienteleche {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    border: 0px solid red;
    top: 17px;
    left: 0px;
    z-index: 10;
}

.mdienteleche:hover {
    /*border: 1px dashed #e4e4e4;*/
}

.nmargen-dienteleche {
    position: absolute;
    top: 0px;
    left: 11px;
    width: 20px;
    height: 15px;
}

.mfondodienteleche {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    border: 0px solid blue;
    top: 17px;
    left: 0px;
    z-index: 20;
}

.mfondodienteleche:hover {
    cursor: pointer;
    border: 1px dashed #e4e4e4;
}

.mcuadroleche {
    background-color: #FFFFFF;
    border: 1px solid #7F7F7F;
    position: absolute;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 80px 80px 0px 0px;
    -moz-border-radius: 80px 80px 0px 0px;
    border-radius: 80px 80px 0px 0px;
}

.mcuadroleche:hover {
    cursor: pointer;
}

.mcentroleche {
    top: 13px;
    left: 13px;
    background: #F3F3F3;
    border: 0px solid #7F7F7F;
    width: 13px;
    height: 13px;
    position: absolute;
}

.mcentroleche:hover {
    cursor: pointer;
}

.marribaleche {
    top: 0px;
    left: 13px;
}

.mizquierdoleche {
    left: 0px;
    top: 13px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.mdebajoleche {
    top: 26px;
    left: 13px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mderechaleche {
    left: 26px;
    top: 13px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mdiente {
    position: absolute;
    width: 52px !important;
    height: 55px !important;
    border: 0px solid red;
    top: 17px;
    left: 0px;
    z-index: 10;
}

.mdiente:hover {

}


#tlr {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#tr {
    border-right: 1px solid black;
}

#tll {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#tl {
    border-left: 1px solid black;
}

#blr {
    border-right: 1px solid black;
}

#br {
    border-right: 1px solid black;
}

#bl {
    border-left: 1px solid black;
}

#bll {
    border-left: 1px solid black;
}

.fondorojo {
    background-color: red !important;
}

.fondoazul {
    background-color: blue;
}

.borderojo {
    border: 2px solid red !important;
}

.caries-grande-borde {
    border: 2px solid red !important;
}

.bordeverde {
    border: 2px solid #24ff5d !important;
}

.caries {
    width: 16px;
    height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: red;
}

.cariesm {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: red;
}

.cariesp {
    width: 5px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: red;
}

.obturado {
    width: 16px;
    height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: blue;
}

.obturadom {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: blue;
}

.scrol-tools-diente {
    max-height: 250px;
    margin-bottom: 0px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.text-rojo {
    color: red;
}

.text-azul {
    color: blue;
}

.piezaforprot {
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.piezaforprotsel {
    background-color: #00AEEF;
    color: white;
}

.piezaforprotxdosel {
    background-color: #da4d43;
    color: white;
}

.piezaretforprotsel {
    background-color: rgba(56, 52, 56, 0.88);
    color: white;
}


.obturado-grande {
    background-color: blue;
}

.obturado-mediano {
    background-image: url("/assets/imgs/cariesmediano.png");
    background-repeat: no-repeat;
    background-position: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
