<div class="fondoLogin">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="title"> Ingreso al sistema </h2>
            <div>
                <form [formGroup]="loginForm" (ngSubmit)="onclickSubmit()">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="empresaInput"
                               aria-describedby="emailHelp"
                               placeholder="Ingrese el codigo de la empresa" name="empresa" formControlName="empresa"
                               [ngClass]="{'is-invalid':submited && f.empresa.errors}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="usernameInput"
                               aria-describedby="emailHelp"
                               placeholder="Ingrese el  nombre de usuario" name="username" formControlName="username"
                               [ngClass]="{'is-invalid':submited && f.username.errors}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" id="passwordInput"
                               name="password"
                               placeholder="Ingrese la clave" formControlName="password"
                               [ngClass]="{'is-invalid':submited && f.password.errors}">
                    </div>

                    <div class="d-flex flex-row justify-content-around mt-5">
                        <button type="submit" value="Ingresar" class="btn btn-primary">Ingresar <span
                                class="fas fa-sign-in-alt"></span></button>
                        <button type="button" value="Olvidé mi clave" class="btn btn-secondary ">Olvidé mi clave
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
