<div class="container subscription textwhite mt-2 rounded-top">
    <hr class="quitaPaddingMargin"/>

    <div class="row mt-4">
        <div class="col-md-6">
            <p class="d-flex justify-content-center">
                ¿Desea mas información?
            </p>
            <div class="d-flex justify-content-center">
                <img src="assets/imgs/Mavil_White.png" class="img-fluid imgmavilpie" alt="Mavil Site">
            </div>
            <div class="d-flex justify-content-center">
                <ul class="list-inline social-icons">
                    <li class="list-inline-item" style="margin: 0 20px"><a
                            href="https://www.facebook.com/mavil.site"
                            target="_blank">
                        <span style="font-size: 2em;">
                            <i class="fab fa-facebook"></i>
                        </span>
                    </a></li>
                    <li class="list-inline-item" style="margin: 0 20px"><a
                            href="https://www.instagram.com/mavil.site/"
                            target="_blank">
                        <span style="font-size: 2em;">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a></li>
                    <li class="list-inline-item" style="margin: 0 20px"><a
                            href="https://www.instagram.com/mavil.site/"
                            target="_blank">
                        <span style="font-size: 2em;">
                            <i class="fab fa-youtube"></i>
                        </span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="d-flex justify-content-center">Información de Contacto</h5>
            <div class="d-flex justify-content-center">
                <ul class="list-unstyled">
                    <li>
                        <img src="assets/imgs/small/Home_Icon.png" alt="">
                        <span>Saraguro - Loja - Ecuador</span>
                    </li>
                    <li>
                        <a href="tel:0985039009" class="mavilanchor">
                            <img src="assets/imgs/small/Whatsapp_Icon2.png" alt="">
                            0985039009</a>
                    </li>
                    <li>
                        <a href="mailto:agenciachel@gmail.com" class="mavilanchor">
                            <img src="assets/imgs/small/Mail_Icon.png" alt="">
                            support&#64;mavil.site, agenciachel&#64;gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="quitaPaddingMargin"/>
    <div class="text-center">
        <p>
            Copyright © 2026
            <a href="http://agenciachel.com" target="_blank" class="mavilanchor">agenciachel.com</a>
        </p>
    </div>
</div>

