/*
.social-icons li a i {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    display: block;
    border-radius: 50%;
    font-size: 12px;
}
*/
.social-icons li a i:hover {
    /*background-color: white;*/
    color: #00AEEF;
}

.mavilanchor:hover {
    color: #00AEEF !important;
}

.subscription {
    width: 100%;
    background: #1C75BC;
}

.textwhite {
    color: white;
}

a {
    color: inherit;
}

hr.white {
    border-top: 1px solid white;
}
