<footer class="subscription textwhite">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    ¿Desea mas información?
                </p>
                <img src="assets/imgs/Mavil_White.png" class="img-fluid imgmavilpie" alt="Mavil Site">
                <ul class="list-inline social-icons">
                    <li class="list-inline-item" style="margin: 0 20px"><a href="https://www.facebook.com/mavil.site"
                                                                           target="_blank">
                        <span style="font-size: 2em;">
                            <i class="fab fa-facebook"></i>
                        </span>
                    </a></li>
                    <li class="list-inline-item" style="margin: 0 20px"><a
                            href="https://www.instagram.com/mavil.site/"
                            target="_blank">
                        <span style="font-size: 2em;">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a></li>
                    <li class="list-inline-item" style="margin: 0 20px"><a
                            href="https://www.instagram.com/mavil.site/"
                            target="_blank">
                        <span style="font-size: 2em;">
                            <i class="fab fa-youtube"></i>
                        </span>
                    </a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Información de Contacto</h5>
                <ul class="list-unstyled d-flex flex-column">
                    <li class="d-inline-flex">
                        <img src="assets/imgs/small/Home_Icon.png" alt="">
                        <span>Saraguro - Loja - Ecuador</span>
                    </li>
                    <li class="d-inline-flex">
                        <a href="tel:0985039009" class="mavilanchor">
                            <img src="assets/imgs/small/Whatsapp_Icon2.png" alt="">
                            0985039009</a>
                    </li>
                    <li class="d-inline-flex">
                        <a href="mailto:agenciachel@gmail.com" class="mavilanchor">
                            <img src="assets/imgs/small/Mail_Icon.png" alt="">
                            support@mavil.site, agenciachel@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <hr class="white"/>
    </div>
    <div class="text-center">
        <p style="padding-bottom: 10px; margin: 0 !important;">Copyright © 2020 <a href="http://agenciachel.com"
                                                                                   target="_blank"
                                                                                   class="mavilanchor">
            agenciachel.com</a></p>
    </div>
</footer>
