.social-icons li a i:hover {
    color: #00AEEF;
}

.mavilanchor:hover {
    color: #00AEEF !important;
}

.subscription {
    background: #1C75BC;
}

.textwhite {
    color: white;
}

a {
    color: inherit;
}

hr.white {
    border-top: 1px solid white;
}
