<div>

        <h1 class="bd-title">
            <i class="fa-solid fa-money-check-dollar"></i>
            Detalles del crédito Nro: {{ datoscred.cre_id }}

            <span class="ms-5">
                {{ referente.per_nombres }}  {{ referente.per_apellidos }}  - MONTO: {{ datoscred.cre_monto }}
                - {{ datoscred.est_nombre }}
            </span>
        </h1>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>

    <div *ngIf="!isLoading">
        <ul class="nav nav-tabs">
            <li class="nav-item hand" (click)="currentTab=1">
                <a class="nav-link " [ngClass]="currentTab===1?'active':''" aria-current="page">Datos
                    Crédito</a>
            </li>
            <li class="nav-item hand" (click)="currentTab=2">
                <a class="nav-link" [ngClass]="currentTab===2?'active':''"> Pagos </a>
            </li>
            <li class="nav-item hand" (click)="currentTab=3">
                <a class="nav-link" [ngClass]="currentTab===3?'active':''"> Adjuntos </a>
            </li>
        </ul>
        <div>
            <div class="bd-grid" *ngIf="currentTab===1">
                <div class="bd-grid-content">
                    <div class="row g-0 mx-3">
                        <div class="col-md">
                            <div class="mt-3">
                                <div class="mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Número </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.cre_id }} </span>
                                </div>
                                <div class="mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Estado Actual </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.est_nombre }} </span>
                                </div>

                                <div class=" mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Fecha Registro </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.cre_fechacrea }}
                                    </span>
                                </div>

                                <div class=" mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Fecha Préstamo </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.cre_fecprestamo }}
                                    </span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Monto Solicitado ($)
                                    </span>
                                    <span class="fw-bold fs-5"> {{ datoscred.cre_monto }} </span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Producto </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.prod_nombre }} </span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Tasa (%) </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.cre_tasa }}% </span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Plazo (Meses) </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.cre_plazo }} </span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Cuota Mensual </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.cre_cuota }} </span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Interes Calculado </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.cre_totalint }} </span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-normal fontsizenr labelcred"> Total Seguro </span>
                                    <span class="fw-bold fontsizenr"> {{ datoscred.cre_totalseguro }} </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mt-3">
                                <div class="mt-2">
                                    <span class="fw-normal fontsizenr labelmj">
                                        Nombres
                                    </span>
                                    <span class="fw-bold fontsizenr">
                                        {{ referente.per_nombres }}
                                    </span>
                                </div>
                                <div class="mt-2">
                                    <span class="fw-normal fontsizenr labelmj">
                                        Apellidos
                                    </span>
                                    <span class="fw-bold fontsizenr">
                                        {{ referente.per_apellidos }}
                                    </span>
                                </div>

                                <div class="mt-2">
                                    <span class="fw-normal fontsizenr labelmj">
                                        Ci/Ruc
                                    </span>
                                    <span class="fw-bold fontsizenr">
                                        {{ referente.per_ciruc }}
                                    </span>
                                </div>

                                <div class="mt-2">
                                    <span class="fw-normal fontsizenr labelmj">
                                        Email
                                    </span>
                                    <span class="fw-bold fontsizenr">
                                        {{ referente.per_ciruc }}
                                    </span>
                                </div>

                                <div class="mt-2">
                                    <span class="fw-normal fontsizenr labelmj">
                                        Dirección
                                    </span>
                                    <span class="fw-bold fontsizenr">
                                        {{ referente.per_direccion }}&nbsp;
                                    </span>
                                </div>

                                <div class="mt-2">
                                    <span class="fw-normal fontsizenr labelmj">
                                        Telefono
                                    </span>
                                    <span class="fw-bold fontsizenr">
                                        {{ referente.per_movil }}
                                    </span>
                                </div>

                                <div class="mt-2">
                                    <div class="alert alert-{{getEstilo()}}">
                                        Crédito en estado: {{ datoscred.est_nombre }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bd-grid-actions">
                    <div class="d-grid mt-4 gap-2">
                        <button class="btn btn-outline-primary" (click)="aprobar()"
                                *ngIf="datoscred.cre_estado===1">
                            <span class="fa fa-check"></span> Aprobar
                        </button>
                        <button class="btn btn-outline-primary" (click)="anular()"
                                *ngIf="datoscred.cre_estado===1">
                            <span class="fa fa-trash"></span> Anular
                        </button>
                        <button class="btn btn-outline-primary" (click)="imprimir()">
                            <span class="fa fa-print"></span> Tabla
                        </button>
                        <button class="btn btn-outline-primary" (click)="imprimirPagare()"
                                *ngIf="datoscred.cre_estado===2">
                            <span class="fa fa-print"></span> Pagaré
                        </button>
                        <button class="btn btn-outline-primary" (click)="gotoList()">
                            <span class="fa-solid fa-xmark"></span> Cerrar
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="currentTab===2">
                <app-finpagosview [cred]="datoscred.cre_id"></app-finpagosview>
            </div>

            <div *ngIf="currentTab===3">
                <app-finadjuntoscred [cred]="datoscred.cre_id"></app-finadjuntoscred>
            </div>

        </div>

    </div>
</div>