<div class="card rounded mt-2" *ngIf="!isShowDetCred && !isShowCreaCred">

    <div class="m-2 d-flex justify-content-between">
        <span class="font-weight-light">
                Cuentas por {{clase === 1 ? 'cobrar' : 'pagar'}} </span>

        <button class="btn btn-outline-primary btn-sm" (click)="showFormCrea()">
            <i class="fa fa-plus-circle"></i> Crear
        </button>
    </div>

    <app-loading *ngIf="loadingCreditos"></app-loading>

    <div *ngIf="!loadingCreditos">
        <div *ngIf="creditosList.length>0" class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col" style="width: 5%">
                            <span class="fontsizesm">
                                #</span></th>
                    <th scope="col">
                            <span class="fontsizesm">
                                Fecha </span></th>
                    <th scope="col"><span class="fontsizesm"> Nro factura </span></th>
                    <th scope="col"><span class="fontsizesm"> Observación </span></th>
                    <th scope="col"><span class="fontsizesm"> Total Crédito </span></th>
                    <th scope="col"><span class="fontsizesm"> Saldo Pendiente </span></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fila of creditosList" class="hand" (click)="showDetallesCredito(fila)">
                    <th scope="row" style="width: 5%">
                            <span class="fontsizesm">
                            {{creditosList.indexOf(fila) + 1}}
                            </span>
                    </th>
                    <td>
                            <span class="fontsizesm">
                                {{fila.trn_fecreg}}</span>
                    </td>
                    <td>
                            <span class="fontsizesm">
                                {{fila.trn_compro}}</span>
                    </td>
                    <td>
                        <span class="fontsizesm">{{fila.trn_observ}}</span>
                    </td>
                    <td>
                            <span class="fontsizesm">
                                {{fila.dt_valor}}</span>
                    </td>
                    <td>
                            <span class="fontsizesm">
                                {{fila.cre_saldopen}} </span>
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="d-flex flex-row-reverse">
                            <span class="font-weight-bold">Total:</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="font-weight-bold">{{totalescred.totalcred}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="font-weight-bold">{{totalescred.totalsalpend}}</span>
                        </div>
                    </td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-body" *ngIf="creditosList.length===0">
            <div class="p-5 d-flex justify-content-center">
                <h2 class="text-muted">No registra créditos</h2>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShowDetCred" class="my-2 shadow-sm">
    <app-abonosview [codCredito]="credsel.cre_codigo" [codFactura]="credsel.trn_codigo"
                    (evDeudaChange)="onDeudasChange($event)" (evCerrar)="hideDetCredito()"></app-abonosview>
</div>

<div *ngIf="isShowCreaCred" class="mt-2 shadow-sm">
    <app-credrefform [tipo]="clase" [codref]="codref" (evCancelar)="onCancelaCreaCred()">

    </app-credrefform>
</div>
