<h4 class="pt-3 pb-2">Registro de solicitudes de conexión de agua potable</h4>
<div class="alert alert-info">
    Por favor ingrese la información que se solicita:
</div>

<div class="border rounded border-2 mt-2 p-2">
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!isLoading">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4 ">
                        <span class="fw-normal fontsizenr">
                            <span class="text-rojo">*</span>Ci/Ruc:
                        </span>
                    </div>
                    <div class="col-md">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   [(ngModel)]="formref.per_ciruc"
                                   maxlength="13"
                                   autocomplete="off"
                                   (blur)="verifiRefRegistrado()"
                                   (keydown.enter)="buscarReferente()"
                                   id="perCirucInput">
                            <button class="btn btn-outline-secondary" type="button"
                                    (click)="buscarReferente()"
                                    title="Presiona este botón para buscar el referente por numero de cédula, ruc o pasaporte ">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4 ">
                        <span class="fw-normal fontsizenr"> <span class="text-rojo">*</span>Nombres: </span>
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" id="per_nombres" [(ngModel)]="formref.per_nombres"
                               autocomplete="off" maxlength="40">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4 ">
                        <span class="fw-normal fontsizenr"> <span class="text-rojo">*</span>Apellidos: </span>
                    </div>
                    <div class="col-md">
                        <input type="text" maxlength="40" class="form-control" autocomplete="off"
                               [(ngModel)]="formref.per_apellidos">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4 ">
                        <span class="fw-normal fontsizenr"> Celular: </span>
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" maxlength="20" [(ngModel)]="formref.per_movil">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4 ">
                        <span class="fw-normal fontsizenr"> Email: </span>
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" maxlength="30" [(ngModel)]="formref.per_email"
                               autocomplete="off">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4 ">
                        <span class="fw-normal fontsizenr"> Fecha de nacimiento (dd/mm/aaaa): </span>
                    </div>
                    <div class="col-md p-fluid">
                        <p-calendar id="per_fechanac"
                                    [(ngModel)]="formref.per_fechanacobj"
                                    [showIcon]="true"
                                    inputId="per_fechanac"
                                    [monthNavigator]="true" [yearNavigator]="true"
                                    [maxDate]="currentDate"
                                    (onSelect)="calcularEdad()"
                                    yearRange="1900:2100"
                                    dateFormat="dd/mm/yy"></p-calendar>
                        <span class="fontsizenr"> {{formref.per_edad?.years}} año(s) </span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md offset-md-4">
                        <div>
                            <div class="alert alert-info" *ngIf="isTercedad">
                                <span class="fa fa-info-circle"></span> <span
                                    class="fw-bold"> Adulto Mayor </span>
                            </div>
                            <div>
                                <div class="p-field-checkbox d-flex flex-row align-items-start">
                                    <p-checkbox id="consfinalinput" binary="true" name="consfinalinput" inputId="binary"
                                                [(ngModel)]="form.cna_teredad"></p-checkbox>
                                    <label class="ms-2 hand fontsizenr" (click)="toggleTercedad()">Tarifa
                                        Tercera Edad</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md">
                        <span class="fw-normal fontsizenr">
                            <span class="text-rojo">*</span>Tarifa: </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="p-fluid">
                            <p-dropdown [options]="tarifas" optionLabel="ic_nombre" optionValue="trf_id"
                                        inputId="cna_tarifa"
                                        placeholder="Seleccione la tarifa que aplica"
                                        [showClear]="false"
                                        [(ngModel)]="form.cna_tarifa"></p-dropdown>
                        </div>
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr "> <span
                                class="text-rojo">*</span>Num. Medidor: </span>
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control form-control-sm" maxlength="40"
                               [(ngModel)]="formmed.mdg_num">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr "> <span
                                class="text-rojo">*</span>Comunidad: </span>
                    </div>
                    <div class="col-md p-fluid">
                        <p-dropdown [options]="comunidades" optionLabel="cmn_nombre"
                                    optionValue="cmn_id"
                                    placeholder="Seleccione la comunidad"
                                    [showClear]="false"
                                    [(ngModel)]="form.cna_barrio"></p-dropdown>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr "> Sector: </span>
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" [(ngModel)]="form.cna_sector" maxlength="30">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr "> <span
                                class="text-rojo">*</span>Dirección Servicio: </span>
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="form.cna_direccion"
                               maxlength="80">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr "> Referencia: </span>
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" [(ngModel)]="form.cna_referencia" maxlength="500">
                    </div>
                </div>
                <!--
                <div class="row mt-2">
                    <div class="col-md-4">
                        <span class="fw-normal fontsizenr "> Costo Instalación <i class="fa fa-dollar"></i> : </span>
                    </div>
                    <div class="col-md">
                        <div class="p-fluid">
                            <p-inputNumber [(ngModel)]="form.cna_costoinst" [min]="0" [max]="1000000"
                                           mode="decimal"
                                           [minFractionDigits]="1" maxFractionDigits="3"
                                           [showButtons]="false"></p-inputNumber>
                        </div>
                    </div>
                </div>
                -->

            </div>
            <div class="col-md-2">
                <div class="d-flex flex-column">
                    <button class="btn btn-outline-primary" (click)="guardar()"><i class="fa fa-save"></i> Guardar
                    </button>
                    <button class="mt-2 btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>


<div *ngIf="contratosPrevios.length>0" class="mt-2">
    <div class="text-primary p-1">
        El referente ya tiene medidores registrados:
    </div>
    <app-tblmedidores [medidores]="contratosPrevios"></app-tblmedidores>
</div>
