<h4>Ingresos y Gastos</h4>
<hr>
<div class="row">
    <div class="col-md-3">
        <div>
            <span>Tipo</span><br>
            <p-dropdown [options]="tipos" optionLabel="label"
                        placeholder="Seleccione el tipo ingreso o egreso"
                        (onChange)="onTipoCuentaChange($event)"
                        [showClear]="false"
                        [(ngModel)]="tipoSel"></p-dropdown>

        </div>
    </div>
    <div class="col-md-3">
        <div>
            <span>Cuenta</span><br>
            <p-dropdown [options]="cuentas" id="cuenta_id"
                        [(ngModel)]="cuentaSel"
                        [virtualScroll]="true"
                        (onChange)="onCuentaChange($event)"
                        placeholder="Seleccione la cuenta"
                        [showClear]="true"
                        [style]="{width:'100%', overflow:'visible'}"
                        [filterMatchMode]="'startsWith'"
                        filter="true"
                        itemSize="50"
                        optionLabel="ic_nombre"
                        inputId="cuenta_id"></p-dropdown>
        </div>
    </div>
    <div class="col-md-3">
        <span>&nbsp;</span><br>
        <div class="btn-group" role="group" aria-label="Default button group">
            <button type="button" class="btn btn-outline-success" (click)="loadGrid()">
                <i class="fas fa-search"></i>
                Buscar
            </button>
            <!--
            <button type="button" class="btn btn-outline-success" (click)="goTipos()">
                <i class="fas fa-cog"></i>
                Config
            </button>
            -->
        </div>

    </div>

    <div class="col">
        <span>&nbsp;</span><br>
        <div class="d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Default button group">
                <button type="button" class="btn btn-outline-success" (click)="nuevo()">
                    <i class="fas fa-plus-circle"></i>
                    Crear
                </button>
            </div>
        </div>
    </div>
</div>
<hr>

<!--Formulario de creacion de registro -->
<p-table [value]="items" [paginator]="true" [rows]="50" selectionMode="single" [(selection)]="selectedItem"
         (onRowSelect)="onRowSelect($event)"
         [(contextMenuSelection)]="selectedItem"
         [contextMenu]="cm"
         (onRowUnselect)="onUnRowSelect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let item of cols" [pSortableColumn]="item.field" [ngSwitch]="item.field">
                {{item.label}}
                <p-sortIcon [field]="item.field"></p-sortIcon>
            </th>
            <th>
                Acción
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
            <td *ngFor="let item of cols">
                {{rowData[item['field']]}}
            </td>
            <td>
                <button class="btn btn-sm btn-outline-dark" (click)="confirmarRow(rowData)" title="Confirmar"
                        *ngIf="rowData.vt_estado===0">
                    <i class="fa fa-check"></i>
                </button>
                <button class="btn btn-sm btn-outline-dark" (click)="anularRow(rowData)" title="Anular"
                        *ngIf="rowData.vt_estado===0">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="cols.length+1">
                <span class="text-muted">No hay registros</span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td></td>
            <td><span>Total:  </span></td>
            <td>{{total}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>

</p-table>

<p-contextMenu #cm [model]="itemsCtxMenu"></p-contextMenu>
