<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button"
                    class="btn btn-outline-success dropdown-toggle dropdown-menu-md-left"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-filter"></i> Filtrar
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#" (click)="clickFiltro(1,$event)">Hoy</a>
                <a class="dropdown-item" href="#" (click)="clickFiltro(2,$event)">Mañana</a>
                <a class="dropdown-item" href="#" (click)="clickFiltro(3,$event)">Esta Semana</a>
                <a class="dropdown-item" href="#" (click)="clickFiltro(4,$event)">Esta Mes</a>
            </div>
        </div>

        <div *ngIf="tipoFiltro>0" style="padding: 0px 10px">
        <span>
        Filtro aplicado: {{fechasstr}}
        </span>
            <button class="btn btn-outline-success" style="margin: 0 10px" (click)="clearFiltro()">Limpiar</button>
        </div>
    </div>
    <button class="btn btn-outline-success" (click)="gotoCalendar()"><i class="fa fa-calendar"></i> Ver calendario
    </button>
</div>

<p-table [value]="items" [paginator]="true" [rows]="50" selectionMode="single" [(selection)]="selectedItem"
         (onRowSelect)="onRowSelect($event)"
         [autoLayout]="true"
         [resizableColumns]="true"
         [(contextMenuSelection)]="selectedItem"
         (onRowUnselect)="onUnRowSelect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let item of cols" [pSortableColumn]="item.field" [ngSwitch]="item.field">
                {{item.label}}
                <p-sortIcon [field]="item.field"></p-sortIcon>
            </th>
            <th>
                Acción
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" (dblclick)="onrowclic(rowData)">
            <td *ngFor="let item of cols">
                {{rowData[item['field']]}}
            </td>
            <td>
                <button class="btn btn-sm btn-outline-dark" (click)="verCita(rowData)" title="Ver Detalles"
                        style="margin-right: 10px">
                    <i class="fa fa-eye"></i>
                </button>
                <button *ngIf="tipocita===1" class="btn btn-sm btn-outline-dark" (click)="crerCita(rowData)"
                        title="Registrar atención">
                    &nbsp; <i class="fa fa-angle-double-right"> </i> &nbsp;
                </button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="cols.length+1">
                <span class="text-muted">No hay registros</span>
            </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="showModalDet && tipocita===1">
    <p-dialog header="Detalles de la cita" [modal]="true" [style]="{width: '90vw'}" [baseZIndex]="100"
              [(visible)]="showModalDet">
        <app-citadet [rowHistoriaSel]="rowHistoriaSel"
                     (closed)="onCerrarDetHistoria($event)"></app-citadet>
    </p-dialog>
</div>


<div *ngIf="showModalDet && tipocita===2">
    <p-dialog header="Detalles de la cita" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="100"
              [(visible)]="showModalDet" [autoZIndex]="false">
        <app-detcitacal [codcita]="rowHistoriaSel.ct_id"
                        (cerrarModalEv)="onCerrarModalCitaCal($event)"
                        (registraAtencionEv)="onRegistraAtencionEv($event)"></app-detcitacal>
    </p-dialog>

</div>
