<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>
<div *ngIf="!isLoading">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Nuevo Ticket</h3>
                        </div>
                        <div class="col-md-2 d-flex">
                            <span class="me-2">#</span>
                            <input type="text" class="form-control text-primary" id="nroImput" placeholder="Nro"
                                   [(ngModel)]="form.tk_nro">
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-calendar"></i>
                            <span> {{form.dia_str}} </span>
                        </div>
                        <div class="col-md-3 d-flex">
                            <span class="fw-bold me-2">Sección:</span>
                            <span>{{seccion.sec_nombre}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" *ngIf="isShowBuscaRef">
                        <div class="col-12 mb-3 mt-1 px-5">
                            <div class="alert alert-primary">
                                Busque el referente por nombres o número de cédula si no lo encuentra haga clic en el
                                botón Nuevo
                            </div>
                            <div class="d-flex">
                                <div style="width: 75%">
                                    <app-buscaref [form]="formautoref" (evOnEnterRef)="onEnterRef($event)"
                                                  [showlugres]="true"
                                                  [stylevalidinvalid]="false"
                                                  (evOnSelectRef)="onRefSelect()"></app-buscaref>
                                </div>
                                <div class="d-flex" style="width: 25%">
                                    <button class="ms-2 btn btn-primary" (click)="logicNewPac()"><span
                                            class="fa fa-plus-circle"></span> Nuevo
                                    </button>
                                    <button class="ms-2 btn btn-outline-secondary" (click)="cancelar()">
                                        <span class="fa fa-times"></span>
                                        Cancelar
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row" *ngIf="!isShowBuscaRef">
                        <div class="col-md">
                            <form>
                                <div class="mb-3">
                                    <label for="ciPasInput" class="text-primary">Número Cédula/Pasaporte:</label>
                                    <input type="text" maxlength="15" class="form-control"
                                           (keyup.enter)="setFocus('nomApelInput')" id="ciPasInput" name="per_ciruc"
                                           (blur)="buscarPersona()" [(ngModel)]="formcli.per_ciruc" placeholder=""
                                           autocomplete="off">
                                </div>

                                <div class="mb-3">
                                    <label for="nomApelInput" class="text-primary">
                                        <span class="required">*</span>
                                        Nombres:</label>
                                    <input type="text" maxlength="80" class="form-control"
                                           (keyup)="$event.target.value=$event.target.value.toUpperCase()"
                                           (keyup.enter)="setFocus('ApelInput')" id="nomApelInput" name="per_nombres"
                                           [(ngModel)]="formcli.per_nombres" placeholder="" autocomplete="off">
                                </div>

                                <div class="mb-3">
                                    <label for="ApelInput" class="text-primary">Apellidos:</label>
                                    <input type="email" maxlength="80" class="form-control " id="ApelInput"
                                           name="per_apellidos"                                           
                                           [(ngModel)]="formcli.per_apellidos" placeholder="" autocomplete="off" (ngModelChange) ="formcli.per_apellidos=$event.toUpperCase()">
                                </div>

                                <div class="mb-3">
                                    <label for="numCelInput" class="text-primary">
                                        <i class="fa fa-phone"></i>
                                        Nro Teléfono Celular:</label>
                                    <input type="email" class="form-control " id="numCelInput"
                                           (keyup.enter)="setFocus('emailInput')" name="per_movil"
                                           [(ngModel)]="formcli.per_movil" placeholder="" autocomplete="off">
                                </div>

                                <div class="mb-3">
                                    <label for="emailInput" class="text-primary">
                                        <i class="fa fa-envelope"></i>
                                        Email:</label>
                                    <input type="email" class="form-control " id="emailInput" name="per_email"
                                           (keyup.enter)="setFocus('obsInput')" [(ngModel)]="formcli.per_email"
                                           placeholder="" autocomplete="off">
                                </div>

                                <div class="mb-3">
                                    <label for="obsInput" class="text-primary">
                                        <i class="fa fa-sticky-note"></i>
                                        Observación</label>
                                    <textarea class="form-control" id="obsInput" maxlength="800" name="tk_obs"
                                              [(ngModel)]="form.tk_obs" rows="2"></textarea>
                                </div>

                                <div *ngIf="formcli?.per_id>0">
                                    <app-tkhistpac [codpac]="formcli.per_id"></app-tkhistpac>
                                </div>

                            </form>
                        </div>
                        <div class="col-md">
                            <div class="mb-3">
                                <label for="emailInput" class="text-primary">
                                    <span class="required">*</span>
                                    <i class="fa fa-usd"></i> Costo:</label>
                                <input type="email" class="form-control " id="costoInput" name="per_email"
                                       [(ngModel)]="form.tk_costo" placeholder="" autocomplete="off">
                            </div>

                            <div>
                                <div>
                                    <span class="text-primary">Lugar de residencia:</span>
                                </div>
                                <div>
                                    <p-dropdown [options]="lugares" id="catic_id"
                                                [(ngModel)]="formcli.per_lugresidencia"
                                                [virtualScroll]="true"
                                                placeholder="Seleccione el lugar de residencia"
                                                [showClear]="true"
                                                [style]="{width:'100%', overflow:'visible'}"
                                                [filterMatchMode]="'startsWith'"
                                                filter="true"
                                                itemSize="50"
                                                optionLabel="lug_nombre"
                                                inputId="per_lugresidencia"></p-dropdown>
                                </div>
                            </div>

                            <div class="mt-3">
                                <div>
                                    <span class="text-primary">Dirección:</span>
                                </div>
                                <div>
                                    <input type="text" class="form-control"
                                           [(ngModel)]="formcli.per_direccion"
                                           autocomplete="false" maxlength="80">
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header">
                                    <span class="text-primary"> Servicios: </span>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item hand list-group-item-action {{item.ic_marca?'list-group-item-primary':''}}"
                                        *ngFor="let item of servicios" (click)="selectService(item)"><i
                                            *ngIf="item.ic_marca" class="far fa-check-circle"></i>
                                        {{item.ic_nombre}} </li>
                                </ul>
                            </div>

                            <div class="mt-3 d-flex justify-content-around">
                                <button type="button" class="btn btn-lg btn-outline-primary"
                                        (click)="guardar()">
                                    <i class="fa fa-save"></i> <span class="ms-2">Guardar</span>
                                </button>
                                <button type="button" class="btn btn-lg btn-outline-secondary"
                                        (click)="cancelar()">
                                    <i class="fa fa-times"></i> <span class="ms-2">Cancelar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

