<div *ngIf="!isShowFormCreaFact">
    <div class="card rounded mt-2">
        <div class="m-1 d-flex justify-content-between">
            <span class="font-weight-light">Facturas de {{clase === 1 ? 'venta' : 'compra'}}</span>
            <button class="ml-md-3 btn btn-outline-primary btn-sm" (click)="showFormCreaFact(7, $event)"
                    *ngIf="clase===2">
                <i class="fa fa-plus-circle"></i> Crear
            </button>
            <div class="ml-md-3 btn-group btn-group-sm dropright" *ngIf="clase===1">
                <button type="button" class="btn btn-outline-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus-circle"></i> Crear
                </button>
                <div class="dropdown-menu" style="">
                    <a href="#" class="dropdown-item" (click)="showFormCreaFact(1, $event)"> Factura </a>
                    <a href="#" class="dropdown-item" (click)="showFormCreaFact(2, $event)"> Nota de venta </a>
                </div>
            </div>
        </div>
        <!--<div class="card-body">-->
        <app-loading *ngIf="loadingFacturas"></app-loading>
        <div *ngIf="!loadingFacturas">
            <div class="table-responsive" *ngIf="facturasList.length>0">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 5%"><span class="fontsizesm">#</span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Fecha </span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Nro </span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Efectivo </span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Crédito </span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Total </span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Observación </span></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fila of facturasList" class="hand" (click)="showDetallesFactura(fila)">
                        <th scope="row" style="width: 5%">
                            <span class="fontsizesm">
                            {{facturasList.indexOf(fila) + 1}}
                            </span>
                        </th>
                        <td>
                            <span class="fontsizesm">
                                {{fila.trn_fecreg}} </span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.trn_compro}} </span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.efectivo}} </span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.credito}} </span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.total}} </span>
                        </td>
                        <td>
                            <span class="fontsizesm">{{fila.trn_observ}}</span>
                        </td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="d-flex flex-row-reverse">
                                <span class="fontsizenr font-weight-bold">
                                Total: </span>
                            </div>

                        </td>
                        <td>
                            <span class="fontsizenr font-weight-bold">
                                {{totales.efectivo}} </span>
                        </td>
                        <td>
                            <span class="fontsizenr font-weight-bold">
                                {{totales.credito}} </span>
                        </td>
                        <td>
                            <span class="fontsizenr font-weight-bold">
                                {{totales.total}} </span>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" *ngIf="facturasList.length===0">
                <div class="p-5 d-flex justify-content-center">
                    <h2 class="text-muted"> No registra facturas </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShowFormCreaFact" class="mt-2">
    <app-facturasform [tracodigo]="tracodigofact"
                      [form]="formfact" [showbuttons]="true" [showreferente]="false"
                      [showtitulo]="true" [showtotales]="true" (evTotalesUpd)="onTotalUpdated($event)"
                      (evCancela)="oncancelarCreaFact($event)"
                      (evFormLoaded)="onformloaded($event)"
                      (evGuardarOk)="onguardarFact($event)">
    </app-facturasform>
</div>

<div *ngIf="isShowDetallesFactura">
    <p-dialog header="Detalles del documento" [modal]="true" [style]="{width: '95vw'}" [baseZIndex]="10000"
              [(visible)]="isShowDetallesFactura">
        <app-facturaview [trncod]="codFacturaSel" (evBtnClosed)="closeModalFact()"></app-facturaview>
    </p-dialog>
</div>
