<h1 class="bd-title">
    <i class="fa-solid fa-book-open"></i>
    Libro Mayor</h1>
<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>
<div *ngIf="!isLoading">
    <div class="row mb-3">
        <div class="col-md-3">
            <app-rangofechas [form]="form" (evFilterSel)="loadMovs()"
                             (evDesdeChange)="loadMovs()"
                             (evHastaChange)="loadMovs()"></app-rangofechas>
        </div>
        <div class="col-md-7">
            <div>
                <p class="quitaPaddingMargin fw-light">Cuenta Contable:</p>
                <div class="p-fluid">
                    <p-dropdown [options]="ctasContables" id="cta_codigo"
                                [(ngModel)]="form.cta_codigo"
                                placeholder="Seleccione la cuenta contable"
                                [showClear]="true"
                                [style]="{width:'100%', overflow:'visible'}"
                                (ngModelChange)="onCuentaContableChange($event)"
                                [filterMatchMode]="'contains'"
                                filter="true"
                                optionLabel="ctacontab"
                                optionValue="ic_id"
                                inputId="cta_codigo"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-end">
            <button type="button" class="btn btn-outline-primary" (click)="loadMovs()">
                <i class="fa-solid fa-magnifying-glass"></i> Buscar
            </button>
        </div>
    </div>

    <div *ngIf="isLoadingData">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!isLoadingData">
        <div class="d-flex alert alert-info" role="alert" *ngIf="grid.data && grid.data.length>0">
            <h4>SALDO:</h4>
            <h4 class="ms-3 quitaPaddingMargin fw-bolder text-success"> {{totales.resta}}</h4>
        </div>

        <p-table [value]="grid.data" [paginator]="true" [rows]="50" selectionMode="single" [(selection)]="selectedItem"
                 (onRowSelect)="onRowSelect($event)"
                 [resizableColumns]="true"
                 [(contextMenuSelection)]="selectedItem">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let item of grid.cols" [pSortableColumn]="item.field"
                        [ngSwitch]="item.field" [width]="item.width">
                        {{item.label}}
                        <p-sortIcon [field]="item.field"></p-sortIcon>
                    </th>
                    <th>
                        Acción
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" (dblclick)="verDetalles(rowData)">
                    <td *ngFor="let item of grid.cols">
                        <p class="fontsizesm" style="white-space: pre-line">
                            {{rowData[item['field']]}}
                        </p>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-dark" (click)="verDetalles(rowData)" title="Ver Detalles">
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr  class="table-primary">
                    <td colspan="3">
                        <span class="fw-bold">Total:  </span>
                    </td>
                    <td>{{totales.totdebe}}</td>
                    <td>{{totales.tothaber}}</td>
                    <td><span class="fw-bolder text-success"> {{totales.resta}}</span></td>
                    <td></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="grid.cols.length+1">
                        <span class="text-muted">No hay registros</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>

<div *ngIf="isShowDetAsi">
    <p-dialog header="Detalles del asiento" [style]="{width: '90vw'}" [autoZIndex]="false"
              [modal]="true"
              [closeOnEscape]="true"
              [(visible)]="isShowDetAsi">
        <app-asientoview [trncod]="asisel.trn_codigo" (evCerrar)="hideDetAsi()"></app-asientoview>
    </p-dialog>
</div>
