.espacio{
  padding: 0px 5px;
}

.letras {
  font-size: 18px;
  color: #212529;
  font-family: inherit;
}

.headfusay{
  background-color: #fff !important;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.08);
  background: #fff !important;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.headnav{
  background-color: #fff !important;
  background: #fff !important;
}
