<div>
    <div class="text-center" *ngIf="showAnim">
        <p class="p-5 m-5">
            <img src="assets/anim.gif"
                 alt="procesando">
            <br>
            <span class="text-info"> Espere un momento... </span>
        </p>
    </div>

    <div *ngIf="!showAnim">
        <div class="card border-secondary">
            <div id="HistPanelMotivoConsulta">
                <div class="row dato-adc-fila">
                    <div class="col-md-5">
                        <h6>
                            {{historiaSel.paciente.per_nombres + ' ' + historiaSel.paciente.per_apellidos}}
                            -  {{historiaSel.paciente.per_ciruc}}
                        </h6>
                    </div>
                    <div class="col-md-7">
                        <div class="d-md-flex justify-content-md-between">
                            <div>
                                <span>Fecha nacimiento:</span>
                                {{historiaSel.paciente.per_fechanac}}
                            </div>
                            <div class="btn-group btn-group-sm" role="group"
                                 aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button type="button"
                                            class="btn btn-outline-primary btn-sm dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Imprimir
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="#" (click)="auximprime(1, $event)">
                                            <i class="fas fa-print"></i>Historia </a>
                                        <a class="dropdown-item" href="#" (click)="auximprime(2, $event)">
                                            <i class="fas fa-print"></i>Receta </a>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button"
                                            class="btn btn-outline-primary btn-sm dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Editar
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="#" (click)="auxEditaAnula(1, $event)">
                                            <i class="fas fa-edit"></i> Editar </a>
                                        <a class="dropdown-item" href="#" (click)="auxEditaAnula(2, $event)">
                                            <i class="fas fa-trash"></i>
                                            Anular </a>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary" title="Ver ficha clínica"
                                        (click)="verFichaClinica()" *ngIf="showFichaCli">
                                    <i class="fas fas fa-stethoscope"></i>
                                </button>
                                <button class="btn btn-outline-primary" (click)="cerrarHistoriaAnt()">
                                    <i class="fas fa-times"></i> Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dato-adc-fila">
                    <div class="col-md-3">
                        <span class="text-muted">Fecha Atención:</span>
                    </div>
                    <div class="col">
                        <p>
                            {{rowHistoriaSel.cosm_fechacrea}}
                        </p>
                    </div>
                </div>

                <div class="row dato-adc-fila">
                    <div class="col-md-3">
                        <span class="text-muted">Motivo Consulta:</span>
                    </div>
                    <div class="col">
                        <p>
                            {{historiaSel.datosconsulta.cosm_motivo}}
                        </p>
                    </div>
                </div>
                <div class="row dato-adc-fila">
                    <div class="col-md-3">
                        <span class="text-muted">Enfermedad actual:</span>
                    </div>
                    <div class="col">
                        <p>
                            {{historiaSel.datosconsulta.cosm_enfermactual}}
                        </p>
                    </div>
                </div>

                <div class="row dato-adc-fila" *ngIf="historiaSel.datosconsulta.cosm_fechaedita">
                    <div class="col">
                        <div class="alert alert-warning" role="alert">
                            Historia editada el {{historiaSel.datosconsulta.cosm_fechaedita}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-secondary" *ngIf="hasAntecedentes()">
            <div class="card-header quitaPadding">
                Antecedentes Personales
            </div>
            <div id="HistPanelAntecedentes">
                <ng-container *ngFor="let it of historiaSel.antecedentes;">
                    <div class="row dato-adc-fila" *ngIf="it.valorreg">
                        <div class="col-md-4">
                            <span class="text-muted">{{it.cmtv_valor}}:</span>
                        </div>
                        <div class="col-md-8">
                            <p>
                                {{it.valorreg}}
                            </p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="card border-secondary" *ngIf="hasRevXSistemas()">
            <div class="card-header quitaPadding">
                Revisión por sistemas
            </div>
            <div id="HistPanelRevXSistemas">
                <ng-container *ngFor="let it of historiaSel.revxsistemas">
                    <div class="row dato-adc-fila" *ngIf="it.valorreg">
                        <div class="col-md-4">
                            <span class="text-muted">{{it.cmtv_valor}}:</span>
                        </div>
                        <div class="col-md-8">
                            <p>
                                {{it.valorreg}}
                            </p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="card border-secondary" *ngIf="hasExamsFisico()">
            <div class="card-header quitaPadding">
                Exámen Físico
            </div>
            <div id="HistPanelExamenFisico">
                <ng-container *ngFor="let it of historiaSel.examsfisicos">
                    <div class="row dato-adc-fila" *ngIf="it.valorreg">
                        <div class="col-md-4">
                            <span class="text-muted">{{it.cmtv_valor}}</span>
                        </div>
                        <div class="col-md-8">
                            <p>
                                {{it.valorreg}} <span class="badge bg-light">{{it.cmtv_unidad}}</span>
                            </p>
                        </div>
                    </div>
                </ng-container>
                <div class="row dato-adc-fila" *ngIf="historiaSel.datosconsulta.cosm_hallazgoexamfis">
                    <div class="col-md-4">
                        <span class="text-muted">Descripción de Hallazgos:</span>
                    </div>
                    <div class="col-md-8">
                        {{historiaSel.datosconsulta.cosm_hallazgoexamfis}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3">
            <div class="card-header quitaPadding">
                Diagnóstico
            </div>
            <div id="HistPanelDiagnostico">
                <div class="row dato-fila">
                    <div class="col-md-4">
                        <span class="text-muted">Diagnóstico:</span>
                    </div>
                    <div class="col-md-8">
                        {{historiaSel.datosconsulta.diagnosticos}}
                    </div>
                </div>

                <div class="row dato-fila">
                    <div class="col-md-4">
                        <span class="text-muted">Diagnóstico Alternativo:</span>
                    </div>
                    <div class="col-md-8">
                        {{historiaSel.datosconsulta.cosm_diagnosticoal}}
                    </div>
                </div>

                <div class="row dato-fila">
                    <div class="col-md-4">
                        <span class="text-muted">Tratamiento:</span>
                    </div>
                    <div class="col-md-8">
                        <p style="white-space: pre-line">{{historiaSel.datosconsulta.cosm_tratamiento}}</p>
                    </div>
                </div>
                <div class="row dato-fila">
                    <div class="col-md-4">
                        <span class="text-muted">Receta:</span>
                    </div>
                    <div class="col-md-8">
                        <p style="white-space: pre-line">{{historiaSel.datosconsulta.cosm_receta}}</p>
                    </div>
                </div>
                <div class="row dato-fila">
                    <div class="col-md-4">
                        <span class="text-muted">Indicaciones Receta:</span>
                    </div>
                    <div class="col-md-8">
                        <p style="white-space: pre-line">{{historiaSel.datosconsulta.cosm_indicsreceta}}</p>
                    </div>
                </div>
                <div class="row dato-fila">
                    <div class="col-md-4">
                        <span class="text-muted">Recomendaciones:</span>
                    </div>
                    <div class="col-md-8">
                        <p style="white-space: pre-line">{{historiaSel.datosconsulta.cosm_recomendaciones}}</p>
                    </div>
                </div>
                <div class="row dato-fila">
                    <div class="col-md-4">
                        <span class="text-muted">Fecha Próxima Cita:</span>
                    </div>
                    <div class="col-md-8">
                        {{historiaSel.datosconsulta.cosm_fechaproxcita}}
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="btn-group btn-group-sm" role="group"
                         aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button type="button"
                                    class="btn btn-outline-primary btn-sm dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Imprimir
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#" (click)="auximprime(1, $event)">
                                    <i class="fas fa-print"></i>Historia </a>
                                <a class="dropdown-item" href="#" (click)="auximprime(2, $event)">
                                    <i class="fas fa-print"></i>Receta </a>
                            </div>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button"
                                    class="btn btn-outline-primary btn-sm dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Editar
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#" (click)="auxEditaAnula(1, $event)">
                                    <i class="fas fa-edit"></i> Editar </a>
                                <a class="dropdown-item" href="#" (click)="auxEditaAnula(2, $event)">
                                    <i class="fas fa-trash"></i>
                                    Anular </a>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary" title="Ver ficha clínica" *ngIf="showFichaCli"
                                (click)="verFichaClinica()">
                            <i class="fas fas fa-stethoscope"></i>
                        </button>
                        <button class="btn btn-outline-primary" (click)="cerrarHistoriaAnt()">
                            <i class="fas fa-times"></i> Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
