<div>
    <div *ngIf="!(codpaciente>0)">
        <h4 class="text-muted"> Favor registre primero los datos del paciente </h4>
    </div>
    <div *ngIf="codpaciente>0">

        <div class="d-flex flex-row-reverse mb-2" style="margin-top: -40px">
            <div class="btn-group btn-group-sm" role="group" *ngIf="tipodontograma===1">
                <button id="thebutton" #thebutton type="button" class="btn btn-sm btn-outline-primary"
                    (click)="showModalProtesis()" title="Crear protesis fija, removible o total">
                    Crear Protesis
                </button>
                <button class="btn btn-sm btn-outline-primary" (click)="guardarOdontograma()">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Guardar Odontograma
                </button>
                <button class="btn btn-sm btn-outline-primary" (click)="showHideHisto()">
                    Historia
                </button>
            </div>
        </div>

        <div *ngIf="!isShowHisto">

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div id="tr" class="col-6 text-end">
                            <ng-container *ngFor="let diente of dentadura.A">
                                <app-grppiezadent [diente]="diente" [estilo]="allcssobj[diente.numero]"
                                    (ondntstatechange)="saveOdontoSilent()"
                                    (ongrpdntclic)="showModalPieza(diente)"></app-grppiezadent>
                            </ng-container>
                        </div>
                        <div id="tl" class="col-6">
                            <ng-container *ngFor="let diente of dentadura.B">
                                <app-grppiezadent [diente]="diente" [estilo]="allcssobj[diente.numero]"
                                    (ondntstatechange)="saveOdontoSilent()"
                                    (ongrpdntclic)="showModalPieza(diente)"></app-grppiezadent>
                            </ng-container>
                        </div>

                        <div id="br" class="col-6 text-end" style="padding-top: 30px">
                            <ng-container *ngFor="let diente of dentadura.C">
                                <app-grppiezadent [diente]="diente" [estilo]="allcssobj[diente.numero]"
                                    (ondntstatechange)="saveOdontoSilent()"
                                    (ongrpdntclic)="showModalPieza(diente)"></app-grppiezadent>
                            </ng-container>
                        </div>
                        <div id="bl" class="col-6" style="padding-top: 30px">
                            <ng-container *ngFor="let diente of dentadura.D">
                                <app-grppiezadent [diente]="diente" [estilo]="allcssobj[diente.numero]"
                                    (ondntstatechange)="saveOdontoSilent()"
                                    (ongrpdntclic)="showModalPieza(diente)"></app-grppiezadent>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 20px">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="obsOdontograma" class="fw-bold">Observación:</label>
                            <textarea id="obsOdontograma" class="form-control" rows="2" [(ngModel)]="obsodontograma"
                                placeholder="Ingrese una observación al odontograma">  </textarea>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th scope="col" width="6%">Pieza</th>
                                <th scope="col" width="88%">Diagnóstico</th>
                                <th scope="col" width="6%">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let itdiente of dentadura.A">
                                <tr *ngIf="isDienteModif(itdiente)">
                                    <td>
                                        {{itdiente.numero}}
                                    </td>
                                    <td>
                                        <app-diagnospieza [itdiente]="itdiente"></app-diagnospieza>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-dark"
                                            (click)="clearDienteCssTBLRC(itdiente)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngFor="let itdiente of dentadura.B">
                                <tr *ngIf="isDienteModif(itdiente)">
                                    <td>
                                        {{itdiente.numero}}
                                    </td>
                                    <td>
                                        <app-diagnospieza [itdiente]="itdiente"></app-diagnospieza>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-dark"
                                            (click)="clearDienteCssTBLRC(itdiente)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngFor="let itdiente of dentadura.C">
                                <tr *ngIf="isDienteModif(itdiente)">
                                    <td>
                                        {{itdiente.numero}}
                                    </td>
                                    <td>
                                        <app-diagnospieza [itdiente]="itdiente"></app-diagnospieza>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-dark"
                                            (click)="clearDienteCssTBLRC(itdiente)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngFor="let itdiente of dentadura.D">
                                <tr *ngIf="isDienteModif(itdiente)">
                                    <td>
                                        {{itdiente.numero}}
                                    </td>
                                    <td>
                                        <app-diagnospieza [itdiente]="itdiente"></app-diagnospieza>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-dark"
                                            (click)="clearDienteCssTBLRC(itdiente)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngFor="let protesis of protesisList">
                                <tr>
                                    <td>
                                        {{protesis.piezas}}
                                    </td>
                                    <td>
                                        Prótesis {{protesis.tipo}} ({{protesis.estado}}
                                        ): {{protesis.piezas}} {{protesis.retens.length > 0 ? ' - Retenedores:' +
                                        protesis.retens : ''}}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-dark"
                                            (click)="clearProtesis(protesis)"> <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="isShowHisto">
            <app-odontogramahistlist [codpac]="codpaciente" (evCerrarHisto)="showHideHisto()"></app-odontogramahistlist>
        </div>

        <div *ngIf="dienteSelected!=null">
            <p-dialog header="Pieza dental Nro: {{dienteSelected.numero}}" [modal]="true" [style]="{width: '90vw'}"
                [baseZIndex]="10000" (visibleChange)="onModalPiezaHide($event)" [(visible)]="modalPiezaVisible">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="row" style="margin-bottom: 6px">
                                    <div class="col">
                                        <div>
                                            <p class="quitaPaddingMargin">Obturado</p>
                                            <button type="button" class="btn {{cssSelectedTool(13)}} text-azul"
                                                title="Obturado" (click)="selectTool(13)">
                                                <div class="obturado"></div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <p class="quitaPaddingMargin">Caries</p>
                                            <button type="button" class="btn {{cssSelectedTool(14)}} text-rojo"
                                                (click)="selectTool(14)" title="Caries">
                                                <div class="caries"></div>
                                            </button>
                                            <button type="button" class="btn {{cssSelectedTool(17)}} text-rojo"
                                                (click)="selectTool(17)" title="Caries">
                                                <div class="cariesm"></div>
                                            </button>
                                            <button type="button" class="btn {{cssSelectedTool(16)}} text-rojo"
                                                (click)="selectTool(16)" title="Caries">
                                                <div class="cariesp"></div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush scrol-tools-diente">
                                    <li class="list-group-item hand" (click)="checkUncheckTool(1)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span class=" text-rojo">*</span>
                                                <span class="ms-2">
                                                    Sellante necesario
                                                </span>
                                            </div>
                                            <button class="btn " [ngClass]="cssMarkedTool(1)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item hand" (click)="checkUncheckTool(2)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span class="text-azul">*</span>
                                                <span class="ms-2">
                                                    Sellante realizado
                                                </span>
                                            </div>
                                            <button class="btn " [ngClass]="cssMarkedTool(2)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item hand" (click)="checkUncheckTool(3)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span class="text-rojo"><span class="fa fa-times text-danger"></span>
                                                </span>
                                                <span class="ms-2">
                                                    Extracción indicada
                                                </span>
                                            </div>
                                            <button class="btn" [ngClass]="cssMarkedTool(3)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item hand" (click)="checkUncheckTool(4)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span class="text-azul"><span class="fa-solid fa-xmark"></span></span>
                                                <span class="ms-2">
                                                    Pérdida por caries
                                                </span>
                                            </div>
                                            <button class="btn" [ngClass]="cssMarkedTool(4)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item hand" (click)="checkUncheckTool(6)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span>
                                                    <p class="endonecesaria"></p>
                                                </span>
                                                <span class="ms-2">
                                                    Endodoncia necesaria
                                                </span>
                                            </div>
                                            <button class="btn" [ngClass]="cssMarkedTool(6)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item hand" (click)="checkUncheckTool(7)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span>
                                                    <p class="endorealizada"></p>
                                                </span>
                                                <span class="ms-2">
                                                    Endodoncia realizada
                                                </span>
                                            </div>
                                            <button class="btn" [ngClass]="cssMarkedTool(7)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item hand" (click)="checkUncheckTool(11)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span class="text-rojo">
                                                    O
                                                </span>
                                                <span class="ms-2">
                                                    Corona necesaria
                                                </span>
                                            </div>
                                            <button class="btn" [ngClass]="cssMarkedTool(11)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item hand" (click)="checkUncheckTool(12)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span class="text-azul">O</span>
                                                <span class="ms-2">
                                                    Corona realizada
                                                </span>
                                            </div>
                                            <button class="btn" [ngClass]="cssMarkedTool(12)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item hand" (click)="checkUncheckTool(15)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span>Implante</span>
                                            </div>
                                            <button class="btn" [ngClass]="cssMarkedTool(15)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item hand" (click)="checkUncheckTool(18)">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <span>Diente sano</span>
                                            </div>
                                            <button class="btn" [ngClass]="cssMarkedTool(18)">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 border">
                            <div class="text-center">
                                <app-numpiezadent [diente]="dienteSelected"></app-numpiezadent>
                            </div>
                            <div class="row border-bottom">
                                <div class="col">
                                    <div class="text-center">
                                        <div class="contdiente-large" data-name="value"
                                            id="m_diente{{dienteSelected.numero}}" [title]="dienteSelected?.texto">
                                            <div class="mdiente-large">
                                                <div id="m_t{{dienteSelected.numero}}"
                                                    class="mcuadro-large marriba-large"
                                                    (click)="toggleClassTop(dienteSelected)"
                                                    [ngClass]="getCssClass(dienteSelected.t.estilos)">
                                                </div>
                                                <div id="m_l{{dienteSelected.numero}}"
                                                    class="mcuadro-large mizquierdo-large"
                                                    (click)="toggleClassLeft(dienteSelected)"
                                                    [ngClass]="getCssClass(dienteSelected.l.estilos)">
                                                </div>
                                                <div id="m_b{{dienteSelected.numero}}"
                                                    class="mcuadro-large mdebajo-large"
                                                    (click)="toggleClassBottom(dienteSelected)"
                                                    [ngClass]="getCssClass(dienteSelected.b.estilos)">
                                                </div>
                                                <div id="m_r{{dienteSelected.numero}}"
                                                    class="mcuadro-large mderecha-large"
                                                    (click)="toggleClassRight(dienteSelected)"
                                                    [ngClass]="getCssClass(dienteSelected.r.estilos)">
                                                </div>
                                                <div id="m_c{{dienteSelected.numero}}" class="mcentro-large"
                                                    (click)="toggleClassCenter(dienteSelected)"
                                                    [ngClass]="getCssClass(dienteSelected.c.estilos)">
                                                </div>
                                            </div>
                                            <div class="mfondodiente-large {{dienteSelected.classTapa}}"
                                                *ngIf="dienteSelected.tapaVisible">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <app-piezadental [diente]="dienteSelected"
                                        [estilo]="allcssobj[dienteSelected.numero]"></app-piezadental>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <span class="fw-bold text-{{estadoDienteBg}}"> {{getEstadoDiente(dienteSelected)}}
                                </span>
                            </div>
                            <div>
                                <app-diagnospieza [itdiente]="dienteSelected"></app-diagnospieza>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="obsPiezaDental">Observación:</label>
                                <textarea id="obsPiezaDental" class="form-control" rows="8"
                                    [(ngModel)]="dienteSelected.texto"
                                    placeholder="Ingrese una observación para esta pieza dental">  </textarea>
                            </div>
                            <button class="btn btn-sm btn-outline-dark" *ngIf="isDienteModif(dienteSelected)"
                                title="Borra todos los diagnósticos asociados a esta pieza dental"
                                (click)="clearDienteCssTBLRC(dienteSelected)"><i class="fa fa-eraser"></i> Limpiar
                            </button>
                        </div>
                    </div>
                </div>
                <p-footer>
                    <div class="row border-top">
                        <div class="col-md-3">
                            <div class="d-flex flex-row">
                                <div class="btn-group dropup">
                                    <button type="button" class="btn btn-{{estadoDienteBg}} dropdown-toggle"
                                        aria-expanded="false" data-bs-toggle="dropdown"> {{estadoDienteStr}} </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" *ngIf="showStateButtons[0]"
                                                (click)="changeState($event)" title="Marcar como tratamiento iniciado">
                                                <i class="fa fa-teeth-open"></i> Iniciar
                                                Tratamiento </a></li>
                                        <li><a class="dropdown-item" href="#" *ngIf="showStateButtons[1]"
                                                title="Marcar como tratamiento finalizado"
                                                (click)="changeState($event)"> Tratamiento Realizado </a></li>
                                        <li><a class="dropdown-item" href="#" *ngIf="showStateButtons[2]"
                                                title="Marcar como tratamiento externo"
                                                (click)="changeStateExt($event)"> Tratamiento Externo </a></li>
                                        <li><a class="dropdown-item" href="#" *ngIf="showStateButtons[3]"
                                                title="Limpiar" (click)="changeStateClear($event)"> Limpiar </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 d-flex flex-row justify-content-center">
                            <button class="btn btn-outline-primary" (click)="backDiente()">
                                <i class="fas fa-angle-left"></i> Anterior
                            </button>
                            <button class="btn btn-outline-primary" (click)="nextDiente()"> Siguiente
                                <i class="fas fa-angle-right"></i>
                            </button>
                        </div>
                        <div class="col-md-2 d-flex flex-row justify-content-end">
                            <button class="btn btn-outline-dark" (click)="cerrarDialogDiente()">Cerrar</button>
                        </div>
                    </div>
                </p-footer>
            </p-dialog>
        </div>

        <p-dialog header="Registro de prótesis" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
            [(visible)]="modalCreaProtesis">
            <div class="container-fluid">
                <div class="d-flex flex-row">
                    <span class="me-2">Tipo:</span>
                    <p-selectButton [options]="tiposProtesis" [(ngModel)]="tipoProtesisSel" optionLabel="label"
                        optionValue="value" (onChange)="onTipoProtesisChange($event)"></p-selectButton>
                </div>
                <div class="d-flex flex-row" *ngIf="tipoProtesisSel">
                    <span class="me-2">Estado:</span>
                    <p-selectButton [options]="estadosProtesis" [(ngModel)]="estadoProtesisSel" optionLabel="label"
                        optionValue="value" (onChange)="onEstadoProtesisSel($event)"></p-selectButton>
                </div>
                <div class="d-flex flex-row" *ngIf="estadoProtesisSel">
                    <span class="me-2">Zona:</span>
                    <p-selectButton [options]="zonasProtesis" [(ngModel)]="zonaProtesisSel" optionLabel="label"
                        optionValue="value" (onChange)="onZonaProtChange($event)"></p-selectButton>
                </div>

                <div *ngIf="zonaProtesisSel">
                    <div *ngIf="tipoProtesisSel<=2">
                        <div class="mt-3 d-flex justify-content-between">
                            <span class="fw-bold">Seleccione las piezas dentales de la prótesis:</span>
                            <button class="btn bt-sm btn-outline-primary" (click)="limpiarSelProtesis()">
                                <i class="fas fa-eraser"></i> Limpiar
                            </button>
                        </div>
                        <div *ngIf="tipoProtesisSel===2">
                            <p-selectButton [options]="tiposPiezas" [(ngModel)]="tipoPiezaSel" optionLabel="label"
                                optionValue="value"></p-selectButton>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center mt-2">
                        <div class="d-flex align-items-center justify-content-center border rounded piezaforprot noselect hand {{it.sel?
                (it.tipo===1?(estadoProtesisSel===1?'border-primary piezaforprotsel':'piezaforprotxdosel'):'piezaretforprotsel'):''}} "
                            (mousedown)="onMouseDownProtDiente(it)" (mouseover)="onMouseOverProtDiente(it)"
                            (mouseup)="onMouseUpProtDiente(it)" *ngFor="let it of dientesProtesis">
                            <span class="fw-bold">{{it.value}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="d-flex flex-row justify-content-center">
                    <button *ngIf="dientesProtesisMarked()" class="btn btn-outline-primary me-2"
                        (click)="creaProtesis()">
                        <i class="fas fa-save"></i> Crear Protesis
                    </button>
                    <button class="btn btn-outline-dark" (click)="closeModalProtesis()">Cancelar</button>
                </div>
            </p-footer>
        </p-dialog>

    </div>
</div>