<app-loading *ngIf="showAnim"></app-loading>

<div *ngIf="!showAnim">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3">
                    <span class="fw-normal fontsizenr">Tipo:</span>
                </div>
                <div class="col-md">
                    <span class="fw-bold  fontsizenr">{{doc.tasiento.tra_nombre}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="fw-normal fontsizenr">Número:</span>
                </div>
                <div class="col-md">
                    <span class="fw-bold  fontsizenr">{{doc.tasiento.trn_compro}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="fw-normal fontsizenr">Fecha:</span>
                </div>
                <div class="col-md">
                    <span class="fw-bold fontsizenr">{{doc.tasiento.trn_fecreg}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="fw-normal fontsizenr">Estado:</span>
                </div>
                <div class="col-md">
                    <span class="fw-bold fontsizenr">{{doc.tasiento.estado}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3">
                    <span class="fw-normal fontsizenr">Referente:</span>
                </div>
                <div class="col-md">
                    <span class="fw-bold fontsizenr">{{doc.tasiento.referente}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="fw-normal fontsizenr">Ci/Ruc:</span>
                </div>
                <div class="col-md">
                    <span class="fw-bold fontsizenr">{{doc.tasiento.per_ciruc}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="fw-normal fontsizenr">Telf:</span>
                </div>
                <div class="col-md">
                    <span class="fw-bold fontsizenr">{{doc.tasiento.per_telf}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="fw-normal fontsizenr">Dirección:</span>
                </div>
                <div class="col-md">
                    <span class="fw-bold fontsizenr">{{doc.tasiento.per_direccion}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <span class="fw-normal fontsizenr">Creado por: </span>
            </div>
            <div>
                <span class="fw-bold fontsizenr">{{doc.tasiento.us_cuenta}}</span>
                <span class="fw-normal fontsizenr"> el </span>
                <span class="fw-bold fontsizenr">{{doc.tasiento.trn_fecha}}</span>
            </div>
        </div>
    </div>
    <div class="mt-1">
        <app-detfactview [detalles]="doc.detalles"></app-detfactview>
    </div>

    <div class="mt-1">
        <div class="row">
            <div class="col-md-5">
                <div>
                    <span class="fw-normal">Observación:</span>
                </div>
                <p class="text-muted" *ngIf="doc.tasiento.trn_observ.length===0"> No registra observación </p>
                <p *ngIf="doc.tasiento.trn_observ.length>0" style="white-space: pre-line"
                   class="fontsizenr fw-normal">{{doc.tasiento.trn_observ}}</p>
            </div>
            <div class="col-md-3 border">
                <div>
                    <span class="text-muted">PAGOS:</span>
                </div>
                <div class="d-flex flex-column">
                    <div class="row" *ngFor="let pago of doc.pagos">
                        <div class="col-md-7">
                            <span class="fw-bold fontsizenr">{{pago.ic_nombre}} $:</span>
                        </div>
                        <div class="col-md-5">
                            <span class="fw-bold text-success">{{pago.dt_valor|number:'.2'}}</span>
                        </div>
                    </div>
                    <div class="row" *ngIf="doc?.pagosdoc && doc?.pagosdoc.credito>0">
                        <div class="col-md-7">
                            <span class="fw-bold fontsizenr">SALDO PENDIENTE$:</span>
                        </div>
                        <div class="col-md-5">
                            <span class="fw-bold text-success">{{doc?.pagosdoc.saldopend|number:'.2'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border">
                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col-md-8"><span class="fw-bold fontsizenr">Subtotal $:</span></div>
                        <div class="col-md"><span
                                class="fw-bold fontsizenr"> {{doc.totales.subtotal|number:'.2'}} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <span class="fw-bold fontsizenr">(-)Descuento $:</span>
                        </div>
                        <div class="col-md">
                            <span class="fw-bold fontsizenr"> {{doc.totales.descuentos|number:'.2'}} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                                <span class="fw-bold fontsizenr">(+)Iva {{doc.tasiento.trn_impref * 100}}%
                            de ${{doc.totales.subtotal12}}:</span>
                        </div>
                        <div class="col-md">
                            <span class="fw-bold fontsizenr"> {{doc.totales.iva|number:'.2'}} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <span class="fw-bold">Total $:</span>
                        </div>
                        <div class="col-md">
                            <span class="fw-bold"> {{doc.totales.total|number:'.2'}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" *ngIf="showBtns">
        <div class="d-md-flex justify-content-between">
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-sm btn-outline-primary" [disabled]="isLoading"
                        (click)="anular()" *ngIf="isPermAnul"><i
                        class="fa fa-trash"></i> Anular
                </button>
                <button class="btn btn-sm btn-outline-primary me-md-1" [disabled]="isLoading"
                        (click)="editar()" *ngIf="isPermAnul"><i
                        class="fa fa-edit"></i> Editar
                </button>
            </div>

            <div class="d-flex flex-row-reverse">
                <button class="btn btn-sm btn-outline-primary ms-2" [disabled]="isLoading" (click)="onCloseClick()"><i
                        class="fa fa-times"></i> Cerrar
                </button>
                <button class="btn btn-sm btn-outline-primary" [disabled]="isLoading" *ngIf="isShowImprimir"
                        (click)="imprimir()"><i
                        class="fa fa-print"></i> Imprimir
                </button>
            </div>
        </div>
    </div>

</div>

