<div>
    <div class="card">
        <div class="card-body">
            <div *ngIf="!isShowAnim && isFacturaLoaded">
                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-3">
                                <span class="fw-normal fontsizenr">Nro:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold  fontsizenr">{{datosFactura.tasiento.trn_compro}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <span class="fw-normal fontsizenr">Tipo:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold  fontsizenr">{{datosFactura.tasiento.tra_nombre}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <span class="fw-normal fontsizenr">Fecha registro:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold  fontsizenr">{{datosFactura.tasiento.trn_fecha}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="fw-normal fontsizenr">Estado:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold  fontsizenr">{{datosFactura.tasiento.estado}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="fw-normal fontsizenr">Referente:</span>
                            </div>
                            <div class="col-md">
                                <span class="fw-bold  fontsizenr">{{datosFactura.tasiento.referente}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span class="fw-normal fontsizenr">Observación:</span>
                            </div>
                            <div class="col-md">
                                <p style="white-space: pre-line"
                                   class="fontsizenr fw-normal">{{datosFactura.tasiento.trn_observ}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div *ngIf="datosCredito.cre_saldopen===0">
                            <p class="text-success">
                                <span class="fa fa-check" style="font-size: 1rem"></span> El crédito ya ha sido
                                cancelado en su totalidad
                            </p>
                        </div>
                        <div>
                            <span class="fw-normal">Total crédito:</span>
                            <span *ngIf="isTransaccFact"
                                  class="ms-3 fw-bold">${{datosFactura.pagosobj.credito|number:'.2'}}</span>
                            <span *ngIf="!isTransaccFact"
                                  class="ms-3 fw-bold">${{datosCredito.dt_valor|number:'.2'}}</span>
                        </div>
                        <div>
                            <span class="fw-normal">Total abonos:</span>
                            <span class="ms-3 fw-bold">${{totalabonos|number:'.2'}}</span>
                        </div>

                        <div class="d-flex mt-1">
                            <div class="p-2 border border-2 d-flex flex-row rounded {{datosCredito.cre_saldopen>0?'bg-warning':'bg-success'}}">
                                <span class="fw-bold {{datosCredito.cre_saldopen>0?'':'text-white'}}"> Saldo Pendiente: </span>
                                <span class="fw-bolder ms-2 {{datosCredito.cre_saldopen>0?'':'text-white'}}"> ${{datosCredito.cre_saldopen|number:'.2'}} </span>
                            </div>
                        </div>

                        <div class="mt-2">
                            <button class="btn btn-sm btn-outline-primary" title="Ver detalles de la transacción"
                                    (click)="showFactura()">Ver detalles <i class="fas fa-eye"></i>
                            </button>

                            <button class="ms-md-3 btn btn-sm btn-outline-primary"
                                    title="Registrar un nuevo abono para este crédito"
                                    *ngIf="datosCredito.cre_saldopen>0 && !isShowFormAbonar"
                                    (click)="showFormAbonar()"> Abonar <i class="fas fa-arrow-circle-down"></i>
                            </button>

                            <button class="ms-md-3 btn btn-sm btn-outline-secondary"
                                    title="Cerrar"
                                    (click)="cerrarView()"> Cerrar <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mt-1" *ngIf="isTransaccFact">
                    <app-detfactview [detalles]="datosFactura.detalles"></app-detfactview>
                    <div class="d-flex flex-row-reverse">
                        <span class="fontsizesm fw-bold">TOTAL: ${{datosFactura.totales.total|number:'.2'}}</span>
                    </div>
                </div>

                <div class="mt-2 p-2 border border-primary rounded" *ngIf="isShowFormAbonar">
                    <div class="mb-2">
                        <h6 class="fw-bold">Registrar nuevo abono</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row ">
                                <div class="col-md-4">
                                    <span class="fw-bold">Fecha abono: </span>
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" [(ngModel)]="formAbono.formcab.trn_fecreg"
                                           disabled>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-4">
                                    <span class="fw-bold">Saldo pendiente: </span>
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" [(ngModel)]="saldopendiente" disabled>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-4">
                                    <span class="fw-bold"> Caja Afectada: </span>
                                </div>
                                <div class="col-md">
                                    <p-dropdown [options]="pagosef" optionLabel="ic_nombre"
                                                styleClass="form-control form-control-sm fw-bold"
                                                filter="true"
                                                optionValue="ic_id"
                                                placeholder="Seleccione la caja afectada"
                                                [showClear]="false"
                                                [(ngModel)]="ctaCodigoCaja"></p-dropdown>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-4">
                                    <span class="fw-bold">Monto a abonar: </span>
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" [(ngModel)]="valorabono"
                                           (keyup)="onValorAbonoChange($event)" (focusin)="$event.target.select()"
                                           id="montoaboinput">
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div>
                            <textarea placeholder="Ingrese una observación para este abono" class="form-control"
                                      [(ngModel)]="formAbono.formcab.trn_observ" rows="4"
                                      autocomplete="off"
                                      id="abo_trn_observ" maxlength="1000"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center m-2">
                        <button class="btn btn-outline-primary" (click)="guardarAbono()"><i
                                class="fa fa-save"></i> Guardar
                        </button>
                        <button class="ms-md-3 btn btn-outline-secondary" (click)="cancelarGuardaAbono()"><i
                                class="fa fa-times"></i> Cancelar
                        </button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md">
                        <div class="table-responsive " *ngIf="abonosList.length>0">
                            <p class="quitaPaddingMargin fw-bold">Abonos realizados <span
                                    class="badge text-bg-primary">{{abonosList.length}}</span>:</p>
                            <table class="table table-sm table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <span class="fontsizesm">#</span>
                                    </th>
                                    <th scope="col">
                                        <span class="fontsizesm">Fecha</span>
                                    </th>
                                    <th scope="col">
                                        <span class="fontsizesm">Monto</span>
                                    </th>
                                    <th scope="col">
                                        <span class="fontsizesm">
                                            Observación
                                        </span>
                                    </th>
                                    <th scope="col">

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- editado -->
                                <tr *ngFor="let abo of abonosList" class="hand">
                                    <td>
                                        <span class="fontsizesm">
                                        {{abonosList.indexOf(abo) + 1}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="fontsizesm">
                                            {{abo.trn_fecha}}</span>
                                    </td>
                                    <td>
                                        <span class="fontsizesm">
                                            {{abo.dt_valor}}</span>
                                    </td>
                                    <td>
                                        <p class="fontsizesm" style="white-space: pre-line">
                                            {{abo.trn_observ}}
                                        </p>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-primary" (click)="anularAbono(abo)"
                                                title="Anular abono"><i
                                                class="fa fa-trash"></i></button>

                                        <button class="btn btn-sm btn-outline-primary" (click)="imprimirAbono(abo)"
                                                title="Imprimir Abono"><i
                                                class="fa fa-print"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="quitaPaddingMargin p-1">
                                        <div class="d-flex flex-row-reverse">
                                            <span class="fw-bold"> Total:</span>
                                        </div>
                                    </td>
                                    <td class="quitaPaddingMargin p-1">
                                        <span class="fw-bold">${{totalabonos}}</span>
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <app-loading *ngIf="isShowAnim || !isFacturaLoaded"></app-loading>

        </div>
    </div>
</div>


<p-dialog header="Detalles del documento" [modal]="true" [style]="{width: '95vw'}" [baseZIndex]="10000"
          [(visible)]="isShowFactura">
    <app-facturaview [trncod]="codFactura" (evBtnClosed)="closeDetallesFact()"
                     (evFacturaLoaded)="onFacturaLoaded($event)"></app-facturaview>
</p-dialog>

<p-dialog header="Detalles del asiento" [style]="{width: '95vw'}" [autoZIndex]="false"
          [modal]="true"
          [closeOnEscape]="true"
          [(visible)]="isShowAsiento">
    <app-asientoview [trncod]="codFactura" (evCerrar)="hideDetAsi()"></app-asientoview>
</p-dialog>

