/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/*Estilos agregados de la pagin del blog*/
body {
    font-size: 17px;
    color: #212529;
    font-family: 'Poppins', 'Times New Roman', serif !important;
}

body, html {
    height: 100%;
    margin: 0;
}

.globalwrapper {
    min-height: 100%;
    margin-bottom: -70px;
}

.push {
    height: 80px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

a {
    color: #212529;
    transition: all 0.2s;
}

a:focus, a:hover {
    color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
    border-top: 1px solid #dee2e6;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
}

.ui-table table {
    table-layout: auto !important;
}

.required {
    color: #f21d00;
}

.hand {
    cursor: pointer;
}

.fusay-table {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

.form-rounded {
    border-radius: 1rem !important;
}

.justificado {
    text-align: justify;
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

.quitaPadding {
    padding: 0px !important;
}

.quitaPaddingMargin {
    padding: 0px !important;
    margin: 0px !important;
}

.quitaPaddingTB {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.quitaPaddingLR {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.quitaPaddingR {
    padding-right: 0px !important;
}


.colormavil {
    color: #9D1F63 !important;
    border-color: #9D1F63 !important;
}

.colormavil:hover {
    color: #FFFFFF !important;
    /*background-color: #9D1F63 !important;;*/
    background-image: linear-gradient(to right, #9D1F63, #D91C5C);
}

.imgscaled {
    transform: scale(0.4);
}

.imgmavilpie {
    width: 214px !important;
    height: 116px !important;
}

.azulmavil {
    background-color: #1C75BB !important;
}





