<div *ngIf="!isShowFormCreaFact && !isShowDetallesCredito">
    <div class="card rounded mt-2">
        <div class="m-1 d-flex justify-content-between">
            <span class="font-weight-light">Facturas
                <span *ngIf="facturasList.length>0">({{facturasList.length}})</span>
            </span>

            <button class="btn btn-outline-primary btn-sm" (click)="showFormCreaFact(7, $event)" *ngIf="clase===2">
                <i class="fa fa-plus-circle"></i> Crear
            </button>

            <div class="ml-1 btn-group btn-group-sm dropright" *ngIf="clase===1">
                <button type="button" class="btn btn-outline-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus-circle"></i> Crear
                </button>
                <div class="dropdown-menu" style="">
                    <a href="#" class="dropdown-item" (click)="showFormCreaFact(1, $event)"> Factura </a>
                    <a href="#" class="dropdown-item" (click)="showFormCreaFact(2, $event)"> Nota de venta </a>
                </div>
            </div>

        </div>
        <!--<div class="card-body">-->
        <app-loading *ngIf="loadingFacturas"></app-loading>
        <div *ngIf="!loadingFacturas">
            <div class="table-responsive" *ngIf="facturasList.length>0">
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 5%"><span class="fontsizesm">#</span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Fecha </span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Nro </span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Efectivo </span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Crédito </span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Observación </span></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fila of facturasList" class="hand" (click)="showDetallesFactura(fila)">
                        <th scope="row" style="width: 5%">
                            <span class="fontsizesm">
                            {{facturasList.indexOf(fila) + 1}}
                            </span>
                        </th>
                        <td>
                            <span class="fontsizesm">
                                {{fila.trn_fecreg}} </span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.trn_compro}} </span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.efectivo}} </span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.credito}} </span>
                        </td>
                        <td>
                            <span class="fontsizesm">{{fila.trn_observ}}</span>
                        </td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" *ngIf="facturasList.length===0">
                <div class="p-5 d-flex justify-content-center">
                    <h2 class="text-muted"> No registra facturas </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="card rounded mt-3 mb-3" *ngIf="creditosList.length>0">
        <div class="m-1">
            <span class="font-weight-light">
                Cuentas por {{clase === 1 ? 'cobrar' : 'pagar'}} <span
                    *ngIf="creditosList.length>0">({{creditosList.length}})</span>
            </span>
        </div>

        <app-loading *ngIf="loadingCreditos"></app-loading>

        <div *ngIf="!loadingCreditos">
            <div *ngIf="creditosList.length>0" class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 5%">
                            <span class="fontsizesm">
                                #</span></th>
                        <th scope="col">
                            <span class="fontsizesm">
                                Fecha </span></th>
                        <th scope="col"><span class="fontsizesm"> Nro factura </span></th>
                        <th scope="col"><span class="fontsizesm"> Observación </span></th>
                        <th scope="col"><span class="fontsizesm"> Total Crédito </span></th>
                        <th scope="col"><span class="fontsizesm"> Saldo Pendiente </span></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fila of creditosList" class="hand" (click)="showDetallesCredito(fila)">
                        <th scope="row" style="width: 5%">
                            <span class="fontsizesm">
                            {{creditosList.indexOf(fila) + 1}}
                            </span>
                        </th>
                        <td>
                            <span class="fontsizesm">
                                {{fila.trn_fecreg}}</span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.trn_compro}}</span>
                        </td>
                        <td>
                            <span class="fontsizesm">{{fila.trn_observ}}</span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.dt_valor}}</span>
                        </td>
                        <td>
                            <span class="fontsizesm">
                                {{fila.cre_saldopen}} </span>
                        </td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="d-flex flex-row-reverse">
                                <span class="font-weight-bold">TOTAL:</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="font-weight-bold">{{totalescred.totalcred}}</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="font-weight-bold">{{totalescred.totalsalpend}}</span>
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body" *ngIf="creditosList.length===0">
                <div class="p-5 d-flex justify-content-center">
                    <h2 class="text-muted">No registra créditos</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShowFormCreaFact" class="mt-2">
    <app-facturasform [tracodigo]="tracodigofact" [tdvcodigo]="tdvcodigofact"
                      [form]="formfact" [showbuttons]="true" [showreferente]="false"
                      [showtitulo]="true" [showtotales]="true" (evTotalesUpd)="onTotalUpdated($event)"
                      (evCancela)="oncancelarCreaFact($event)"
                      (evFormLoaded)="onformloaded($event)"
                      (evGuardarOk)="onguardarFact($event)">
    </app-facturasform>
</div>

<div *ngIf="isShowDetallesFactura">
    <p-dialog header="Detalles del documento" [modal]="true" [style]="{width: '90vw'}" [baseZIndex]="10000"
              [(visible)]="isShowDetallesFactura">
        <app-facturaview [trncod]="codFacturaSel" (evBtnClosed)="closeModalFact()"></app-facturaview>
    </p-dialog>
</div>

<div *ngIf="isShowDetallesCredito" class="border mt-2 p-2 shadow-sm">
    <app-abonosview [codCredito]="credsel.cre_codigo" [codFactura]="credsel.trn_codigo"
                    (evDeudaChange)="onDeudasChange($event)"></app-abonosview>
    <div class="mt-4 text-center">
        <button class="btn btn-outline-secondary" (click)="hideDetCredito()"><i class="fa fa-times"></i> Cerrar</button>
    </div>
</div>
