.footer{
    margin-top: 15px;
    padding: 13px 0px;
    /*position: absolute;
    bottom: 0px;*/
    width: 100%;
    background-color: #F3F4F7 !important;
    border-top: solid 1px #e2e3e6;
    font-size: 12px;
}