<h1 class="bd-title">
    <i class="fa-solid fa-ticket"></i>
    Tikets</h1>
<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>

<div *ngIf="!isLoading">
    <div class="row mb-3">
        <div class="col-md-3">
            <app-rangofechas [form]="form"
                             (evDesdeChange)="onDesdeChange($event)"
                             (evHastaChange)="onHastaChange($event)"
                             (evFilterSel)="onTipoFiltroChange()">
            </app-rangofechas>
        </div>
        <div class="col-md-5">
            <div>
                <p class="quitaPaddingMargin fw-light">Tipo:</p>
                <div class="p-fluid">
                    <p-multiSelect [options]="servicios" [(ngModel)]="selectedServices" [filter]="false"
                                   placeholder="Filtrar por tipo de servicio"
                                   optionLabel="ic_nombre" optionValue="ic_id"></p-multiSelect>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <p class="quitaPaddingMargin fw-light">Sección:</p>
                <div class="p-fluid">
                    <p-dropdown [options]="secciones" [(ngModel)]="selectedSection" (onChange)="loadGrid()"
                                optionLabel="sec_nombre"
                                optionValue="sec_id">
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex justify-content-between align-items-end">

                <button type="button" class="btn btn-outline-dark" (click)="loadGrid()">
                    <i class="fa-solid fa-search"></i> Buscar
                </button>
                <button type="button" class="btn btn-outline-primary" (click)="nuevo()">
                    <i class="fa-solid fa-plus"></i> Crear
                </button>

        </div>
    </div>

    <p-table [value]="items" [paginator]="true" [rows]="rows" selectionMode="single" [(selection)]="selectedItem"
             (onRowSelect)="onRowSelect($event)"
             paginatorPosition="top"
             [(first)]="page"
             [responsive]="true"
             [autoLayout]="false"
             [resizableColumns]="true"
             tableStyleClass="table table-hover table-striped table-bordered fusay-table"
             [(contextMenuSelection)]="selectedItem"
             [contextMenu]="cm"
             (onRowUnselect)="onUnRowSelect($event)">
        <ng-template pTemplate="paginatorleft">
            Total de registros: {{ items.length }}
        </ng-template>
        <ng-template pTemplate="paginatorright">
            Página {{ items.length > 0 ? Math.floor(page / rows) + 1 : 0 }} de {{ Math.ceil(items.length / rows) }}
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let item of cols" [pSortableColumn]="item.field" [ngSwitch]="item.field"
                    [width]="item.width">
                    {{item.label}}
                    <p-sortIcon [field]="item.field"></p-sortIcon>
                </th>
                <th>
                    Acción
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" (dblclick)="onRowDblClick(rowData)">
                <td *ngFor="let item of cols">
                    <span class="p-column-title">{{item.label}}</span>
                    <span class="fontsizesm">
                    {{rowData[item['field']]}}
                    </span>
                </td>
                <td>
                    <button class="btn btn-sm btn-outline-dark" (click)="verDetalles(rowData)" title="Ver Detalles">
                        <i class="fa fa-eye"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td [colSpan]="cols.length-1">
                    <span class="fw-bold">Total:  </span>
                </td>
                <td>{{total}}</td>
                <td></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="cols.length+1">
                    <span class="text-muted">No hay registros</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-contextMenu #cm [model]="itemsCtxMenu"></p-contextMenu>

<p-dialog header="Detalles del ticket" [modal]="true" [style]="{width: '70vw'}" [autoZIndex]="true"
          [(visible)]="isShowDetTk">
    <app-ticketview #ticketView [tkid]="tksel.tk_id" (evCerrar)="closeModalTicket()" (evReload)="loadGrid()"></app-ticketview>
    <ng-template pTemplate="footer">
        <div class="mt-3 d-flex justify-content-between">
            <div class="d-flex" *ngIf="!ticketView.isLoading && !ticketView.isEdit">
                <button class="btn btn-outline-primary me-md-1" (click)="ticketView.doDelete()"><i class="fa fa-trash"></i> Anular
                </button>
                <button class="btn btn-outline-primary me-md-1" (click)="ticketView.doPrint()"><i class="fa fa-print"></i> Imprimir
                </button>
                <button class="btn btn-outline-primary" (click)="ticketView.editar()"><i class="fa fa-edit"></i> Editar
                </button>
            </div>
            <div class="d-flex" *ngIf="ticketView.isEdit">
                <button class="btn btn-outline-primary me-md-1" (click)="ticketView.actualizar()"><i class="fa-solid fa-floppy-disk"></i>
                    Actualizar
                </button>
                <button class="btn btn-outline-primary" *ngIf="ticketView.isEdit" (click)="ticketView.cancelEdit()">Cancelar
                </button>
            </div>

            <button class="btn btn-outline-primary" (click)="ticketView.doCerrar()"><i class="fa-solid fa-xmark"></i> Cerrar</button>
        </div>
    </ng-template>
</p-dialog>

