<div class="row">
    <div class="col-md-4">
        <h4>Tickets</h4>
    </div>
    <div class="col d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Default button group">
            <button type="button" class="btn btn-outline-success" (click)="nuevo()">
                <i class="fa fa-plus-circle"></i>
                Crear
            </button>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <p-calendar showButtonBar="true" [(ngModel)]="dia" (onSelect)="loadGrid()" [showIcon]="true"
                    dateFormat="dd/mm/yy"></p-calendar>
    </div>
</div>
<br>
<!--Formulario de creacion de registro -->
<p-table [value]="items" [paginator]="true" [rows]="50" selectionMode="single" [(selection)]="selectedItem"
         (onRowSelect)="onRowSelect($event)"
         [autoLayout]="true"
         [resizableColumns]="true"
         [(contextMenuSelection)]="selectedItem"
         [contextMenu]="cm"
         (onRowUnselect)="onUnRowSelect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let item of cols" [pSortableColumn]="item.field" [ngSwitch]="item.field">
                {{item.label}}
                <p-sortIcon [field]="item.field"></p-sortIcon>
            </th>
            <th>
                Acción
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
            <td *ngFor="let item of cols">
                {{rowData[item['field']]}}
            </td>
            <td>
                <button class="btn btn-sm btn-outline-dark" (click)="imprimirRow(rowData)" title="Imprimir">
                    <i class="fa fa-print"></i>
                </button>
                <button class="btn btn-sm btn-outline-dark" (click)="anularRow(rowData)" title="Anular">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><span>Total:  </span></td>
            <td>{{total}}</td>
            <td></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="cols.length+1">
                <span class="text-muted">No hay registros</span>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-contextMenu #cm [model]="itemsCtxMenu"></p-contextMenu>
