<!--<h5>Próximos eventos</h5>-->

<div>
  <img  class="img-fluid" src="assets/publicidadCongresofeb-min.jpeg" alt="I CONGRESO INTERNACIONAL SOBRE FORMAS DE CONVIVENCIA ENTRE LA MEDICINA OCCIDENTAL Y ANDINA" />
</div>

<div class="card border-success">
  <div class="card-body">
<!--
  <h1 class="display-5 centrado"> I CONGRESO INTERNACIONAL SOBRE FORMAS DE CONVIVENCIA ENTRE LA MEDICINA OCCIDENTAL Y ANDINA  </h1>
  -->



  <p class="lead text-justify">
    La Fundación Salud y Vida Nueva, con el apoyo de Centro Yachac (Chile) y el aval de varias universidades
    del Ecuador, tienen el honor de invitarle a usted
    al primer congreso internacional sobre formas de convivencia entre la medicina occidental y andina.
    </p>
  <hr class="my-4">
  <div class="row fuente">
    <div class="col-md">
      <div>
        <i class="fa fa-map-marker"></i>
        <b> Lugar:</b>
        <ul>
          <li>
            <b>Evento académico:</b><br>
            Centro de Eventos Jampi Wasi - Saraguro-Loja-Ecuador
          </li>
          <li>
            <b>Evento dancístico:</b><br>
            Centro Ceremonial Yachay Wasi (Comunidad de Ilincho, Barrio: San Vicente)
          </li>
        </ul>

      </div>

    </div>
    <div class="col-md">
      <div>
        <i class="fa fa-calendar"></i>
        <b> Fechas:</b>
        <ul>
          <li> <b>Evento académico:</b> <br>
            24, 25 de Septiembre de 2020</li>
          <li> <b>Evento dancístico:</b> <br>
            26 y 27 de Septiembre de 2020</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="text-center">
    <a class="btn btn-outline-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSerSyw7aEOfMbUNivl19CjQC_F3rYopCr8acOAQexhQEd1Uog/viewform?usp=sf_link" target="_blank" role="button">
      Regístrame como participante</a>
    &nbsp;&nbsp;
    <a class="btn btn-outline-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSff0F52-K4VZzhj7V9s6mPrKXlxjfzTvPUEFMO2piwg2FfLhg/viewform?usp=sf_link" target="_blank" role="button">
      Inscribir mi ponencia</a>
  </div>
  </div>

</div>
<br>
<br>

<h2>
  OBJETIVOS:</h2>
<div class="card border-success fuente">
  <div class="card-body mj">
    <b>  Objetivo Global</b>
    <div class="mj">
      <ul>
    <li class="text-justify">
      Revitalizar y fortalecer el diálogo de saberes entre la medicina occidental y la medicina andina.
    </li>
  </ul>

    </div>
    <b>  Objetivos Específicos</b>
    <ul>
      <li class="text-justify">
        Debatir con los médicos y agentes de salud en medicina tradicional sobre los métodos, protocolos
        para el tratamiento de enfermedades catastróficas.
      </li>
      <li class="text-justify">
        Valorar el rol de las plantas de poder en el tratamiento de enfermedades catastróficas.
      </li>
      <li class="text-justify">
        Determinar los cuidados y el papel de la familia en el tratamiento de enfermedades catastóficas.
      </li>
      <li class="text-justify">
        Examinar la medicina alternativa y la medicina convencional en el tratamiento de enfermedades catastróficas.
      </li>
      <li class="text-justify">
        Realizar un evento anual que convoque a expertos y expertas en mecicina tradicional y occidental
        que han curado, tratado enfermedades catastróficas (patologías osteoarticulares y cáncer).
      </li>
    </ul>
  </div>
</div>
<br>
<br>
<h2>EJES DE TRABAJO - LÍNEAS TEMÁTICAS:</h2>
<div class="card border-success fuente">
  <div class="card-body">
    En este año las ponencias y participantes girarán en torno a las enfermedades catastróficas.
    <br>Las líneas temáticas para este evento son:
    <br><br>
    <ol>
      <li value="1" class="text-justify">Métodos, protocolos para el tratamiento de enfermedades catastróficas.</li>
      <li class="text-justify">El rol de las plantas de poder en el tratamiento de enfermedades catastróficas.</li>
      <li class="text-justify">Los cuidados y el papel de la familia en el tratamiento de enfermedades catastróficas.</li>
      <li class="text-justify">La medicina alternativa y la medicina convencional en el tratamiento de enfermedades catastróficas.</li>
    </ol>
  </div>
</div>
<br><br>
<h2>DIRIGIDOS A:</h2>
<div class="card border-success fuente">
  <div class="card-body mj">
      <ul>
        <li class="text-justify">Agentes de salud (taitas, yachacs, terapistas alternativos, otros) y público en general</li>
        <li class="text-justify">Profesionales del área de salud (médicos generales, especialistas, enfermeras, auxiliares de enfermería)</li>
        <li class="text-justify">Asistentes extranjeros.</li>
        <li class="text-justify">Estudiantes de las facultades de medicina.</li>
      </ul>
  </div>
</div>

<br><br>
<h2>MODALIDADES DEL CONGRESO:</h2>
<div class="card border-success fuente">
  <div class="card-body">
      <p>
        Los participantes del evento pueden ser <i><b>ponentes</b></i> o <b><i>asistentes</i></b>
      </p>
    <p class="text-justify">
      La <i><b>ponencias</b></i> serán calificadas por el comité y serán aceptadas o rechazadas.
      Los ponentes tendrán un tiempo de 20 minutos para exponer sus experiencias que tiene que estar articulado
      a los objetivos y líneas definidas para el I Congreso Internacional. El espacio que tendrá será las mesas
      redondas que se organizará con las propuestas que pasaron la aprobación. Los ponentes deberán subir su ponencia
      a la aplicación de Google Docs que creará la Fundación.
    </p>
    <div class="alert alert-primary">
      <b>Fechas importantes para inscripción de ponencias:</b>
      <ul>
        <li><b>Presentación de los resúmenes:</b> Fecha máxima 31 de mayo del 2020</li>
        <li><b>Declaratoria de aceptación de la ponencia:</b> Mes de junio del 2020</li>
        <li><b>Inscripción de la ponencia definitiva</b>: A partir del mes de julio hasta el 31 de agosto del 2020</li>
      </ul>
    </div>

    <p class="text-justify">
      En cambio, los participantes que solo quieren <b><i>asistir</i></b> deberán inscribirse previamente a traves de la
      aplicación de Google Docs que creará la Fundación.
    </p>
  </div>
</div>

<br><br>
<h2>TAITAS QUE VAN A SOSTENER EL PROPÓSITO:</h2>
<div class="card border-success fuente">
  <div class="card-body">

  <div class="row">
    <div class="col-md">
      <div class="centrado">
        <img src="assets/personas/papa.png" height="100" width="90" class="rounded-circle"/>
        <h5>Taita Polibio Japón Cango</h5>
        <h6>Lider Espiritual del pueblo Saraguro-Ecuador</h6>
      </div>
    </div>
    <div class="col-md">
      <div class="centrado">
        <img src="assets/personas/alejo.png" height="100" width="90" class="rounded-circle"/>
        <h5>Taita Alejo Valdivieso Pozo</h5>
        <h6>Lider Espiritual de Shuracpamba Susudel-Ecuador</h6>
      </div>
    </div>
    <div class="col-md">
      <div class="centrado">
        <img src="assets/personas/machi.jpeg" height="100" width="90" class="rounded-circle"/>
        <h5>Machi Aniceto Rodrigo Lleuful Pichiñan</h5>
        <h6>Pueblo Mapuche-Chile</h6>
      </div>
    </div>
  </div>
</div>
</div>

<br><br>
  <h2> COMITÉ ANCESTRAL Y CIENTÍFICO DEL EVENTO:</h2>

<div class="card border-success fuente">
  <div class="card-body">

<div class="row">
    <div class="col-md">
      <div class="centrado">
        <img src="assets/personas/ricardo.jpg" height="100" width="90" class="rounded-circle"/>
        <h5>Taita Ricardo Villanueva</h5>
        <h6>Centro Yachak-Chile</h6>
      </div>
    </div>
    <div class="col-md">
      <div class="centrado">
        <img src="assets/personas/jaime.png" height="100" width="90" class="rounded-circle"/>
        <h5>Dr. Jaime Japón Gualán </h5>
        <h6>Fundación Salud y Vida Nueva</h6>
      </div>
    </div>
    <div class="col-md">
      <div class="centrado">
        <img src="assets/personas/nixon.png" height="100" width="90" class="rounded-circle"/>
        <h5>Dr Nixon Díaz</h5>
        <h6>Ministerio de Salud Ecuador (MSP)</h6>
      </div>
    </div>
    <div class="col-md">
      <div class="centrado">
        <img src="assets/personas/andrea.png" height="100" width="90" class="rounded-circle"/>
        <h5>Dra. Andrea Cabrera </h5>
        <h6>Ministerio de Salud Ecuador (MSP)</h6>
      </div>
    </div>
    <div class="col-md">
      <div class="centrado">
        <img src="assets/personas/presid.jpg" height="100" width="90" class="rounded-circle"/>
        <h5>Msc. Ángel Japon Gualán </h5>
        <h6>Fundación Salud y Vida Nueva</h6>
      </div>
    </div>
    <div class="col-md">
      <div class="centrado">
        <img src="assets/personas/polibio.jpeg" height="100" width="90" class="rounded-circle"/>
        <h5>Abg Ángel Polibio Japón Gualán </h5>
        <h6>Fundación Salud y Vida Nueva</h6>
      </div>
    </div>
  </div>

  </div>
</div>

<br><br>
  <h2>PONENTES CENTRALES DE ECUADOR, COLOMBIA Y CHILE:</h2>
<div class="card border-success fuente">
  <div class="card-body ">

  <div class="row">
    <div class="col-md mj">
      <ul>
        <li>Dr. Gamal Páez (Pais: Colombia)</li>
        <li>Dr. Nixon Díaz MSP(Pais: Ecuador)</li>
        <li>Dr. Jaime Japón (Pais: Ecuador)</li>
        <li>Taita Polivio Japón Cango (Pais: Ecuador)</li>
        <li>Taita Ricardo Villanueva (Pais: Chile)</li>
        <li>Dra. Amanda Naranjo (Pais: Colombia)</li>

      </ul>
    </div>
    <div class="col-md mj">
      <ul>
        <li>Dra. Laura Murillo (País: Colombia)</li>
        <li>Machi Aniceto Rodrigo Lleuful Pichiñan (País: Chile)</li>
        <li>Dr. José María Quishpe (País: Ecuador)</li>
        <li>Dra. Rosa Mayta (País: Ecuador)</li>
        <li>Dra. Andrea Cabrera (País: Ecuador)</li>
        <li>Abogado. Polivio Japón Gualán (País: Ecuador)</li>
      </ul>
    </div>
    <div class="col-md mj">
      <ul>
        <li>Dra. Araceli Palta (País: Ecuador)</li>
        <li>Ps. Francisco Centeno (País: Chile)</li>
        <li>Ps. Nancy Brito (País: Ecuador)</li>
        <li>Ms. Ángel Japón Gualán (País: Ecuador)</li>
        <li>Máster Reiki Mónica Espinoza (País: Ecuador)</li>
      </ul>
    </div>
  </div>
</div>
</div>

<br><br>
<h2>COSTOS:</h2>
<div class="card border-success fuente">
  <div class="card-body mj">
    <p class="text-justify">
      Al ser la Fundación una entidad sin fines de lucro los costos serán módicos, de acuerdo con los siguientes
      parámetros:
    </p>
    <h3>Ponentes</h3>
    <ul class="text-justify">
      <li>Ponentes Nacionales: <b>40 USD</b> (cubre refrigerios, materiales, certificado)</li>
      <li>Ponentes Extranjeros: <b>60 USD</b> (cubre refrigerios, materiales, certificado)</li>
    </ul>

    <a class="btn btn-outline-info" href="https://drive.google.com/open?id=1lMd9o--7j3peAfNpSdAs90YkFH0my-Sf" target="_blank">
      <i class="fa fa-download"></i> Descargar formato ponencia
    </a>
    &nbsp;
    <a class="btn btn-outline-info" href="https://drive.google.com/open?id=19n54gKnd1MtYTYkQ85VUCkQhmyrFKorW" target="_blank">
      <i class="fa fa-download"></i> Descargar circular del congreso
    </a>

    &nbsp;
    <a class="btn btn-outline-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSff0F52-K4VZzhj7V9s6mPrKXlxjfzTvPUEFMO2piwg2FfLhg/viewform?usp=sf_link" target="_blank" role="button">
      Inscribir mi ponencia</a>
    <br>

    <br>
    <h3>Asistentes</h3>
    <ul class="text-justify">
      <li>Agentes de salud nacionales(taitas, yachacks, terapistas alternativos, otros) y público en general: <b>20 USD</b> (cubre refrigerios, materiales, certificado)</li>
      <li>Profesionales del área de la salud(médicos generales, especialistas, enfermeras, auxiliares de enfermería): <b>60 USD</b> (cubre refrigerios, materiales, certificado)</li>
      <li>Asistentes extranjeros <b>50 USD</b> (cubre refrigerios, materiales, certificado)</li>
      <li>Estudiantes de las facultades de medicina: <b>30 USD</b> (cubre refrigerios, materiales, certificado)</li>
    </ul>
    <a class="btn btn-outline-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSerSyw7aEOfMbUNivl19CjQC_F3rYopCr8acOAQexhQEd1Uog/viewform?usp=sf_link" target="_blank" role="button">
      Regístrame como participante</a>
    <br>

    <br>
    <h3>Danzantes</h3>
    <ul>
      <li> <b>40 USD</b> (cubre los dos temazcales, la medicina y la comida que se dará en la pampa mesa)</li>
    </ul>

    <a class="btn btn-outline-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSeLTzu1bt3oNIli_c_1Zc4-Cdf7wvv3gOjdY3sxQ4X4jQzZLQ/viewform?usp=sf_link" target="_blank" role="button">
      Regístrame para la danza</a>
  </div>
</div>

<br><br>
<h2>FORMAS DE PAGO:</h2>
<div class="card border-success fuente">
  <div class="card-body mj">
    <h3>Para nacionales fuera del cantón Saraguro</h3>
    <ul>
      <li class="text-justify">
          Transferencia bancaria a la cuenta de ahorros de la Cooperativa de Ahorro y Crédito "Inti Wasi" INTICOOP Limitada #318
          a nombres de María Delfina Gualan Lozano. Con CI: 1101797395, # de Teléfono (+593) 0990793478 (WhatsApp).
          correo electrónico: fusayvinue@hotmail.com. Enviar el comprobante del depósito al Whatsapp
      </li>
      <li>
        También puede cancelar el día del evento en efectivo.
      </li>
    </ul>
    <br>
    <h3>Para Extranjeros</h3>
    <ul>
      <li class="text-justify">
          Transferencia bancaria a la cuenta de ahorros de la Cooperativa de Ahorro y Crédito "Inti Wasi" INTICOOP Limitada #318
          a nombres de María Delfina Gualan Lozano. Con CI: 1101797395, # de Teléfono (+593) 0990793478 (WhatsApp).
          correo electrónico: fusayvinue@hotmail.com. Enviar el comprobante del depósito al Whatsapp
      </li>
      <li>
        También puede cancelar el día del evento en efectivo.
      </li>
    </ul>

  </div>
</div>

<br>
<br>
<div class="text-center">
  <a class="btn btn-outline-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSerSyw7aEOfMbUNivl19CjQC_F3rYopCr8acOAQexhQEd1Uog/viewform?usp=sf_link" target="_blank" role="button">
    Regístrame como participante</a>
  &nbsp;&nbsp;
  <a class="btn btn-outline-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSff0F52-K4VZzhj7V9s6mPrKXlxjfzTvPUEFMO2piwg2FfLhg/viewform?usp=sf_link" target="_blank" role="button">
    Inscribir mi ponencia</a>

</div>

