<div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!isLoading">
        <div class="alert alert-info" role="alert" *ngIf="adelantos.length>0">
            <span class="fa fa-info-circle"></span> Ya tiene un adelanto registrado
        </div>
        <div *ngIf="adelantos.length===0">
            <div class="alert alert-info" role="alert">
                <span class="fa fa-info-circle"></span> No tiene adelantos registrados
                <button class="ms-3 btn btn-outline-primary" (click)="showFormCreaPagoAdelantado()">
                    <span class="fa fa-plus-circle"></span>  Crear
                </button>
            </div>            
        </div>

        <table class="table table-bordered table-hover table-sm" *ngIf="adelantos.length>0">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%">
                        <span class="fontsizesm">
                            #</span>
                    </th>
                    <th scope="col">
                        <span class="fontsizesm">
                            Fecha registro </span>
                    </th>
                    <th scope="col"><span class="fontsizesm"> Monto Adelanto </span></th>
                    <th scope="col"><span class="fontsizesm"> Saldo Disponible </span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fila of adelantos" class="hand">
                    <th scope="row" style="width: 5%">
                        <span class="fontsizesm">
                            {{adelantos.indexOf(fila) + 1}}
                        </span>
                    </th>
                    <td>
                        <span class="fontsizesm">
                            {{fila.trn_fecreg}}</span>
                    </td>
                    <td>
                        <span class="fontsizesm">
                            {{fila.dt_valor}}</span>
                    </td>
                    <td>
                        <span class="fontsizesm">{{fila.cre_saldopen}}</span>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary btn-sm" (click)="anularAdelanto(fila)">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" (click)="loadAbonos(fila)"
                            title="Ver facturas pagadas con el adelanto" *ngIf="fila.cre_saldopen<fila.dt_valor">
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row mt-2" *ngIf="abonosList.length>0">
            <div class="col-md">
                <div class="table-responsive ">
                    <p class="quitaPaddingMargin fw-light">Facturas cobradas con el adelanto <span
                            class="badge bg-info">{{abonosList.length}}</span>:</p>
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <span class="fontsizesm">#</span>
                                </th>
                                <th scope="col">
                                    <span class="fontsizesm">Fecha</span>
                                </th>
                                <th scope="col">
                                    <span class="fontsizesm">Monto</span>
                                </th>
                                <th scope="col">
                                    <span class="fontsizesm">
                                        Observación
                                    </span>
                                </th>
                                <th scope="col">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- editado -->
                            <tr *ngFor="let abo of abonosList" class="hand">
                                <td>
                                    <span class="fontsizesm">
                                        {{abonosList.indexOf(abo) + 1}}
                                    </span>
                                </td>
                                <td>
                                    <span class="fontsizesm">
                                        {{abo.trn_fecha}}</span>
                                </td>
                                <td>
                                    <span class="fontsizesm">
                                        {{abo.dt_valor}}</span>
                                </td>
                                <td>
                                    <p class="fontsizesm" style="white-space: pre-line">
                                        {{abo.trn_observ}}
                                    </p>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-outline-primary" (click)="anularAbono(abo)"
                                        title="Anular abono"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="quitaPaddingMargin p-1">
                                    <div class="d-flex flex-row-reverse">
                                        <span class="fw-bold"> Total:</span>
                                    </div>
                                </td>
                                <td class="quitaPaddingMargin p-1">
                                    <span class="fw-bold">${{totalabonos}}</span>
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card" *ngIf="isShowFormPagoAdelantado">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        Monto del adelanto:
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="inputMontoPagAdel" class="form-control"
                            [(ngModel)]="formPagoAdelantado.monto">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-primary" (click)="guardaPagoAdelantado()"><i class="fa fa-save"></i>
                    Guardar
                </button>
                <button class="btn btn-outline-secondary ms-2" (click)="cancelarCreaPagoAdelantado()"><i
                        class="fa fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>