.loadStyle{
  width: 100%;
  height: calc(100vh);
  /*background: #fff;*/
  background: #ffffff;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1000;
  -webkit-transition-duration: 1s;
  transition-duration: 1s
}
